/*put all mixins + global project variables here*/

/*Colors*/

$cb-theme-color: dodgerblue;
$chat-color: #E01563;



/*Mixins*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}