input[type="text"], textarea {
	width: 100%;
	padding: 8px;
}

label {
	display: block;
}
.form-control {
	font-size: 18px;
}
textarea {
	resize: vertical;
	min-height: 100px;
	font-size: 18px;
	margin-bottom: 10px;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label {
	background: dodgerblue;
}

div#hangout_status {
	text-align: right;
}

div.checkbox {
	display: inline-block;
	margin: 0px;

	.tooltip {
		min-width: 200px;
	}
}

label.hangout-status {
	color: black;
	padding: 6.5px 10px;
	display: inline-block;
	border: 1px solid #ccc;
	&.status-solo:hover {
		background: dodgerblue;
		color: #fff;
	}
	&.status-collaborative:hover {
		background: #0f9453;
		color: #fff;
	}
	&.status-silent:hover {
		background: #db4437;
		color: #fff;
	}
}

/*Styles for hangout status*/
input[type="radio"]:checked + label.hangout-status {
	color: white;
	&.status-solo {
		background: dodgerblue;
	}
	&.status-collaborative {
		background: #0f9453;
	}
	&.status-silent {
		background: #db4437;
	}
	&:hover {
		color: white;
	}
}

span.label { margin-right: 5px;}

.label a {color: white;}

.tooltip-inner {width: 300px;}

.delete:hover, .edit:hover { 
  cursor: pointer;
}

ul#learnings li {
	background: #ccc;
	padding: 10px;
	margin: 5px 0;
}

