input[type="text"], textarea { 
	width: 100%;
	padding: 8px;
}

label { 
	display: block;
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label {
	background: dodgerblue;
}

div#hangout_status { 
	float: right;
}
div.checkbox {
	display: inline-block;
}

label.hangout-status {
	color: black;
	padding: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	&.status-solo:hover {
		background: dodgerblue;
		color: #fff;
	}
	&.status-collaborative:hover {
		background: #0f9453;
		color: #fff;
	}
	&.status-silent:hover {
		background: #db4437;
		color: #fff;
	}
}

/*Styles for hangout status*/
input[type="radio"]:checked + label.hangout-status {
	color: white;
	&.status-solo {
		background: dodgerblue;
	}
	&.status-collaborative {
		background: #0f9453;
	}
	&.status-silent {
		background: #db4437;
	}
	&:hover {
		color: white;
	}
}