html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.navbar > li { height: 40px;}

body {
	background: dodgerblue;
}

.col { 
	background: #fff;
	padding: 0;
}

#myTabs {
	a {
		font-weight: 600;
	}
}

.col, #myTabs a {
	@include border-radius(8px);
}

.tab-content {
	padding: 0 10px;
}

#statuses {
	padding: 10px;
}