<template name="allStudyGroups">
  <div id="study-groups">
    <div class="container-fluid section-header">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Groups</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <p>Start or join groups to hold each other accountable to learning goals.</p>
              <p>In each group, you are given a 24/7 hangout room, a forum, the ability to schedule hangouts in that group, and a variety of group owner settings like the ability to auto-notify Slack channels whenever a new group meeting is scheduled.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <a href="{{pathFor 'study group owners guide'}}"
              class="btn btn-outline">
              Study Group Owners' Guide
          </a>
          <button type="button" class="btn btn-cb2 {{#unless currentUser}} continue-popup btn-createGroup-notLoggedIn {{/unless}}" id="{{#if currentUser}}createGroupButton{{/if}}">
      {{_ "start_new_group" }}
          </button>
        </div>
      </div>
    </div>
    {{> studyGroupsSearchBox}}


    {{#if sgSearchMode}}
      {{> studyGroupsSearchResult}}
    {{/if}}

    {{#unless sgSearchMode}}
      <div class="container margin-top-2">

        {{#if studyGroups.count}}
          <div class="row">
            {{#each studyGroups}}

              <div class="col-md-4">
                <div class="well card">
                  <h4>
                    <a href="{{pathFor 'study group' studyGroupSlug=slug studyGroupId=_id}}">  {{title}} </a>
                    <br> <small class="tagline">{{tagline}}</small> <small class="members"><i class="fas fa-users fa-fw"></i>{{members.length}}</small>
                    {{#if updatedAt}}
                    <br> <small><b>Last Activity: </b> {{ relativeTime updatedAt }}</small>
                    {{/if}}
                    {{#if numParticipants _id}}
                    <small><i class="fas fa-laptop fa-fw"></i>{{ numParticipants _id }}</small>
                    {{/if}}
                    {{#if isInRole 'owner' _id}}
                      <span class="label label-primary pull-right">Owner</span>
                    {{/if}}
                    {{#if isInRole 'admin' _id}}
                      <span class="label label-primary pull-right">Admin</span>
                    {{/if}}
                    {{#if isInRole 'moderator' _id}}
                      <span class="label label-primary pull-right">Moderator</span>
                    {{/if}}
                    {{#if isInRole 'member' _id}}
                      <span class="label label-primary pull-right">Member</span>
                    {{/if}}
                  </h4>

                  {{#unless isInRole 'owner, admin, moderator, member' _id }}
                      <button class="btn btn-join-study-group {{#unless currentUser}} continue-popup {{else}} join-study-group {{/unless}}">{{_ "join_study_group"}}</button>
                  {{/unless}}

                  {{#if isInRole 'admin, moderator, member' _id }}
                      <button class="btn btn-leave-study-group">{{_ "leave_study_group"}}</button>
                  {{/if}}
                </div>
              </div>

            {{/each}}
          </div>
        {{/if}}

        {{#unless Template.subscriptionsReady}}
          {{> loading}}
        {{/unless}}

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            {{#unless status}}
              <button id="loadMoreStudyGroups" class="btn btn-default btn-block btn-load-more">Load More</button>
            {{else}}
              <h5 class="align-center">There are no more study groups.</h5>
            {{/unless}}
          </div>
        </div>

      </div>
    {{/unless}}

  </div><!-- #study-groups -->
</template>
