<template name="allStudyGroupsHomepage">
  <div class="study-groups-list">

      <h5>Study Groups</h5>

      {{#if Template.subscriptionsReady}}
        {{#if studyGroups.count}}
        <ul>
          {{#each studyGroups}}
            

            <li>
                <a href="{{pathFor 'study group' studyGroupSlug=slug studyGroupId=_id}}" class="study-group-item">  <span class="label label-default">{{title}}</span>
                  <br> <small style="display: none;">{{tagline}}</small> <small class="members"><i class="fas fa-users fa-fw"></i>{{members.length}}</small>
                  {{#if isInRole 'owner' _id}}
                    <span class="label-box label label-primary pull-right">Owner</span>
                  {{/if}}
                  {{#if isInRole 'admin' _id}}
                    <span class="label-box label label-primary pull-right">Admin</span>
                  {{/if}}
                  {{#if isInRole 'moderator' _id}}
                    <span class="label-box label label-primary pull-right">Moderator</span>
                  {{/if}}
                  {{#if isInRole 'member' _id}}
                    <span class="label-box label label-primary pull-right">Member</span>
                  {{/if}}
                </a>
              </li>

          {{/each}}
        </ul>
        {{else}}

          <!-- <div class="jumbotron align-center">
            <div class="container">
              <div class="row text-center">

                  <h5>You don't have any studygroups</h5>
                  <div class="btn btn-default" id="newStudyGroup">Create A Study Group</div>
                  &nbsp; OR &nbsp;
                  <div class="btn btn-default" id="findMeStudyGroup">Find me a Study Group</div>
              </div>
             </div>
          </div> -->

        {{/if}}
      {{else}}
        {{> loading}}
      {{/if}}<!-- ./Template.subscriptionsReady -->

      {{#if status}}
          <div class="well well--end-of-page">
            <h5 class="text-center">You've reached the end of the page.</h5>
          </div>
      {{/if}}


  </div><!-- #study-groups -->
</template>
