<template name="allStudyGroups">
  <div id="study-groups">


    <div class="section study-groups-top">
        <div class="container">
          <div class="row">
              <div class="col-md-12 align-center">
                <h2>Study Groups</h2>
                <div class="btn btn-cb2 {{#unless currentUser}} continue-popup btn-createGroup-notLoggedIn {{/unless}}"
                  id="{{#if currentUser}}createGroupButton{{/if}}"> {{_ "start_new_group"}} </div>
            </div>
          </div>
      </div>
    </div>

    {{> studyGroupsSearchBox}}

    {{#if sgSearchMode}}
      {{> studyGroupsSearchResult}}
    {{/if}}


    {{#unless sgSearchMode}}
      <div class="container margin-top-2">

        {{#if Template.subscriptionsReady}}
          {{#if studyGroups.count}}
          <div class="row">
            {{#each studyGroups}}

              <div class="col-md-4">
              <div class="well card">
                <h4>
                  <a href="{{pathFor 'study group' studyGroupSlug=slug studyGroupId=_id}}">  {{title}} </a>
                  <br> <small>{{tagline}}</small> <small><i class="fa fa-users fa-fw"></i>{{members.length}}</small>
                  {{#if numParticipants _id}}
                  <small><i class="fa fa-laptop fa-fw"></i>{{ numParticipants _id }}</small>
                  {{/if}}
                  {{#if isInRole 'owner' _id}}
                    <span class="label label-primary pull-right">Owner</span>
                  {{/if}}
                  {{#if isInRole 'admin' _id}}
                    <span class="label label-primary pull-right">Admin</span>
                  {{/if}}
                  {{#if isInRole 'moderator' _id}}
                    <span class="label label-primary pull-right">Moderator</span>
                  {{/if}}
                  {{#if isInRole 'member' _id}}
                    <span class="label label-primary pull-right">Member</span>
                  {{/if}}

                </h4>
              </div>
              </div>
            {{/each}}
            </div>
          {{else}}

          {{/if}}

        {{else}}
          {{> loading}}
        {{/if}}<!-- ./Template.subscriptionsReady -->

        {{#if status}}
            <div class="well well--end-of-page">
              <h5 class="text-center">You've reached the end of the page.</h5>
            </div>
        {{/if}}

      </div>
    {{/unless}}

  </div><!-- #study-groups -->
</template>
