<template name="myStudyGroups">
  <div id="study-groups">


    <div class="section study-groups-top">
        <div class="container">
          <div class="row">
              <div class="col-md-12 align-center">
                <h2>My Study Groups</h2>
            </div>
          </div>
      </div>
    </div>

    <div class="container margin-top-2">
      {{#if Template.subscriptionsReady}}
        {{#if studyGroups.count}}
          {{#each studyGroups}}
            <div class="well">
              <h4>
                <a href="{{pathFor 'study group' studyGroupSlug=slug studyGroupId=_id}}">  {{title}} </a>
                <br> <small>{{tagline}}</small> <small class="members"><i class="fas fa-users fa-fw"></i>{{members.length}}</small>
                {{#if numParticipants _id}}
                <small><i class="fas fa-laptop fa-fw"></i>{{ numParticipants _id }}</small>
                {{/if}}
                {{#if isInRole 'owner' _id}}
                  <span class="label label-primary pull-right">Owner</span>
                {{/if}}
                {{#if isInRole 'admin' _id}}
                  <span class="label label-primary pull-right">Admin</span>
                {{/if}}
                {{#if isInRole 'moderator' _id}}
                  <span class="label label-primary pull-right">Moderator</span>
                {{/if}}
                {{#if isInRole 'member' _id}}
                  <span class="label label-primary pull-right">Member</span>
                {{/if}}

              </h4>

              {{#if isInRole 'admin, moderator, member' _id }}
                  <button class="btn btn-leave-study-group">{{_ "leave_study_group"}}</button>
              {{/if}}
            </div>
          {{/each}}

          {{#if status}}
              <div class="well well--end-of-page">
                <h5 class="text-center">You've reached the end of the page.</h5>
              </div>
          {{/if}}

        {{else}}

          <div class="jumbotron align-center">
            <div class="container">
              <div class="row text-center">

                <p>You are not a member of any study groups!</p>
                <a class="btn btn-cb2 btn-default-size" id="newStudyGroup">{{_ "create"}}</a>
                 <p>or</p>
                <a class="btn btn-cb2 btn-default-size" id="findMeStudyGroup" href="/study-groups">{{_ "find_study_group"}}</a>

              </div>
             </div>
          </div>

        {{/if}}

      {{else}}
        {{> loading}}
      {{/if}}

    </div>

  </div><!-- #study-groups -->
</template>
