<template name="singleStudyGroup">
  {{#if Template.subscriptionsReady}}
    <div class="container" id="study-groups">
      {{#with studyGroup}}
        <div class="panel panel-default">
          <div class="panel-body">

            <div class="page-header">
              <h3>{{title}}   <small>{{tagline}} </small></h3>

              {{#unless isInRole 'owner, moderator ,member' _id}}
                <div class="btn btn-cb2 join-hangout {{#if currentUser}} joinStudyGroup study-action {{else}} continue-popup {{/if}}">{{_ "join_study_group"}}</div>
              {{else}}
                {{#if isInRole 'moderator, member' _id}}
                  <div class="btn btn-cb2 join-hangout {{#if currentUser}} leaveStudyGroup study-action btn-leave {{else}} continue-popup {{/if}}">{{_ "leave_study_group"}}</div>
                {{/if}}
                {{#if isInRole 'moderator, member' _id}}
                  <div id="create-hangout-popup" class="btn btn-cb2 join-hangout {{#if currentUser}} study-action {{else}} continue-popup {{/if}}">{{_ "create_a_hangout"}}</div>
                {{/if}}

              {{/unless}}
            </div>

            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">{{_ 'info'}}</a></li>
              <li role="presentation"><a href="#hangouts" aria-controls="hangouts" role="tab" data-toggle="tab">{{_ 'hangouts'}}</a></li>
              <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">{{_ 'members'}}</a></li>
              <li role="presentation"><a href="#learnings" aria-controls="resources" role="tab" data-toggle="tab">{{_ 'learnings'}}</a></li>
              <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">{{_ 'resources'}}</a></li>
              <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">{{_ 'discussion'}}</a></li>
              <li role="presentation"><a href="#availability" aria-controls="availability" role="tab" data-toggle="tab">{{_ 'availability'}}</a></li>
              <li role="presentation"><a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">{{_ 'activity'}}</a></li>
              {{#if isInRole 'owner, moderator ' _id}}
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{_ 'settings'}}</a></li>
              {{/if}}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="info">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="text-center">
                      {{> hangoutFrame }}
                      <p>Chat or study with whoever is around! This room will always be open for this study group.</p>
                    </div>
                  </div>
                </div>

              </div><!-- #/info -->

              <div role="tabpanel" class="tab-pane" id="hangouts">
                <div class="container">
                    {{> hangoutByGroup id=_id}}
                </div>

              </div><!-- #/hangouts -->


              <div role="tabpanel" class="tab-pane" id="members">

                {{#if members}}

                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Members</h3>
                      </div>
                      <div class="panel-body">
                        {{#each members}}
                          <!-- <a href="{{pathFor 'profile' name=name userId=id}}">
                            <img src="{{avatar}}" alt="{{name}}" class="img-circle">
                          </a> -->

                          <img src="{{avatar}}" alt="{{name}}" class="img-circle" id="memberDetail" data-id="{{id}}">

                        {{/each}}
                      </div>
                    </div>


                {{else}}


                {{/if}}

              </div><!-- #/members -->

              <div role="tabpanel" class="tab-pane" id="learnings">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Learnings</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-center">
                      <h5>{{_ "coming_soon" }}</h5>
                    </div>
                  </div>
                </div>
              </div><!-- #/learnings -->

              <div role="tabpanel" class="tab-pane" id="resources">
                <br>
                {{#if isInRole 'owner,manager' _id}}
                  <div class="btn btn-default" id="addResource"> + </div>
                {{/if}}
                {{#unless isAddResource}}

                    {{> resourcesList}}

                  {{else}}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="well">
                          <h4>Add a new resource</h4>
                          <form class="addResource">

                            <div class="form-group">
                               <input type="text" class="form-control" id="resourceTitle" placeholder="Description">
                            </div>
                            <div class="form-group">
                               <input type="text" class="form-control" id="resourceURL" placeholder="URL">
                            </div>

                            <button type="submit" class="btn btn-cb2 pull-right">Submit</button> &nbsp;
                            <button type="button" id="cancelAddResource" class=" btn btn-cb2 pull-right">Cancel</button>
                          </form>

                      </div>
                    </div>
                 </div>


                  {{/unless}}


              </div><!-- #/resources -->

              <div role="tabpanel" class="tab-pane" id="discussion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Discussion</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-center">
                      <h5>{{_ "coming_soon" }}</h5>
                    </div>
                  </div>
                </div>
              </div><!-- #/discussion -->

              <div role="tabpanel" class="tab-pane" id="availability">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Availability</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-center">
                      <h5>{{_ "coming_soon" }}</h5>
                    </div>
                  </div>
                </div>
              </div><!-- #/availability -->


              <div role="tabpanel" class="tab-pane" id="activities">



                <!-- <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Activities</h3>
                  </div>
                  <div class="panel-body">
                    <div class="text-center">
                      <h5>{{_ "coming_soon" }}</h5>
                    </div>
                  </div>
                </div> -->
              {{#each activities}}

                <div class="well row">
                  <div class="col-xs-2 col-md-1">
                    <a href="#" class="thumbnail">
                      <img src="{{actor.avatar}}" alt="{{actor.name}}">
                    </a>
                  </div>
                  <div class="col-xs-3 col-md-1">
                    <h6>{{actor.name}}</h6>
                  </div>
                  <div class="col-xs-7 col-md-9">
                    {{action}}
                  </div>
                </div>

              {{/each}}

              </div><!-- #/Activities -->


              {{#if isInRole 'owner, moderator ' _id}}
              <div role="tabpanel" class="tab-pane" id="settings">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Archive Group</h3>
                  </div>
                  <div class="panel-body">
                    <h5>Archive this study group</h5>
                    <div class="btn btn-danger" id="deleteMyAccount">Archive Group</div>
                  </div>
                </div>
              </div><!-- #/settings -->
              {{/if}}


            </div><!-- ./Tab panes -->

          </div><!-- ./panel-body -->
          <div class="panel-footer">
            <p>{{_ "learning_message" count=usersOnlineCount}} right now. More people are online on the CodeBuddies <a href="http://codebuddies.slack.com">Slack</a>. (Not a member? <a href="http://codebuddiesmeet.herokuapp.com/" target="_blank">Get your invite here.</a>)</p>
          </div>
        </div> <!-- ./panel panel-default -->

      {{else}}
        not found
      {{/with}}

    </div><!-- ./container -->
  {{else}}
    {{> loading}}
  {{/if}}<!-- ./Template.subscriptionsReady -->
</template>
