<template name="singleStudyGroup">
  {{#if Template.subscriptionsReady}}
    <div class="container" id="study-groups">
      {{#with studyGroup}}
        <br>
        <div class="row">
          <ol class="breadcrumb">
            {{#unless isInRole 'owner, moderator, member' _id}}
              <li><a href="{{pathFor 'all study groups'}}">Study Groups</a></li>
            {{else}}
              <li><a href="{{pathFor 'my study groups'}}">My Study Groups</a></li>
            {{/unless}}
            <li class="active">{{title}}</li>
          </ol>
        </div>


        <div class="row">
          <div class="well">
            <h2>{{title}}
              <div class="pull-right">
                {{#unless isInRole 'owner, moderator, member' _id}}
                  <div class="btn btn-cb2 {{#if currentUser}} joinStudyGroup {{else}} continue-popup {{/if}}">{{_ "join_study_group"}}</div>
                {{else}}
                  {{#if isInRole 'moderator, member' _id}}
                    <div class="btn btn-cb2 leaveStudyGroup btn-leave">{{_ "leave_study_group"}}</div>
                  {{/if}}
                {{/unless}}
              </div>
            </h2>
            <h5><i class="fa fa-map-pin" aria-hidden="true"></i> {{tagline}}</h5>



          </div>
        </div>

        <div class="row">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">{{_ 'info'}}</a></li>
            <li role="presentation"><a href="#247hangout" aria-controls="247hangout" role="tab" data-toggle="tab">{{_ 'twentyforseven'}}</a></li>
            <li role="presentation"><a href="#hangouts" aria-controls="hangouts" role="tab" data-toggle="tab">{{_ 'hangouts'}}</a></li>
            <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">{{_ 'members'}}</a></li>
            <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">{{_ 'resources'}}</a></li>
            <li role="presentation"><a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">{{_ 'activities'}}</a></li>
            {{#if isInRole 'owner, moderator ' _id}}
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{_ 'settings'}}</a></li>
            {{/if}}
          </ul>
        </div>

        <br>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="info">
            {{> studyGroupInfo}}
          </div>


          <div role="tabpanel" class="tab-pane" id="247hangout">
            <div class="text-center">
              {{> hangoutFrame }}
              <p>Chat or study with whoever is around! This room will always be open for this study group.</p>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="hangouts">
            {{> studyGroupHangouts}}
          </div>

          <div role="tabpanel" class="tab-pane" id="members">
            {{> studyGroupMembers}}
          </div>

          <div role="tabpanel" class="tab-pane" id="resources">
            {{> studyGroupResources}}
          </div>

          <div role="tabpanel" class="tab-pane" id="activities">
            {{> studyGroupActivities}}
          </div><!-- #/Activities -->

          {{#if isInRole 'owner, admin' _id}}
            <div role="tabpanel" class="tab-pane" id="settings">
              {{> studyGroupSettings}}
            </div>
          {{/if}}

          <br>

        </div>





      {{else}}
        Not found.
      {{/with}}

    </div><!-- ./container -->
  {{else}}
    {{> loading}}
  {{/if}}<!-- ./Template.subscriptionsReady -->
</template>
