<template name="studyGroupHangouts">
  {{#if isInRole 'member' _id}}
    <p>If you'd like to schedule a hangout for this study group, you will need to be an organizer of the group.</p>
  {{/if}}
  <div id="hangout-board">
    <div class="hangout-board">
      <div>
          <div class="col-md-3 col-md-offset-9">
            {{#if isInRole 'owner, admin, moderator' _id}}
              <div class="btn btn-cb2 {{#unless currentUser}} continue-popup {{/unless}}" id="{{#if currentUser}}newHangout{{/if}}"  >{{_ "create_a_hangout"}}</div>
            {{/if}}
          </div>
      </div><!--row-->

        {{#if Template.subscriptionsReady}}
          <div class="row margin-top-1">
              {{#each hangouts}}
               <div class="col-md-4">
                  {{> hangoutCard}}
               </div>
              {{else}}
                  <h5 class="text-center well">No hangouts displayed.</h5>
              {{/each}}
          </div>

          {{#if status}}
            <h5 class="text-center well">You've reached the end of the page.</h5>
          {{/if}}

        {{else}}
            {{> loading}}
        {{/if}}
    </div>

  </div><!--hangout-board-->
</template>
