<template name="studyGroupAvailability">

  {{#if isInRole 'owner, admin, moderator' _id}}
    <div class="page-header">
      <div class="btn btn-default pull-right" id="addSlot">Add</div>
    </div>
  {{/if}}


  {{#if Template.subscriptionsReady}}

    {{#each availabilities}}
      <br> {{author.name}}, {{> availabilitySlotLocal d=start_day h=start_hour m=start_minute}} TO {{> availabilitySlotLocal d=end_day h=end_hour m=end_minute}}
    {{/each}}

  {{else}}

    {{> loading}}

  {{/if}}


</template>
