<template name="studyGroupAvailability">

  {{#if isInRole 'owner, admin, moderator, member' _id}}
    <div class="page-header">
      <div class="btn btn-default pull-right" id="addSlot">Add</div>
    </div>
  {{/if}}


  {{#if Template.subscriptionsReady}}

    <div class="row">
      <div class="col-md-6">
        {{#each availabilities}}
          {{#unless isAuthor author.id}}
            <br> {{author.name}}, {{> availabilitySlotLocal d=start_day h=start_hour m=start_minute}} TO {{> availabilitySlotLocal d=end_day h=end_hour m=end_minute}}
          {{/unless}}
        {{/each}}
      </div>
      <div class="col-md-6">
        {{#each availabilities}}
          {{#if isAuthor author.id}}
            <br> {{author.name}}, {{> availabilitySlotLocal d=start_day h=start_hour m=start_minute}} TO {{> availabilitySlotLocal d=end_day h=end_hour m=end_minute}}
          {{/if}}

        {{else}}

        {{/each}}
      </div>
    </div>


  {{else}}

    {{> loading}}

  {{/if}}


</template>
