<template name="studyGroupHangouts">
  <div id="hangout-board">
    <div class="hangout-board">

      {{#if isInRole 'owner, admin, moderator' _id}}
        <div class="col-md-3 col-md-offset-9 margin-bottom-1">
          <div class="btn btn-cb2 btn-schedule-hangout {{#unless currentUser}} continue-popup {{/unless}}" id="{{#if currentUser}}newHangout{{/if}}"  >{{_ "create_a_hangout"}}</div>
        </div>
      {{else}}
        {{#if equals exempt_from_default_permission true}}
            {{#if isInRole 'owner, admin, moderator, member' _id}}
                <div class="col-md-3 col-md-offset-9 margin-bottom-1">
                    <div class="btn btn-cb2 btn-schedule-hangout {{#unless currentUser}} continue-popup {{/unless}}" id="{{#if currentUser}}newHangout{{/if}}"  >{{_ "create_a_hangout"}}</div>
                </div>
            {{/if}}
        {{else}}
          <div class="alert-info">
            If you'd like to schedule a hangout for this study group, <strong>please ask an organizer</strong> to make you an organizer or change the permission settings of the group.
          </div>
        {{/if}}
      {{/if}}



        {{#if Template.subscriptionsReady}}
          <div>
              {{#each hangouts}}
               <div class="col-md-4">
                  {{> hangoutCard}}
               </div>
              {{else}}
                  <div class="alert-warning">No hangouts have been scheduled by group members yet.</div>
              {{/each}}
          </div>

          {{#if status}}
            <div class="alert-warning">You've reached the end of the page.</div>
          {{/if}}

        {{else}}
            {{> loading}}
        {{/if}}
    </div>

  </div><!--hangout-board-->
</template>
