<template name="studyGroupLearnings">
    {{#if isInRole 'owner, admin, moderator, member ' _id}}
      <div class="col-md-3 col-md-offset-9 margin-bottom-1">
          <div class="btn btn-cb2 btn-schedule-hangout {{#unless currentUser}} continue-popup {{/unless}}" id="{{#if currentUser}}newProgressLog{{/if}}"  >{{_ "create_a_progress_log"}}</div>
      </div>
    {{/if}}

	{{#if learnings.count}}
		<div class="status-list">
			<div class="learnings">
				{{#each learnings}}
					{{> learningItem}}
				{{/each}}
			</div>
		</div>
	{{ else }}
    {{#if isInRole 'owner, admin, moderator, member ' _id}}
		  <h5 class="well margin-top-1">Please share something you learned or accomplished.</h5>
    {{else}}
      <h5 class="well margin-top-1">There will be more to see here once any member shares their accomplished.</h5>
    {{/if}}
	{{/if}}
    {{#if Template.subscriptionsReady}}
    	{{#if hasMoreLearnings}}
        	<button id="load-more-learnings" class="btn btn-default btn-block">Load more</button>
    	{{/if}}
  	{{/if}}

</template>
