<template name="studyGroupDiscussion">
  {{#if isInRole 'owner, admin, moderator, member' _id}}
    <div class="page-header">
      <div class="btn btn-default pull-right" id="addDiscussion">Add</div>
      <br>
    </div>
  {{/if}}



  <div class="row">
    <div class="col-md-9">
      <h3>Topic</h3>
    </div>
    <div class="col-md-2">
      <h3>Author</h3>
    </div>
    <div class="col-md-1">
      <div class="btn btn-default pull-right"><i class="fa fa-filter" aria-hidden="true"></i></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <h4><small>Eric Schmidt has seen the future of magazines, and it's on the tablet. At a Magazine Publishers Association.</small></h4>
    </div>
    <div class="col-md-2">
      <h5>distalx</h5>
    </div>
    <div class="col-md-1">
      <div class="btn btn-default btn-sm">...</div>
    </div>
    <div class="col-md-12">
      <h4>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <small><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on : 20 Nov @ 9:30am</small> &nbsp; &nbsp;
        <small><i class="fa fa-comments-o" aria-hidden="true"></i> 397 </small> &nbsp; &nbsp;
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <h6><small>Eric Schmidt has seen the future of magazines, and it's on the tablet. At a Magazine Publishers Association.</small></h6>
    </div>
    <div class="col-md-3">
      <h5>distalx</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <small><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on : 20 Nov @ 9:30am</small> &nbsp; &nbsp;
        <small><i class="fa fa-comments-o" aria-hidden="true"></i> 397 </small> &nbsp; &nbsp;
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <h4><small>Eric Schmidt has seen the future of magazines, and it's on the tablet. At a Magazine Publishers Association.</small></h4>
    </div>
    <div class="col-md-3">
      <h5>distalx</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <small><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on : 20 Nov @ 9:30am</small> &nbsp; &nbsp;
        <small><i class="fa fa-comments-o" aria-hidden="true"></i> 397 </small> &nbsp; &nbsp;
      </h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-9">
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>
      <h6><small>Eric Schmidt has seen the future of magazines, and it's on the tablet. At a Magazine Publishers Association.</small></h6>
    </div>
    <div class="col-md-3">
      <h5>distalx</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 22 &nbsp; &nbsp;
        <small><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on : 20 Nov @ 9:30am</small> &nbsp; &nbsp;
        <small><i class="fa fa-comments-o" aria-hidden="true"></i> 397 </small> &nbsp; &nbsp;
      </h4>
    </div>
  </div>
  <hr>


  <!-- {{#if Template.subscriptionsReady}}
  {{> else}}
    {{> loading}}
  {{/if}} -->

</template>
