<template name="studyGroupSettings">
  <!-- Group permission -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Who can start/schedule a hangout for this group?</h3>
    </div>
    <div class="panel-body">
      <p>By default, only you (the owner), admins and moderators are allowed to start hangouts for this group. You can opt to allow everyone (including members) schedule hangouts too.</p>
      <select class="form-control" id="hangoutPermission">
        <option value="false"  {{selected exempt_from_default_permission  false}}>Default (admins and moderators)</option>
        <option value="true" {{selected exempt_from_default_permission  true}}>Everyone in the group (admins, moderators, and members)</option>
      </select>
    </div>
  </div>

  <!-- New Hangout Notification Slack Channels -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{_ "new_hangout_slack_channel"}}</h3>
    </div>
    <div class="panel-body">
      <select class="form-control" id="hangoutChannelList" style="width: 100%;" multiple="multiple">
        <option value="{{id}}">{{text}}</option>
      </select>
      <div class="row">
        <div class="col-md-12">
          <div class="btn btn-danger btn-sm margin-top-1" id="hangoutChannel">Save</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Transfer ownership -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Transfer ownership</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li>This process irreversible.</li>
            <li>You will be demoted to the `admin` role.</li>
          </ul>
        </div>
        <div class="col-md-12">
          <label for="">New owner’s username</label>
          <select class="form-control" id="studyGroupMemberList" style="width: 100%;">
            <option></option>
            <option value="{{id}}">{{name}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-danger btn-sm margin-top-1" id="transferOwnership">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Archive this study group -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Archive this study group</h3>
    </div>
    <div class="panel-body">
      <p>Warning: this cannot be undone! Only you, as the owner, can archive this group.</p>
      <div class="btn btn-danger btn-sm" id="archiveStudyGroup">Archive Group</div>
    </div>
  </div>

</template>
