<template name="studyGroupMembers">
  {{#if isInRole 'owner, admin, moderator, member ' _id}}
      {{> memberStatus }}
  {{/if}}

  {{#if isInRole 'owner, admin' _id}}
    <p class="well"><h5>You can modify your members' roles here.</h5>
      <ul>
        <li>Admins can promote other members to be moderators, and change the group title and description.</li>
        <li>Moderators can add resources to the group.</li>
        {{#if equals exempt_from_default_permission true}}
            <li><strong>Every member</strong> of this group can schedule hangouts for this group. {{#if isInRole 'owner' _id}}(Change this permisison in <strong>Settings</strong>.){{/if}}</li>
        {{else}}
            <li>Only <strong>admins</strong> and <strong>moderators</strong> can schedule hangouts for this group. {{#if isInRole 'owner' _id}}(Change this permission in <strong>Settings</strong>.){{/if}}</li>
        {{/if}}

      </ul>
    </p>
  {{/if}}


  <div class="members">
    {{#if isInRole 'owner, admin, moderator' _id}}

      <div  id="members">
      {{#each members}}
        <div class="member-card col-md-6">
          <div class="member-card-avatar col-md-6">
            <a href="{{pathFor 'profile' name=name userId=id}}">
              <img src="{{avatar}}" alt="{{name}}" class="img-circle" data-id="{{id}}"> <strong>{{ name }}</strong>
            </a>
          </div>
          <div class="member-card-status col-md-6">
            <span>{{status}}</span>
            <a class="memberDetail btn btn-default pull-right">Modify</a>
          </div>
        </div>
      {{/each}}
      </div>

    {{else}}
      <ul id="members">
      {{#each members}}
        <div class="col-md-6">
          <li>
            <a href="{{pathFor 'profile' name=name userId=id}}" class="{{#unless currentUser}} continue-popup {{/unless}}">
              <img src="{{avatar}}" alt="{{name}}" class="img-circle" data-id="{{id}}"> <strong>{{ name }}</strong>
            </a>
            <span>{{status}}</span>
          </li>
        </div>
      {{/each}}
      </ul>
    {{/if}}

  </div>

</template>
