<template name="learningItem">
  <button class="btn-{{#if buttonStatus}}un{{/if}}like btn btn-learning btn-xs btn-outline"><i class="fa fa-heart"></i></button>
  <div>
    <ul class="status-item">
      <li><div class="kudo-holder"><label class="kudo-count">+{{kudos}}</label></div></li>
      <li><button class="btn btn-xs btn-success btn-outline">{{username}}</button></li>
      <li><label class="status">{{text}}&nbsp;&nbsp;<span class="status-date">{{livestamp timestamp}}</span></label></li>
    </ul>
  </div>
</template>
