<template name="statusItem">
  <div>
    <ul class="status-item">
      <li>
      {{#if logged_in_using_codebuddies_team}}
      	<a href="https://codebuddiesmeet.slack.com/messages/@{{user_info.name}}/" target="_blank"><button class="btn btn-xs {{hangoutStatus}} btn-outline">{{user_info.name}}</button></a>
      {{else}}
      	<button class="btn btn-xs {{hangoutStatus}} btn-outline">{{user_info.name}}</button>
      {{/if}}
      </li>
      <li><label class="status">{{statusMessage}}</label>&nbsp;&nbsp;<span class="status-date">{{livestamp statusDate}}</span></li>
    </ul>
  </div>
</template>
