<template name="statusList">
  <div class="status-list">
    {{#if isWorking type}}
      {{#unless currentUser}}
        <p class="align-center">Please <a href="#" class="signIn">sign in with <i class="fab fa-slack-hash"></i> Slack</a> or <a href="#" class="signInGithub">sign in with <i class="fab fa-github"></i> Github</a> to see the current users online.</p>
        <p><i class="fab fa-slack-hash"></i><a href="http://codebuddiesmeet.herokuapp.com" target="_blank"> Join the CodeBuddies Slack</a></p>
      {{else}}
          <div class="title">{{_ "learning_message" count=usersOnlineCount}}</div>
          {{#each usersOnline}}
            {{> statusItem}}
          {{/each}}
      {{/unless}}
    {{else}}
      <div class="title">{{_ "accomplishment_message" count=learnedUsersCount}}</div>
      {{#each learnings}}
        {{> learningItem}}
      {{/each}}
      {{#if Template.subscriptionsReady}}
        {{#if hasMoreLearnings}}
          <button id="load-more-learnings" class="btn btn-default btn-block">Load more</button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</template>
