<template name="statusItem">
  <div>
    <ul class="status-item">
      <li>
       <span><i class="fa {{hangoutStatus}}"></i></span>
      </li>
      <li>
        <label class="status">{{statusMessage}}</label>&nbsp;&nbsp;<a href="{{pathFor 'profile' name=username userId=_id}}"><span class="username">{{username}}</span></a> <a href="https://codebuddies.slack.com/messages/@{{username}}/" target="_blank" class="message"><i class="fa fa-envelope-o"></i></a> - <span class="status-date">{{livestamp statusDate}}</span>
      </li>
    </ul>
  </div>
</template>
