<template name="profileEdit">
  <div id="profileEdit">
    <div class="col-md-6">
      <div class="col-md-3">
        <img src="{{#if profile.avatar.image_192 }} {{profile.avatar.image_192}} {{else}} {{profile.avatar.default}} {{/if}}" class="img-circle" alt="profile image"/>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" value="{{username}}" readonly>
        </div>
        <div class="form-group">
          <label for="firstname">First name</label>
          <input type="text" class="form-control" name="firstname" value="{{profile.firstname}}">
        </div>
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input type="text" class="form-control" name="lastname" value="{{profile.lastname}}">
        </div>
        <div class="form-group">
          <label for="bio">Short Bio
            <span class="bioCharLeft pull-right">
              {{bioCharCount}} characters left
            </span>
          </label>
          <textarea id="bio-text" class="form-control" name="bio" value="{{profile.bio}}" rows="3" maxlength="140"></textarea>
        </div>
        <div class="form-group">
          <label for="skills-to-help">Skill(s) you can help others with</label>
          <textarea id="skills-help-text" class="form-control" name="skills-to-help" value="{{profile.skillHelpOthersWith}}" rows="2"></textarea>
        </div>
        <div class="form-group">
          <label for="skills-to-improve">Skill(s) you want to improve</label>
          <textarea id="skills-improve-text" class="form-control" name="skills-to-improve" value="{{profile.skillWantToImprove}}" rows="2"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6" style="padding-left: 0;">
        <div class="form-group dynamic">
          <label for="twitter">Twitter</label>
          <input type="text" class="form-control" name="twitter" placeholder="codebuddies" value="{{profile.social.twitter}}">
        </div>
        <div class="form-group dynamic">
          <label for="GitHub">GitHub</label>
          <input type="text" class="form-control" name="github" placeholder="codebuddies" value="{{profile.social.github}}">
        </div>
        <div class="form-group dynamic">
          <label for="slack">Buy Me A Coffee</label>
          <input type="text" class="form-control" name="buymeacoffee" placeholder="buymeacoffee.com username" value="{{profile.support_links.buymeacoffee}}">
        </div>
        <div class="form-group dynamic">
          <label for="slack">Non-Profit You Support</label>
          <input type="text" class="form-control" name="nonprofit" placeholder="https://supportthiscausefor.me" value="{{profile.support_links.nonprofit}}">
        </div>
      </div>
      <div class="col-md-6" style="padding-right: 0;">
        <div class="form-group dynamic">
          <label for="facebook">Facebook</label>
          <input type="text" class="form-control" name="facebook" placeholder="topstudygroup" value="{{profile.social.facebook}}">
        </div>
        <div class="form-group dynamic">
          <label for="slack">LinkedIn</label>
          <input type="text" class="form-control" name="linkedin" placeholder="codebuddies" value="{{profile.social.linkedin}}">
        </div>
        <div class="form-group dynamic">
          <label for="slack">Patreon</label>
          <input type="text" class="form-control" name="patreon" placeholder="https://patreon.com/codebuddies" value="{{profile.support_links.patreon}}">
        </div>
        <div class="form-group dynamic">
          <label for="website">Website</label>
          <input type="text" class="form-control" name="website" placeholder="https://thisisme.com" value="{{profile.website}}">
        </div>
      </div>
      <!-- <div class="form-group dynamic">
        <label for="website">Website</label>
        <input type="text" class="form-control" name="website" value="{{profile.website}}">
      </div> -->
      <button id="updateProfile" name="button" class="btn btn-danger">Save</button>
      <button id="cancelProfileEdit" name="button" class="btn btn-white btn-outline">Cancel</button>
    </div>


  </div>
</template>
