<template name="profileEdit">
  <div id="profileEdit">
    <div class="col-md-6">
      <div class="col-md-3">
        <img src="{{#if profile.avatar.image_192 }} {{profile.avatar.image_192}} {{else}} {{profile.avatar.default}} {{/if}}" class="img-circle" alt="profile image"/>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" value="{{username}}" readonly>
        </div>
        <div class="form-group">
          <label for="bio">Short Bio
            <span class="bioCharLeft pull-right">
              {{bioCharCount}} characters left
            </span>
          </label>
          <textarea id="bio-text" class="form-control" name="bio" value="{{profile.bio}}" rows="3" maxlength="140"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6" style="padding-left: 0;">
        <div class="form-group dynamic">
          <label for="twitter">Twitter</label>
          <input type="text" class="form-control" name="twitter" placeholder="codebuddies" value="{{profile.social.twitter}}">
        </div>
        <div class="form-group dynamic">
          <label for="GitHub">GitHub</label>
          <input type="text" class="form-control" name="github" placeholder="codebuddiesdotorg" value="{{profile.social.github}}">
        </div>
      </div>
      <div class="col-md-6" style="padding-right: 0;">
        <div class="form-group dynamic">
          <label for="facebook">Facebook</label>
          <input type="text" class="form-control" name="facebook" placeholder="topstudygroup" value="{{profile.social.facebook}}">
        </div>
        <div class="form-group dynamic">
          <label for="slack">LinkedIn</label>
          <input type="text" class="form-control" name="linkedin" placeholder="codebuddies" value="{{profile.social.linkedin}}">
        </div>
      </div>
      <div class="form-group dynamic">
        <label for="website">Website</label>
        <input type="text" class="form-control" name="website" value="{{profile.website}}">
      </div>
      <button id="updateProfile" name="button" class="btn btn-danger">Save</button>
      <button id="cancelProfileEdit" name="button" class="btn btn-white btn-outline">Cancel</button>
    </div>


  </div>
</template>
