<template name="profileEditSocial">
  <div id="profileEditSocial">

    <div class="form-group">
      <label for="twitter">Twitter</label>
      <input type="text" class="form-control" name="twiter" value="{{username}}">
    </div>

    <div class="form-group">
      <label for="github">Github</label>
      <input type="text" class="form-control" name="github" value="{{username}}">
    </div>

    <div class="form-group">
      <label for="slack">Slack</label>
      <input type="text" class="form-control" name="slack" value="{{username}}">
    </div>

  </div>
</template>
