<template name="profileEditBio">
  <div id="profileEditBio">

    <div class="col-md-6">
      <div class="col-md-3">
        <img src="{{#if profile.avatar.image_192 }} {{profile.avatar.image_192}} {{else}} {{profile.avatar.default}} {{/if}}" class="img-circle" alt="profile image"/>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" value="{{username}}">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" name="location" value="{{location}}">
        </div>
        <div class="form-group">
          <label for="bio">Short Bio</label>
          <textarea class="form-control" name="bio" value="Always ready to help those in need" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6" style="padding-left: 0;">
        <div class="form-group dynamic">
          <label for="twitter">Twitter</label>
          <input type="text" class="form-control" name="twitter" value="{{twiiter}}">
        </div>
        <div class="form-group dynamic">
          <label for="GitHub">GitHub</label>
          <input type="text" class="form-control" name="github" value="{{github}}">
        </div>
      </div>
      <div class="col-md-6" style="padding-right: 0;">
        <div class="form-group dynamic">
          <label for="facebook">Facebook</label>
          <input type="text" class="form-control" name="facebook" value="{{facebook}}">
        </div>
        <div class="form-group dynamic">
          <label for="slack">Slack</label>
          <input type="text" class="form-control" name="slack" value="{{slack}}">
        </div>
      </div>
      <div class="form-group dynamic">
        <label for="interests">Programming Interests</label>
        <textarea class="form-control" name="interests" value="" rows="3" cols="50"></textarea>
      </div>
      <button type="submit" name="button" class="btn btn-danger">Save</button>
      <button id="cancelProfileEdit" type="submit" name="button" class="btn btn-white btn-outline">Cancel</button>
    </div>


  </div>
</template>
