push.sh
node_modules
.DS_Store
fullchain.pem
privkey.pem
.clipboard
package.tar.gz

# json files
my-settings.json
mup.json
settings.json
settings-keys.json
settings-production.json

# errors
npm-debug.log
yarn-error.log

# lock files
package-lock.json
yarn.lock

# personal
notes.md