#about {
  p, li {
    @include font-face(400, 16px, normal, $primary-grey);
    line-height: 27px;
  }
  .flags img {
    width: 51px;
    @include border-radius(3px);
  }

  .flags-group {
    padding: 50px 0;
  }

  .about-top {
    padding: 100px 0;
    h2 { @include font-face(700, 32px, bold, $bg-white); }
    background: linear-gradient(top, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.55) 18%, rgba(30,144,255,0.64) 46%, rgba(3,87,232,0.8) 100%), url(/images/language-logos.svg) center repeat;
  }

  .about-middle {
    background: $bg-white;
    padding: 50px 0;
    h2 { @include font-face(700, 32px, bold, $primary-grey); }
    .flags { margin: 20px 0;}
    img { margin: 10px;}
  }

  .about-bottom {
    background: $bg-lightgrey;
    padding: 100px 0;
    .contributors {
      margin: 40px 0;
      img {
        margin: 0px 0px 40px 40px;
        width: 100px;
      }
    }
  }
  [data-toggle="popover"] {
    display: inline-block;
  }
  a.user-popover {
    .popover { margin-top: -10px;}
    .popover:hover {
      cursor: default;
    }
    .fa {
      padding: 0px 5px 0px 5px;
    }
  }

  h2 {margin: 50px 0 40px; }

  h3.popover-title { margin-top: 0px;}
  h3 { font-weight: 200;}

  .contributors-title { padding: 0 0 50px; }

}
