#about {
	p {
	  @include font-face(400, 16px, normal, $primary-grey);
	  line-height: 27px;
	}
	.about-top {
		background: $bg-lightgrey;
		padding: 100px 0;
		h2 { @include font-face(700, 32px, bold, $primary-grey); }
	}

	.about-middle {
		background: $bg-white;
		padding: 100px 0;
		h2 { @include font-face(700, 32px, bold, $primary-grey); }
		.flags { margin: 20px 0;}
		img { margin: 10px;}

	}
	.about-bottom {
		background: $bg-lightgrey;
	}
}