body {
  padding: 0;
  #profile { background: $bg-white;}
}

html, body {
  height: 100%;
}

h2 {
  margin: 0 0 30px;
}

h3 {
  margin: 60px 0 20px;
}

small.reminder {
    display: block;
    line-height: 1.2;
    margin: 5px 0px;
    font-weight: 200;
}

#__blaze-root {
  height: 100%;
}

p.warning { 
  text-align: center;
  color: $hangout-silent;
  margin:10px;
  font-weight: 400;
}

#wrapper {
  min-height: 100%;
  padding: 0;
  position: relative;
}

.auto-height {
  overflow: auto;
}

#connection-lost-banner {
  text-align: center;
}

a:hover {
  color: $cta-blue;
  cursor: pointer;
  text-decoration: none;
}

.__slackin {
  z-index: 9999999;
}

.align-center {
  text-align: center;
}

.display-inline {
  display: inline-block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.img-circle {
  width: 100px;
}

.page-header {
  border-bottom: 0; // remove bootstrap divider in search
}

#post {
  ul { list-style: none; }
}

.margin-top-1 {
  margin-top: 10px;
}
.margin-bottom-1 {
  margin-bottom: 10px;
}
.margin-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

