body {
  padding: 0;
  background: url(/images/pattern.png) left top repeat;
  min-height: 800px;
}

#connection-lost-banner{
  text-align: center;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.__slackin {
  z-index: 9999999;
}

.align-center {
	text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.img-circle { 
  width: 100px;
}

.page-header {
  border-bottom: none; /*remove bootstrap divider in search*/
}

#post { 
  ul { list-style: none; }
  margin-top: 30px;
  .btn-cb2 { position: relative; top: 30px;}
}
