html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  #profile { background: $bg-white;}
}

html, body {
  height: 100%;
}

h2 {
  margin: 0 0 30px;
}

h3 {
  margin: 60px 0 20px;
}

small.reminder {
    display: block;
    line-height: 1.2;
    margin: 5px 0px;
    font-weight: 200;
}

#__blaze-root {
  height: 100%;
}

.color-white {
  color: $white;
}

p.warning { 
  text-align: center;
  color: $hangout-silent;
  margin:10px;
  font-weight: 400;
}

#wrapper {
  min-height: 100%;
  padding: 0;
  position: relative;
}

.auto-height {
  overflow: auto;
}

#connection-lost-banner {
  text-align: center;
}

a:hover {
  color: $cta-blue;
  cursor: pointer;
  text-decoration: none;
}

.__slackin {
  z-index: 9999999;
}

.align-center {
  text-align: center;
}

.centered {
  margin: 0 auto;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline-block;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.img-circle {
  width: 100px;
}

.page-header {
  border-bottom: 0; // remove bootstrap divider in search
}

#post {
  ul { list-style: none; }
}

.margin-top-1 {
  margin-top: 10px;
}
.margin-bottom-1 {
  margin-bottom: 10px;
}
.margin-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-right-1 {
  margin-right: 10px;
}

.well {
  margin: 10px 0px;
  overflow: auto;
}
.padding-none {
  padding: 0px;
}
.margin-none {
  margin: 0px;
}

.width-100 {
  width: 100%;
}

.bg-blue {
  background: $cta-blue;
}

.study-group-tag.label-default {
  position: absolute;
  z-index: 99999;
}

.load-hangout-screenshot {
  display: block;
  margin: 0 auto;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; // IE8
  filter: alpha(opacity=70); // IE 5-7
  opacity: 0.7;
  cursor: pointer;
  &:hover {
      -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; // IE8
      filter: alpha(opacity=100); // IE 5-7
      opacity: 1.0;
  }
}


