body {
  padding: 0;
  background: url(/images/pattern.png) left top repeat;
  min-height: 800px;
}

#connection-lost-banner{
  text-align: center;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.__slackin {
  z-index: 9999999;
}

.align-center {
	text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.img-circle { 
  width: 100px;
}
