body {
  padding: 0;
  #profile { background: $bg-white;}
}

html, body {
  height: 100%;
}

h2 {
  margin: 0 0 30px;
}

h3 {
  margin: 60px 0 20px;
}

#__blaze-root {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  padding: 0;
  position: relative;
}

.auto-height {
  overflow: auto;
}

#connection-lost-banner {
  text-align: center;
}

a:hover {
  color: $cta-blue;
  cursor: pointer;
  text-decoration: none;
}

.__slackin {
  z-index: 9999999;
}

.align-center {
  text-align: center;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.img-circle {
  width: 100px;
}

.page-header {
  border-bottom: 0; // remove bootstrap divider in search
}

#post {
  margin-top: 30px;
  ul { list-style: none; }
}

.padding-none { padding: 0px;}
