.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  border-color: $cta-blue;
  color: $cta-blue;
  &:hover { background: $cta-blue;}
}

.btn-success.btn-outline {
  color: $success-green;
}

.btn-info.btn-outline {
  color: $info-blue;
}

.btn-warning.btn-outline {
  color: $warning-orange;
}

.btn-danger.btn-outline {
  color: $danger-red;
}

.btn-white.btn-outline {
  border-color: #fff;
  color: #fff;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: $white;
}

.btn-edit {
  border: 1px solid $divider;
  border-radius: 4px;
  color: $bg-white;
  float: right;
  font-family: $open-sans;
  font-size: 13px;
  margin-right: 35px;
  padding: 6px 12px;
  text-decoration: none;
  i { margin-right: 8px; }
  &:hover { background: $white; color: $cta-blue;}
}

.btn-circle {
  border-radius: 15px;
  font-size: 12px;
  height: 30px;
  line-height: 1.428571429;
  padding: 6px 0;
  text-align: center;
  width: 30px;

  &.btn-lg {
    border-radius: 25px;
    font-size: 18px;
    height: 50px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 50px;
  }

  &.btn-xl {
    @include border-radius(35px);
    font-size: 24px;
    height: 70px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 70px;
  }
}

.btn-slack {
  @include font-face(400, 16px, normal, $black);
  background-color: $bg-white;
  border: 2px solid $cta-blue;
  border-radius: 6px;
  height: 36px;
  margin-top: -8px;
  padding: 0 20px;
}

.btn-slack-join {
  @include font-face(400, 16px, normal, $primary-grey);
  @include border-radius(6px);
  background-color: $bg-white;
  height: 36px;
}

.btn-cb2 {
  @include font-face(700, 16px, bold, $bg-white);
  background-color: $cta-blue;
  display: block;
  height: 36px;
  margin: 0 auto;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }

  &.btn-success {
    background: $success-green;
  }
}

.btn-cb3 {
  @include font-face(700, 16px, bold, $bg-white);
  background-color: $cta-blue;
  display: block;
  height: 36px;
  margin: 0 auto;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
  }

  &.btn-success {background: $success-green;}

}

#hangout-faq-popup {
  cursor: pointer;
}


.btn-learning {
  color: $white;

  &.btn-unlike {
    color: $cta-blue;
  }

  &.btn-like {
    color: $cta-blue;
  }
}

.btn-learning:hover {
  cursor: pointer;
}

.delete-hangout:hover, .edit-hangout:hover {
  cursor: pointer;
}

.fa-comment {
  color: $cta-blue;
}

.btn-block {
  @include font-face(700, 13px, bold, $black);
  background: $bg-lightgrey;
  border: 0;
  margin-top: 20px;

  &:hover {
    background: $cta-blue;
    color: $white;
  }
}

li.delete-hangout, li.edit-hangout {
  @media (min-width: 480px) {
    border: 0;
    padding: 0;
  }
}

#btn-load-more, #load-more-learnings {
  color: $cta-blue;
  margin: 10px 0;

  &:hover { color: $white; }
}

.btn-grey {
  background: $warm-grey;
}

.hangout-action-buttons {
  .btn {
    display: inline-block;
    text-transform: uppercase;
    width: 100%;
  }
  .hangout-action-buttons-other {
      a.btn {
        @include font-face(200, 16px, light, $black);
        background: transparent;
        border: 1px solid $black;
        margin: 10px 0px 0px 0px;
      }
  }
}


