.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;

  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }

  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }
}

.btn-slack {
  height: 36px;
  padding: 0 20px 0 20px;
  margin-top: -8px;
  background-color: $bg-white;
  border: 1px solid #c7cacd;
  border-radius: 6px;
  @include font-face(400, 16px, normal, #000000);
}

.btn-cb2 {

  height: 36px;
  background-color: $cta-blue;
  @include font-face(700, 16px, bold, $bg-white);

  &:hover {
    color: #66B3FF;
  }

  &:focus {
    color: $bg-white;
  }

}

#hangout-faq-popup {
  cursor: pointer;
}

.btn-like {
  float: right;
  background-color: $hangout-collab;
  color: white;
}

.btn-unlike {
  float: right;
  background-color: $hangout-silent;
  color: white;
}