$cta-blue: #1e90ff;

$light-blue: #5eafff;

$kudo: #9b9b9b;

$primary-grey: #4a4a4a;

$hangout-teaching: #f5a623;

$hangout-collab: #7ed321;

$hangout-silent: #d9534f;

$icon-silent: #d9534f;

$icon-teaching: #f0ad4e;

$icon-collab: #7ed321;

$bg-lightgrey: #f9f9f9;

$bg-white: #ffffff;

$divider: #e1e1e1;

$inactive: #cfcfcf;

$warm-grey: #9b9b9b;

.text-warning-color {
  color: $hangout-teaching;
}

.text-danger-color {
  color: $hangout-silent;
}

.text-success-color {
  color: $hangout-collab;
}
