#coworking {
  p, li {
    line-height: 1.2;
  }
  p.warning {
      color: $white;
  }
  #working-text {
      border: 5px solid $cta-blue;
  }
  div.silentHangoutDescription {
      h2 {
          margin: 15px;
      }
      h3 {
          text-align: left;
          margin: 10px;
          color: $white;
      }
      p {
        @include font-face(200, 22px, normal, $white);
        margin: 20px;
      }
      ol {
          text-align: left;
          @include font-face(200, 18px, normal, $white);
          li {
              line-height: 1.8;
          }
      }
  }
  .silentHangoutExplanation {
      padding: 10px;
      margin-bottom: 10px;
      a {
          text-decoration: underline;
          @include font-face(400, 18px, normal, $primary-grey);
      }
  }
  .coworking-top {
    background: $cta-blue;
    h2 { @include font-face(700, 32px, bold, $bg-white); }
    padding: 20px;
    margin-bottom: 10px;
  }
  textarea#learned-text {
      border: 5px solid $cta-blue;
      padding: 15px;
      @include font-face(400, 18px, normal, $primary-grey);
      border-radius: 0px;
  }
  button.btn-schedule-hangout {
      display: inline;
  }
 }
