#coworking {
  p, li {
    line-height: 27px;
    @include font-face(200, 16px, normal, $white);
  }
  #working-text {
      border: 5px solid $cta-blue;
  }
  div.silentHangoutDescription {
      max-width: 500px;
      margin: 0px auto;
      p, li {
          text-align: left;
      }
      a {
          text-decoration: underline;
          @include font-face(200, 16px, normal, $white);
      }
  }
  #silentHangoutExplanation {
      border: 5px solid $white;
      padding: 10px;
      margin-bottom: 10px;
  }
  .coworking-top {
    background: $cta-blue;
    h2 { @include font-face(700, 32px, bold, $bg-white); }
    padding: 20px;
    margin-bottom: 10px;
  }
  textarea#learned-text {
      border: 5px solid $cta-blue;
      padding: 20px;
      @include font-face(400, 16px, normal, $primary-grey);
      border-radius: 0px;
  }
 }
