#faq {
  p, li {
    @include font-face(400, 16px, normal, $primary-grey);
    line-height: 27px;
  }
  .flags img {
    width: 51px;
    @include border-radius(3px);
  }
  .faq-top {
    padding: 100px 0;
    h2 { @include font-face(700, 32px, bold, $bg-white); }
    background: linear-gradient(top, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.55) 18%, rgba(30,144,255,0.64) 46%, rgba(3,87,232,0.8) 100%), url(/images/language-logos.svg) center repeat;
  }

  .faq-middle {
    background: $bg-white;
    padding: 100px 0;
  }

  .container-large {
    width: 800px;
  }

  [data-toggle="popover"] {
    display: inline-block;
  }
  a.user-popover {
    .popover { margin-top: -10px;}
    .popover:hover {
      cursor: default;
    }
  }

  h3.popover-title { margin-top: 0px;}
  h3 { font-weight: 200;}
}
