// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400,600,300italic,400italic,600italic,700italic:latin);

$open-sans: 'Open Sans', sans-serif;

.fa-microphone-slash { color: $icon-silent; }
.fa-user { color: $icon-teaching; }
.fa-users { color: $icon-collab; }

a { color: $dodgerblue; }

h4.hangout-date,
h5.in-progress,
h5.upcoming,
h5.completed {
  display: inline;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: $warm-grey;
  text-transform: uppercase;
  font-weight: 500;
}

h5.in-progress,
h5.upcoming {
    color: $primary-grey;
}

.oval {
	@include border-radius(5px);
	width: 10px;
	height: 10px;
	background-color: $danger-red;
	display: inline-block;
}

span.cb-delete:hover {
  cursor: pointer;
}

.search-message {
    font-weight: 200;
}
