// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400,600,300italic,400italic,600italic,700italic:latin);

$open-sans: 'Open Sans', sans-serif;

.fa-microphone-slash { color: $icon-silent;}
.fa-user { color: $icon-teaching;}
.fa-users { color: $icon-collab;}
