// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,400,600,300italic,400italic,600italic,700italic:latin);

$open-sans: 'Open Sans', sans-serif;

.fa-microphone-slash { color: $icon-silent; }
.fa-user { color: $icon-teaching; }
.fa-users { color: $icon-collab; }
.fa-laptop { color: $icon-collab; }

a { color: $dodgerblue; }


h3.slanted {
  @include font-face(700, 18px, italic, $cta-blue);
  margin: 5px;
  background: $white;
  padding: 5px;
  width: 100px;
  text-align: center;
  -webkit-transform: skew(-15deg);
  	   -moz-transform: skew(-15deg);
  	     -o-transform: skew(-15deg);
}

h4.hangout-date,
h5.in-progress,
h5.completed {
  display: inline;
  font-size: 1em;
  letter-spacing: 1;
  color: $black;
  font-weight: 500;
  line-height: 1.2;
}
h4.completed {
  color: $warm-grey;
}
h4.hangout-date {
  display: block;
  margin: 2px;
}
.upcoming {
    font-style: italic;
    font-weight: 400;
}

h5.in-progress,
h5.upcoming {
    color: $primary-grey;
}

.oval {
	@include border-radius(5px);
	width: 10px;
	height: 10px;
	background-color: $danger-red;
	display: inline-block;
}

span.cb-delete:hover {
  cursor: pointer;
}

.search-message {
    font-weight: 200;
}
