  .footer {
  	overflow: auto;
    background: $bg-white;
    padding: 20px 0;
    @include font-face(400, 13px, normal, $primary-grey);
    a {color: $cta-blue; text-decoration: underline;}
    .fa {font-size: 20px; color: $cta-blue; padding-left: 10px;}
    .footer-icons {padding-top: 40px;}
    p.logo { float: left; padding: 20px 160px;}
    .footer-details { float: right; padding: 20px 160px; text-align: right;}
    span.note { display: block; font-size: 12px;}
    position: fixed;
    bottom: 0px;
    width: 100%;
  }
