.hangout-card {
  border-radius: 0 !important;
  background: $white;
  display: inline-block;
  min-height: 150px;
  width: 270px;

  .hangout-topic {
    @include font-face(400, 17px, normal, $cta-blue);
    text-align: justify;
  }

}
