#hangouts {
  padding: 0;
  overflow: auto;

  .hangout-item {
    height: 180px;
    position: relative;
    p.overflowtext { 
       @include font-face(400, 13px, normal, $warm-grey);
    }
    &.flipped {@include box-shadow(0px, 12px, 60px, rgba(0,0,0,0.5));}
    .status-text { color: $kudo; text-align: left; font-size: 85%; text-transform: uppercase;}
    padding: 10px;
    background: #fff;
    margin: 10px 0px;
    small { font-size: 12px; }
    &.completed { background: $completed-grey;}

    .hangout-back { 
      display: none;
      span.live { color: $black;}
      .hangout-expand { display: inline-block; }
      .google-hangout { position: relative; top: 6px;}
      .ask { display: inline-block; width: 90%; @include font-face(400, 12px, normal, $warm-grey); line-height: 1.2; }
      a.btn { display: inline-block;}
      #end-hangout {
        display: inline-block;
        @include font-face(600, 14px, normal, #fff);
        text-transform: uppercase;
      }
    }

    ul.dropdown-menu { top: 35px; left: -200px;}
    span.dropdown-toggle:hover { cursor: pointer;}
    .hangout-date { 
      margin: 0px;
      @include font-face(600, 12px, normal, $warm-grey);
      text-transform: uppercase;
      line-height: 20px;
    }
    .hangout-details { 
      position: absolute;
      bottom: 10px;
      &.details-extra {
        right: 10px;
      }

    p.completed {
      color: $kudo;
      text-align: left;
      line-height: 10px;
      font-size: 85%;
    }

    ul.dropdown-menu {
      top: 35px;
      left: -200px;
    }

    span.dropdown-toggle:hover {
      cursor: pointer;
    }

    .hangout-topic {
      @include font-face(600, 16px, normal, $primary-grey);
      display: block;
      margin-top: 10px;
    }

    .hangout-topic.completed {
      color: $warm-grey;
      font-weight: 600;
    }

    #leave-hangout {
      text-decoration: underline;
      text-align: center;
      display: block;
      @include font-face(400, 12px, normal, $cta-blue);
    }

    p.upcoming {
      text-transform: uppercase;
      color: $kudo;
      text-align: left;
      line-height: 20px;
      font-size: 85%;
    }

    .status {
      list-style: none;
      display: table;
      padding: 0;
      margin: 0;
      line-height: 1.2;
      font-weight: 200;
      color: $warm-grey;

      li {
        display: table-cell;
        vertical-align: top;
      }

      label {
        @include font-face(400, 12px, normal, $warm-grey);
        display: inline-block;
      }

      i.faa-burst {
        margin-top: 20px;
      }
    }

    label {
      &.name {
        @include font-face(400, 14px, normal, $primary-grey);
      }

      span {
        @include font-face(400, 12px, normal, $warm-grey);
      }
    }
  }
}

#hangout-options {
  .btn {
    text-align: left;

    &.active {
      box-shadow: none;
    }
  }

  span.title {
    @include font-face(400, 17px, normal, $primary-grey);
    padding-left: 10px;
  }

  label {
    input[type="radio"] {
      ~ i.fa {
        &.fa-circle-o {
          color: $primary-grey;
          display: inline;
          outline: none;
        }

        &.fa-dot-circle-o {
          display: none;
        }
      }

      &:checked ~ i.fa {
        &.fa-circle-o {
          display: none;
        }

        &.fa-dot-circle-o {
          color: $cta-blue;
          display: inline;
        }
      }
    }

    &.btn i.type {
      font-size: 20px;
      padding-left: 10px;
    }

    &:hover input[type="radio"] ~ i.fa {
      color: $cta-blue;
    }
  }
}
}
