.modal-backdrop {
  background-color: $cta-blue;
}

#create-hangout-modal {
  z-index: 1050;
  h4 {
    @include font-face(700, 20px, bold, $black);
  }
  #external label {
    font-weight: 400;
  }
}

.modal.study-group {
  h2 {
    margin: 0;
  }
  h3, label {
    text-transform: uppercase;
    margin: 20px 0px 10px 0px;
    @include font-face(700, 14px, bold, $black);
  }
}

#clone-hangout-modal,
#create-hangout-modal,
#edit-hangout-modal {
  .modal-dialog {
    width: 800px;
  }

  .btn-info {
    margin-top: -30px;
  }

  #description,
  #end-date-time,
  #start-date-time,
  #topic {
    border: 0;
    background-color: $bg-lightgrey;
  }

  #description {
    resize: vertical;
    height: 150px;
  }

  .input-group-addon {
    border: 0;
    color: $cta-blue;
    font-size: 18px;
    background-color: $bg-lightgrey;
  }

  .btn-group-vertical {
    label {
      padding: 0;
    }
  }

  .descriptionHide {
    padding: 10px;
    margin-top: 10px;
    color: $kudo;

    &#d1 {
      border: 1px solid $hangout-silent;
    }

    &#d2 {
      border: 1px solid $hangout-teaching;
    }

    &#d3 {
      border: 1px solid $hangout-collab;
    }
  }

  .message {
    @include font-face(400, 13px, normal, $warm-grey);
  }

  textarea {
    width: 100%;
    padding: 10px;
    min-height: 150px;
  }
}
