.hangout-card {
  &.completed {
      height: 185px;
  }

  @media screen and (max-width: 389px) {
    height: 320px;
  }
  border-radius: 0 !important;
  background: $white;
  display: inline-block;
  height: 300px;
  width: 100%;
  margin: 5px 0px;
  padding: 15px 20px;
  overflow: hidden;
  position: relative;

  p.overflowtext {
    color: $secondary-grey;
  }
  .hangout-topic {
    width: 85%;
    line-height: 30px;
    margin-top: 6px;
    margin-bottom: 10px;
    @include font-face(600, 24px, normal, $black);
    text-align: left;
    text-transform: capitalize;
    &.completed {
      color: $secondary-grey;
    }
  }
  .hangout-date {
    letter-spacing: 0.2px;
    margin: 7px 0px;
  }
  .hangout-meta {
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
  }
  button {
    display: inline;
    padding: 0 8px;
  }
  .btn-default {
    border: none !important;
    color: #777;

    &:hover, &:focus, &:active {
      color: #777;
      border: none !important;
      background: none !important;
    }
  }
  .join-now {
    width: 65%;
  }
  .card-header-wrapper {
    display: flex;
    padding: 5px 0px;
    align-items: center;
    width: 100%;

    .left-section {
      width: 60%;
    }

    .right-section {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .icon-spacing {
      padding: 0px 15px;

      @media screen and (max-width: 720px) {
        padding: 0px 8px;
      }
    }

    .info-icon {
      font-size: 20px;
    }
  }
  .hangout-title-tag {
    font-size: 95%;
    border: 2px solid #1e90ff;
    border-radius: 4px;
    padding: 2px 12px;
    font-weight: bold;
  }
  div.calendar {
    width: 80%;
    line-height: 1.1;
  }
  div.more-options {
    width: 20%;
  }
  .show-on-hover {
    display: none;
  }
  .rsvp-buttons {
      position: absolute;
      bottom: 0px;
  }
  .rsvp-buttons .btn-cb2 {
      width: 100%;
  }
}

.hangout-card:hover {
  @include box-shadow(0px, 12px, 60px, rgba(0, 0, 0, .5));
  .show-on-hover { display: block; }
  h5.completed.show-on-hover { display: inline-block; line-height: 0.8;}
  .hangout-description { display: none; }
  .hangout-meta { display: none;}
}

.card {
  div.popover {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

.hide-date {
  display: none !important;
}

.hangout-in-progress-time {
  font-weight: 400;
  color: #777 !important;
  text-transform: uppercase;
  font-style: italic;
}