#hangout-board {
  .hangout-card {
    position: relative;
    display: block;
    background: $bg-white;
    padding: 10px;
    height: 180px;
    @include box-shadow(0px, 12px, 60px, rgba(0,0,0,0.5));
    cursor: pointer;
    .hangout-topic { 
      @include font-face(600, 16px, bold, $primary-grey);
      line-height: 25px;
    }
    .hangout-details {
      position: absolute;
      bottom: 10px;
    }
    .hangout-date {
      margin: 0px;
    }
    .details-extra { right: 10px;}
  }
  .hangout-card:hover {
    box-shadow: none;
  }
  .board-top {
    padding: 100px 0;
     h2 { @include font-face(700, 32px, bold, $bg-white); }
    background: linear-gradient(to top, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.5) 0%, rgba(30,144,255,0.55) 18%, rgba(30,144,255,0.64) 46%, rgba(3,87,232,0.8) 100%), url(/images/language-logos.svg) center repeat;

  }
  .board-middle {
    padding: 20px 0;
    h2 { @include font-face(700, 32px, bold, $primary-grey); }
  }
  .hangout-board{
    h3 { margin: 0px;}

    .hangout-filter-block{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
  }

  .hangout-header-block{
    height: 100px;
    padding: 0px;

    @include font-face(400, 17px, normal, $cta-blue);
  }

  .stop-scrolling {

  }

}
