.modal-backdrop {
   background-color: $cta-blue;
}

#create-hangout-modal h4 {
  @include font-face(700, 20px, bold, #000000);
}

#create-hangout-modal, #edit-hangout-modal, #clone-hangout-modal {

  .modal-dialog {
    width: 800px;
  }

  .btn-info {
    margin-top: -30px;
  }

  #start-date-time, #end-date-time, #topic, #description {
    border: none;
    background-color: $bg-lightgrey;
  }

  #description {
    resize: vertical;
    height: 100px;
  }

  .input-group-addon {
    border: none;
    color: $cta-blue;
    font-size: 18px;
    background-color: $bg-lightgrey;
  }

  .btn-group-vertical {
    label { padding: 0px; }
  }
  .descriptionHide { 
    padding: 10px;
    margin-top: 10px;
    color: $kudo;
    &#d1 {
      border: 1px solid $hangout-silent;
    }
    &#d2 {
      border: 1px solid $hangout-teaching;
    }
    &#d3 {
      border: 1px solid $hangout-collab;
    }
  }

  .message {
    @include font-face(400, 13px, normal, $warm-grey);
  }

}
