#home {

  &.logged-in { margin-top: 50px; }

  .heading  {

    @include font-face(700, 32px, bold, $primary-grey);
    text-align: center;

    .title {
      margin: 10px 0 20px 0;
    }

  }

  .question {
    @include font-face(400, 13px, italic, $warm-grey);
    margin-top: -5px;
  }

  #jumbotron {
    text-align: center;
    padding-bottom: 20px;
    @include font-face(700, 22px, bold, $bg-white);
    .subtitle {
      display: block;
    }
    p {
      margin-top: 10px;
      @include font-face(400, 12px, bold, $bg-white);
      a {
        @include font-face(400, 12px, bold, $bg-white);
        text-decoration: underline;
      }
    }

  }

  .search-area {
    padding: 30px;
    background: $bg-lightgrey;
    .searchTerm {
      font-size: 16px;
      height: 37px;
    }
  }

  .home-top {
    padding: 50px 0 0 0;
    background: dodgerblue;
    h2 {
      @include font-face(600, 36px, bold, $bg-white);
      @include breakpoint(medium) { max-width: 400px; }
    }
    p {
      @include font-face(200, 16px, normal, $bg-white);
      line-height: 27px;
    }
    img#slack-screenshot { 
      width: 100%;
    }
    .intro { 
      margin: 40px 0;
      @include breakpoint(medium) { max-width: 350px; }
    }
    .footnote {
      @include font-face(200, 12px, normal, $bg-white);
      a {color: $bg-white; text-decoration: underline;}
    }
    .slack-note { 
    @include breakpoint(medium) { margin-top: 70px; max-width: 300px; }
      line-height: 16px;
      p {
        @include font-face(200, 12px, normal, $bg-white); line-height: 18px;
        @include breakpoint(medium) { max-width: 350px; }
      }
      a {color: $bg-white; text-decoration: underline;}
    }
  }

  .home-middle {
    background: $bg-lightgrey;
    padding: 70px 0 0 0;
    h2 {
      @include font-face(600, 36px, bold, $primary-grey);
    }
    p { @include font-face(400, 16px, normal, $primary-grey); line-height: 27px; letter-spacing: 0.2px; }
    h3 {
      @include font-face(600, 17px, bold, $primary-grey);
    }
    em { font-size: 12px; }
    img { 
      width: 100%;
    }
    .middle-bottom { top: 10%; h2 { margin-bottom: 50px;}}
  }

  .home-psst {
    background: $bg-white;
    padding: 50px;
    @include font-face(400, 16px, normal, $primary-grey);
  }


}
