#home {
  .container {
    overflow: auto;
  }
  .col-lg-4, .col-lg-12 {
    padding: 0px 8px;
  }
  background: $cta-blue;

  p {
    line-height: 18px;
    color: $primary-grey;
  }
  p.overflowtext {
    color: $secondary-grey;
  }

  a.link {
    text-decoration: underline;
    color: $white;
    white-space: nowrap;
  }

  .panel-default {
    border: none;
  }

  .join-slack {
    overflow: auto;
    max-width: 440px;
    margin: 0 auto;

    input {
      float: left;
    }

    button {
      float: right;
    }

    p {
      @include font-face(200, 13px, normal, $bg-white);
      line-height: 1.9;
      margin-top: 10px;
    }
  }

 .heading {
    padding: 15px 30px;
    background: $header-bg;

    .title {
      margin: 10px 0px 20px;
      color: $white;
      @include font-face(700, 2em, bold, $white);
    }
    p.key {
        @include font-face(400, 0.9em, normal, $white);
        span { margin-right: 10px; display: inline-block;}
    }
    .popover-content {
        @include font-face(400, 0.9em, normal, $black);
    }
    #hangout-faq-popup {
      color: $white;
    }
    p {
        @include font-face(400, 1.2em, normal, $white);
        line-height: 1.2;
        width: 100%;
        @include breakpoint(small) { width: 70%; }
        @include breakpoint(xmedium) { width: 70%; }
        @include breakpoint(medium) { width: 70%; }
        @include breakpoint(large) { width: 70%; }
    }
    a {
        @include font-face(400, 1.2em, normal, $white);
        text-decoration: underline;
    }
  }

  .question {
    @include font-face(400, 13px, italic, $warm-grey);
    margin-top: -5px;
  }

  #jumbotron {
    text-align: center;
    padding-bottom: 20px;
    @include font-face(700, 22px, bold, $bg-white);

    .subtitle {
      display: block;
    }

    p {
      margin-top: 10px;
      @include font-face(400, 12px, bold, $bg-white);

      a {
        @include font-face(400, 12px, bold, $bg-white);
        text-decoration: underline;
      }
    }
  }

  .search-area {
    margin: 25px 0px;
    .searchTerm {
      font-size: 16px;
      height: 37px;
      width: 100%;
      margin-top: 10px;
      @include breakpoint(small) { width: 45%; }
      @include breakpoint(xmedium) { width: 45%; }
      @include breakpoint(medium) { width: 45%; }
      @include breakpoint(large) { width: 45%; }
      position: relative;
      top: 2px;
      right: 3px;
    }
    input, p, div {
        display: inline;
    }
    p { padding: 0px 20px;}
  }

  .home-ask,
  .home-top {
    padding: 60px 0px 0px;
    background: $dodgerblue;
    overflow: hidden;

    h2 {
      @include font-face(600, 36px, bold, $bg-white);
    }

    p {
      @include font-face(200, 18px, normal, $bg-white);
      line-height: 27px;
    }

    img#slack-screenshot {
      @include box-shadow(0, 12px, 60, rgba(0, 0, 0, .8));
      @include border-top-radius(10);
      margin: 0 auto;
    }

    .slack-window {
      margin: 0 auto;
    }

    .slack-invite {
      color: $white;
      font-size: 11px;
    }

    #intro {
      text-align: center;
      max-width: 530px;
      margin: 0 auto 40px;
    }

    .intro {
      margin: 40px 0px;
    }

    .footnote {
      @include font-face(200, 12px, normal, $bg-white);

      a {
        color: $white;
        text-decoration: underline;
      }
    }

    .slack-note {
      @include breakpoint(medium) {
        margin-top: 70px;
        max-width: 300px;
      }

      line-height: 16px;

      p {
        @include font-face(200, 12px, normal, $bg-white);
        line-height: 18px;

        @include breakpoint(medium) {
          max-width: 350px;
        }
      }

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .home-middle {
    background: $bg-white;
    padding: 120px 0px 60px;

    h2 {
      @include font-face(700, 24px, bold, $primary-grey);
      margin-top: 40px;
    }

    p {
      @include font-face(400, 16px, normal, $primary-grey);
      line-height: 27px;
      letter-spacing: .2px;
      margin-top: 40px;
    }

    h3 {
      @include font-face(600, 17px, bold, $primary-grey);
    }

    span.off-on {
      font-size: 13px;
    }

    .middle-bottom {
      top: 10%;

      h2 {
        margin-bottom: 50px;
      }
    }

    .shadow-effect {
      @include box-shadow(0, 12px, 60, rgba(0, 0, 0, .5));
      border: 2px solid $white !important;
    }

    %hangout-cards {
      position: relative;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: column nowrap;
      @include border-radius(10);

      h3 {
        @include font-face(700, 20, bold, $primary-grey);
        margin: 40px 0px 0px;
      }

      p {
        padding: 0px 30px 40px;
        @include font-face(400, 13px, normal, $primary-grey);
        line-height: 27px;
        margin: 0px;
      }

      .hangout-image {
        align-self: stretch;
        max-height: 200px;
        flex: 1 1 auto;
      }
	  .hangout-details {
	  	display: none;
	  }
      .hangout-image-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
      }
      .hangout-details {
        display: none;
      }

      img {
        margin-top: 0px;
        padding: 30px 0px;
        max-height: 200px;
        width: 80%;
      }

      height: 444px;

      .hangout-details {
        overflow: auto;
        padding: 5px 20px;

        i {
          font-size: 70px;
          float: left;
          padding-right: 10px;
        }

        table {
          float: right;

          td.left {
            font-weight: bold;
            text-align: left;
            text-transform: uppercase;
          }

          td {
            text-align: right;
            @include font-face(400, 13px, normal, $primary-grey);
            padding: 0px 4px 4px;
          }

          max-width: 150px;
        }
      }

      .hangout-details-inner {
        display: flex;
        flex-flow: row nowrap;
      }
    }

    #card-silent {
      @extend %hangout-cards;
      border: 2px solid $hangout-silent;

      h3 {
        color: $hangout-silent;
      }

      table td.left {
        color: $hangout-silent;
      }
    }

    #card-teach {
      @extend %hangout-cards;
      border: 2px solid $hangout-teaching;

      h3 {
        color: $hangout-teaching;
      }

      table td.left {
        color: $hangout-teaching;
      }
    }

    #card-collaborate {
      @extend %hangout-cards;
      border: 2px solid $hangout-collab;

      h3 {
        color: $hangout-collab;
      }

      table td.left {
        color: $hangout-collab;
      }
    }
  }

  .home-psst {
    background: $bg-lightgrey;
    background-image: url('images/code-logos.png');
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0px 50px;
    @include font-face(400, 16px, normal, $primary-grey);

    p {
      line-height: 27px;
      margin-top: 40px;
    }

    #intro {
      h3 {
        @include font-face(600, 24px, bold, $primary-grey);
      }

      h3,
      p {
        @include breakpoint(small) {
          padding: 0px 20px;
        }

        @include breakpoint(xsmall) {
          padding: 0px 40px;
        }
      }

      text-align: center;
      max-width: 550px;
      margin: 0px auto 60px;
    }

    img#hangout-join {
      @include box-shadow(0px, 12px, 60px, rgba(0, 0, 0, .5));
      @include border-radius(10);
    }

    .hangout-example {
      width: 50%;

      @include breakpoint(small) {
        width: 65%;
      }

      @include breakpoint(xsmall) {
        width: 80%;
      }

      margin: 0 auto;
    }
  }

  .home-faq {
    background: $bg-white;
    text-align: left;

    h2 {
      text-align: center;
      margin: 100px 0px;
    }

    background: $bg-lightgrey;

    h3 {
      @include font-face(700, 18px, bold, $primary-grey);
    }

    p {
      padding: 20px 0px;
    }

    padding-bottom: 100px;
  }

  .home-testimonials {
    background: $bg-white;
    text-align: center;

    h2 {
      text-align: center;
      margin: 100px 0px 10px 0px;
    }

    h3 {
      @include font-face(700, 18px, bold, $primary-grey);
    }

    p {
      padding: 35px;
    }

    padding-bottom: 100px;
  }

  .testimonial-bubble {
    background-color: $bg-lightgrey;
    border-radius: 25px;
    margin: 60px 20px;
    position: relative;
  }

  /*testimonial-bubble triangle*/
  .bubble-left:after {
    content: "";
    position: absolute;
    bottom: -25px;
    right: 50px;
    border-width: 25px 25px 0;
    border-style: solid;
    border-color: $bg-lightgrey transparent;
  }

  .bubble-right:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50px;
    border-width: 25px 25px 0;
    border-style: solid;
    border-color: $bg-lightgrey transparent;
  }

  .testimonial {
    font-size: 1.20em;
    line-height: 1.1em;
    text-align: left;
  }

  .quote-icons {
    color: $warm-grey;
    float: left;
    padding: 20px 10px 90px 20px;
    font-size: 1.2em;
  }

  .home-ask {
    padding: 60px 0px;
    text-align: center;

    .join-slack {
      margin-top: 50px;
    }
  }
  #loadMore {
    width: 50%;
    margin: 20px auto;
  }
  .search-message {
      h4, p {
            @include font-face(400, 1em, normal, $white);
      }
  }
  .hangouts-area {
      margin: 30px 30px;
      .hangouts-title {
          @include font-face(400, 1.4em, bold, $white);
          margin: 10px 0px;
      }
      #active_hangouts, #past_hangouts {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      div.card {
          width: 100%;
          @include breakpoint(small) { width: 49%; }
          @include breakpoint(xmedium) { width: 49%; }
          @include breakpoint(medium) { width: 49%; }
          @include breakpoint(large) { width: 33%; }

      }
      }

  }

  .statistic-row {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

    min-height: 150px;
    margin-bottom: 15px;
  }

  .statistic-circle {
    width: 150px;
    height: 150px;

    border: 10px solid white;
    border-radius: 50%;
    margin: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .statistic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    > p {
      color: white;
      text-align: center;
      padding: 0px  ;

      &.total {
        font-size: 2em;
        font-weight: bold;
      }

      &.category {
        font-size: 1em;
      }
    }
  }
}
