.conversation-unread {
  background: $light-grey;
}

// chat bubble

.ib-clear {clear: both}
.ib-from-me {
	position:relative;
	padding:15px;
  margin-bottom: 4px;
	color: black;
	// background:#0B93F6;
	// background:$light-grey;
  border: 1px solid $light-grey;
	border-radius:25px;
	float: right;

	// &:before {
	// 	content:"";
	// 	position:absolute;
	// 	z-index:-1;
	// 	bottom:-2px;
	// 	right:-5px;
	// 	height:20px;
	// 	// border-right:20px solid #0B93F6;
	// 	// border-right:20px solid $light-grey;
	// 	border-bottom-left-radius: 16px 14px;
	// 	-webkit-transform:translate(0, -2px);
	// }

	// &:after {
	// 	content:"";
	// 	position:absolute;
	// 	z-index:1;
	// 	bottom:-2px;
	// 	right:-56px;
	// 	width:26px;
	// 	height:20px;
	// 	background:white;
	// 	border-bottom-left-radius: 20px;
	// 	-webkit-transform:translate(-30px, -2px);
	// }
}
.ib-from-them {
	position:relative;
	padding:10px 20px;
  margin-bottom: 4px;
	// background:#E5E5EA;
  border: 1px solid $light-grey;
	border-radius:25px;
	color: black;
  float: left;

	// &:before {
	// 	content:"";
	// 	position:absolute;
	// 	z-index:2;
	// 	bottom:-2px;
	// 	left:-7px;
	// 	height:20px;
	// 	border-left:20px solid #E5E5EA;
	// 	border-bottom-right-radius: 16px 14px;
	// 	-webkit-transform:translate(0, -2px);
	// }
  //
	// &:after {
	// 	content:"";
	// 	position:absolute;
	// 	z-index:3;
	// 	bottom:-2px;
	// 	left:4px;
	// 	width:26px;
	// 	height:20px;
	// 	background:white;
	// 	border-bottom-right-radius: 10px;
	// 	-webkit-transform:translate(-30px, -2px);
	// }
}
