// Allow `.member-card-avatar` and `.member-card-status` to be on the same row
.member-card-avatar,
.member-card-status,
.member-card-button {
  display: inline-block;
  float: left;
  border: blue 1px solid;
}

.member-card {
  border: red 1px solid;
  height: 225px;
  max-height: 225px;
}
