@mixin font-face ($weight, $size, $style, $color) {
  font-family: $open-sans;
  font-weight: $weight;
  font-size: $size;
  font-style: $style;
  color: $color;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}
