#post {
  .jitsi-screenshot { 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; // IE8
    filter: alpha(opacity=80); // IE 5-7
    opacity: 0.8;
  }
  h2 {
    margin: 5px 0px;
    @include font-face(700, 23px, normal, $black);
  }
  p, textarea {
    font-family: $open-sans;
    @include font-face(200, 15px, normal, $black);
  }
  p.upcoming {
    @include font-face(700, 23px, bold, $black);
  }
  .completed p {
    text-transform: none;
  }
  p.completed,
  p.status {
    color: $warm-grey;
    font-weight: 200;
    font-size: 16px;
    margin: 10px 0;
  }
  p.click-text {
    @include font-face(700, 30px, normal, $cta-blue);
    background-image: url('/images/logo-circle-cropped.png');
    background-size: cover;
  }
  p.date-holder {
    color: $black;
    font-weight: 400;
    font-size: 20px;
  }
  h3 {
    text-transform: uppercase;
    margin: 20px 0px 10px 0px;
    @include font-face(700, 14px, bold, $black);
  } 
  h4 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
  }
  h5.in-progress {
    display: block;
    text-align: left;
    margin-bottom: 10px;
  }
  .panel-heading {
    padding: 5px 15px;
  }
  .panel-default {
    margin: 10px 0;
  }
  .view {
    font-weight: 200;
  }

  .panel-body {
    font-size: 20px;
    font-weight: 200;
  }

  .img-circle {
      width: 50px;
  }

  textarea#newMessage {
    min-height: 100px;
    margin-bottom: 10px;
  }

  select#commentFilter {
    margin-bottom: 10px;
  }

  ol {
    padding-left: 16px;
    font-weight: 200;
  }

  .hangout-status {
    text-align: center;
  }

  .hangout-status p {
    background: $bg-white;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    @include border-radius(3px);
    margin: 0;
    font-weight: 200;
    color: $primary-grey;

    a {
      color: $white;
    }
  }
  //Note: Let's figure out a way to move the styles below to _buttons.scss so that we can reuse them


  .btn-danger {
    background: $danger-red;
  }

  .google-hangout {
    position: relative;
    top: 8px;
  }
  .google-hangout-button {
    position: relative;
    top: -2px;
    display: inline-block;
  }

  #end-hangout {
    margin-top: 5px;
    width: 300px;
  }

  #hangout-button-wrapper {
    text-align: center;
  }
  a#show-all-learnings {
    margin-top: 3px;
  }
  .status-list {
    padding: 0px 15px;
    margin-top: 10px;
  }
  .load-hangout-screenshot {
    display: block;
    margin: 0 auto;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; // IE8
    filter: alpha(opacity=70); // IE 5-7
    opacity: 0.7;
    cursor: pointer;
    &:hover {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; // IE8
        filter: alpha(opacity=100); // IE 5-7
        opacity: 1.0;
    }
  }
  .hangout-action-buttons {
    p { text-decoration: none;}
    #attendance {
      text-align: center;
      a {
        display: inline-block;
      }
      a#joined-hangout {
        width: 35%;
      }
      a#leave-hangout {
        width: 60%
      }
    }
  }
  #hide-sidebar {
      @include font-face(700, 22px, normal, $cta-blue);
      position: relative;
      top: -10px;
  }
  #show-sidebar {
    display: none;
    position: fixed;
    z-index: 9999;
    left: -64px;
    top: 20%;
    background: $cta-blue;
    a {
      @include font-face(700, 22px, normal, $white);
      padding: 5px 10px;
      text-decoration: none;
    }
    @include border-radius(3px);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
