#post {
  .jitsi-screenshot { 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; // IE8
    filter: alpha(opacity=80); // IE 5-7
    opacity: 0.8;
  }
  p {
    font-family: $open-sans;
  }

  h2 {
    font-weight: 400;
    margin: 0px;
    font-size: 26px;
  }

  h2.completed,
  p.completed,
  p.status {
    color: $warm-grey;
    font-weight: 200;
    font-size: 16px;
    margin: 10px 0;
  }
  p.date-holder {
    color: $black;
    font-weight: 400;
    font-size: 16px;
  }

  h2.completed {
    font-weight: 600;
  }

  h4 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .panel-default {
    margin: 10px 0;
  }

  .panel-body {
    font-size: 20px;
    font-weight: 200;
  }

  .panel-footer {
    color: $warm-grey;

    .img-circle {
      width: 50px;
    }
  }

  textarea#newMessage {
    min-height: 100px;
    margin-bottom: 10px;
  }

  select#commentFilter {
    margin-bottom: 10px;
  }

  span.cb-delete:hover {
    cursor: pointer;
  }

  ol {
    padding-left: 16px;
    font-weight: 200;
  }

  .hangout-status {
    text-align: center;
  }

  .hangout-status p {
    background: $bg-white;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    @include border-radius(3px);
    margin: 0;
    font-weight: 200;
    color: $primary-grey;

    a {
      color: $white;
    }
  }
  //Note: Let's figure out a way to move the styles below to _buttons.scss so that we can reuse them
  .btn-cb2 {
    font-size: 18px;
    text-transform: uppercase;
    width: 300px;
  }

  .btn-danger {
    background: $danger-red;
  }

  .google-hangout {
    position: relative;
    top: 8px;
  }
  .google-hangout-button {
    position: relative;
    top: -2px;
    display: inline-block;
  }

  #end-hangout {
    margin-top: 5px;
  }

  #hangout-button-wrapper {
    text-align: center;
  }
}
