#post {
	label { font-weight: 200; font-size: 16px;}
	h2 { font-weight: 200; }
	.panel-body { font-size: 20px; font-weight: 200;}
	.col-md-2 { 
		height: 120px; text-align: center;
		p, button, div {
			position: relative;
  			top: 50%;
  			transform: translateY(-50%);
  		}
	}

}