#post {
  .jitsi-screenshot { 
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; // IE8
    filter: alpha(opacity=80); // IE 5-7
    opacity: 0.8;
  }

  h2 {
    margin: ($margin-base - 5) $margin-zero;
    @include font-face(700, 23px, normal, $black);
  }

  p, textarea {
    @include font-face(200, 15px, normal, $black);
    font-family: $open-sans;
  }

  p.upcoming {
    @include font-face(700, 23px, bold, $black);
  }

  .completed p {
    text-transform: none;
  }

  p.completed,
  p.status {
    color: $warm-grey;
    font-weight: 200;
    margin: $margin-base $margin-zero;
  }

  p.click-text {
    @include font-face(700, 30px, normal, $cta-blue);
    background-image: url('/images/logo-circle-cropped.png');
    background-size: cover;
  }

  p.date-holder {
    color: $black;
    font-weight: 400;
    font-size: 20px; 
  }

  h3 {
    @include font-face(700, 14px, bold, $black);
    text-transform: uppercase;
    margin: ($margin-base + 10px) $margin-zero $margin-base $margin-zero;
  }

  h4 {
    font-weight: 400;
    margin: $margin-zero;
    margin-bottom: ($margin-base - 5px);
    text-transform: uppercase;
    font-size: $font-lg; /* 24px */
  }

  h5.in-progress {
    display: block;
    text-align: left;
    margin-bottom: $margin-base;
  }

  .panel-heading {
    padding: ($padding-base - 5) ($padding-base + 5px);
  }

  .panel-default {
    margin: $margin-base $margin-zero;
  }

  .view {
    font-weight: 200;
  }

  .panel-body {
    font-size: 1.25rem /* 20px */;
    font-weight: 200;
  }

  #participants .img-circle {
    width: 50px;
  }

  #participants a {
    font-size: $font-md;
  }

  textarea#newMessage {
    min-height: 100px;
    margin-bottom: $margin-base;
  }

  select#commentFilter {
    margin-bottom: $margin-base;
  }


  .list {

    /* empty  declaration */

    &--ordered {
      padding-left: ($padding-base + 6px);
      font-weight: 200;
      list-style: decimal;
    }

    &--item {
      font-size: $font-md;
    }
  }

  .hangout-status {
    text-align: center;
  }

  .hangout-status p {
    @include border-radius(3px);
    margin: $margin-zero;
    padding: $padding-base $padding-zero;
    background: $bg-white;
    text-align: center;
    font-size: $font-lg; /* 18px */
    font-weight: 200;
    color: $primary-grey;

    a {
      color: $white;
      @include link-decoration;
    }
  }





  /* [Note]: Let's figure out a way to move the 
  *  styles below to _buttons.scss so that we can reuse 
  *  them
  */


  .btn-danger {
    background: $danger-red;
  }

  .google-hangout {
    position: relative;
    top: 8px;
  }
  .google-hangout-button {
    position: relative;
    top: -2px;
    display: inline-block;
  }

  #end-hangout {
    margin-top: ($margin-base - 5px);
    width: 300px;
  }

  #hangout-button-wrapper {
    text-align: center;
  }
  a#show-all-learnings {
    margin-top: 3px;
  }
  .status-list {
    padding: $padding-zero ($padding-base + 5px);
    margin-top: $margin-base;
  }
  .load-hangout-screenshot {
    display: block;
    margin:0 auto;
    margin: $margin-centered;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; // IE8
    filter: alpha(opacity=70); // IE 5-7
    opacity: 0.7;
    cursor: pointer;
    &:hover {
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; // IE8
        filter: alpha(opacity=100); // IE 5-7
        opacity: 1.0;
    }
  }

  .hangout-action-buttons {
    p { text-decoration: none;}
    #attendance {
      text-align: center;
      a {
        display: inline-block;
      }
      a#joined-hangout {
        width: 35%;
      }
      a#leave-hangout {
        width: 60%
      }
    }
  }
  #hide-sidebar {
      @include font-face(700, 22px, normal, $cta-blue);
      position: relative;
      top: -10px;
  }
  #show-sidebar {
    display: none;
    position: fixed;
    z-index: 9999;
    left: -64px;
    top: 20%;
    background: $cta-blue;
    a {
      @include font-face(700, 22px, normal, $white);
      padding: ($padding-base - 5) $padding-base;
      text-decoration: none;
    }
    @include border-radius(3px);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}