#profile {
	h3 {
		text-align: center;
	}
	.btn-slack {
		margin: 0 auto;
		display: block;
	}
}

#learning-pagination{
	height: 200px;
	overflow-y: auto;
}
#hangout-created-pagination{
	height: 300px;
	overflow-y: auto;
}

#hangout-joined-pagination{
	height: 300px;
	overflow-y: auto;
}

.profile-top{
	background: $cta-blue;
	padding: 60px 0;
	color: $bg-white;
}

.profile-hangouts-completed {
	background: $bg-lightgrey;
	padding: 35px 100px;
	h2 { color: $cta-blue; }
}

.profile-learnings {
	background: $bg-white;
	padding: 35px 100px;
}

