%default-header-background {
  background: linear-gradient(
    to top,
    rgba(30, 144, 255, 0.5) 0%,
    rgba(3, 87, 232, 0.8) 100%),
    url(/images/language-logos.svg) center repeat;
}

.section-header {
  @extend %default-header-background;
  padding: 30px 0;
  color: #fff;
  font-size: 18px;
  text-align: center;

  & .btn {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }

  & .btn-outline { border: 1px solid #fff; }
}

.section-body {
  margin-top: 3em;
  margin-bottom: 3em;
}
