.status-list {
  padding: 0 20px;
  background-color: $bg-lightgrey;
  overflow-y: auto;

  .title {
    text-align: center;
    padding: 10px 0;
    @include font-face(700, 16px, bold, $black);
  }

  .status-item {
    margin: 0;
    list-style: none;
    padding: 20px 0;
    border-top: 1px solid $divider;
    overflow: auto;

    li {
      display: table-cell;
      vertical-align: top;
    }

    .btn {
      display: inline-block;
      @include font-face(400, 13px, normal, $black);

      &:hover {
        color: $white;
      }
    }

    .edit-learning {
      margin-left: 5px;
    }

    .edit-learning:hover {
      cursor: pointer;
    }

    .delete-learning {
      margin-left: 5px;
    }

    .delete-learning:hover {
      cursor: pointer;
    }

    span.username {
      @include font-face(700, 13px, italic, $warm-grey);
    }

    .status {
      padding: .4em;
      background: white;
      display: inline-block;
      @include font-face(400, 15px, normal, $primary-grey);
    }

    .status-date {
      @include font-face(400, 13px, italic, $warm-grey);
    }

    .message {
      color: $warm-grey;

      &:hover {
        color: $cta-blue;
      }
    }

    .kudo-holder {
      text-align: left;
    }

    .kudo-count {
      @include font-face(400, 15px, normal, $primary-grey);
    }
  }
}
