input:focus, textarea:focus {
  outline: none;
}

.status-input textarea {
  resize: vertical;
  width: 100%;
  border: none;
  padding: 20px;
  @include font-face(400, 16px, normal, $primary-grey);
}

.status-actions {

  width: 100%;
  background-color: $bg-white;
  height: 80px;
  margin-top: -5px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 12px;

  span.interest {
    @include font-face(600, 13px, italic, $warm-grey);
    display: inline-block;
    width: 100px;
  }

  span.charactersLeft {
    margin-left: 90px;
    position: relative;
    top: -20px;
  }
  span.learnedCharactersLeft {
    margin-left: 300px;
  }
  #status-buttons { 
    position: relative;
    top: -10px;
  }
  button.btn-hangout-status { position: relative; top: -10px;}
}
