.status-list  {

  background-color: $bg-lightgrey;
  min-height: 50px;
  @include border-radius(0px 0px 4px 4px);
  padding: 20px;

  .title {
    text-align: center;
    padding: 10px 0 15px 0;
    @include font-face(700, 16px, bold, #000000);
  }

  .status-item {

    list-style: none;
    display: table;
    padding: 0;

    li {
      display: table-cell;
      vertical-align: top;
    }

    .btn {

      display: inline-block;
      @include font-face(400, 13px, normal, #000000);

      &:hover {
        color: $bg-white;
      }

    }

    span.username {
      @include font-face(700, 13px, italic, $warm-grey);
    }

    .status {
      padding-left: 10px;
      display: inline-block;
      @include font-face(400, 13px, normal, $primary-grey);
      word-break: break-all;
    }

    .status-date {
      @include font-face(400, 13px, italic, $warm-grey);
    }

    .message {
      color: $warm-grey;
      &:hover {
        color: $cta-blue;
      }
    }

    .kudo-holder {
      text-align: left;
    }

    .kudo-count {
      @include font-face(400, 15px, normal, $kudo);
    }

  }

}
