input:focus,
textarea:focus {
  outline: none;
}

.status-input textarea {
  resize: vertical;
  width: 100%;
  border: 0;
  padding: 15px;
  @include font-face(400, 18px, normal, $primary-grey);
}

.status-actions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $bg-white;
  height: auto;
  margin-top: -5px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 12px;

  span.interest {
    @include font-face(600, 13px, italic, $warm-grey);
    display: inline-block;
    width: 100px;
  }

  span.charactersLeft {
    align-self: center;
    padding-right: 5px;
  }

  #status-buttons {
    position: relative;
    top: -10px;
  }

  button.btn-hangout-status {
    align-self: center;
    margin-right: 0.5rem;
  }
  button.btn-cb2 {
    margin-right: 3%;
  }
}
