.tips-lists { padding-left: 0px; }

.tips-lists-list {
	margin-bottom: 1rem;
	line-height: 1.8;

	> label {
		font-weight: 400;

		&:hover { cursor: pointer }

		> input[type=checkbox] { width: 20px; }
	}

	> img { width: 100% }
}

.tips-lists.has-no-bullet-points { list-style: none; }
