// TYPOGRAPHY

html {
  font-size: 62.5%; /* 16px === 1rem; */
  font-size: 16px; /* 16px === 1rem; */
  line-height: 1.33;
}
body {
  font: normal (#{$font-md} / 1.3) $font-stack;
}
h1 { 
  font-size: $font-xxl; 
}

h3, h2 { 
  font-size: $font-xl;
}

h4, h5 {
  font-size: $font-lg;
}

h6, p, ul,
ol, li, a { 
  font-size: $font-md;
  /*line-height: 1;*/
}

sub, sup { 
  font-size: $font-md;
}

small, .small, figcaption, i,
samp, kbd, pre,
code, {
  font-size: $font-sm;
}

input,
input[type="text"],
input[type="url"],
input[type="name"],
textarea,
select {
  font-size: $font-md;
}
