// Variables
    
/// FONT_FAMILY
$open-sans: 'Open Sans', sans-serif !default;
$font-stack: (
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  'Open Sans',
  sans-serif
) !default;

/// POSITIONING

/// MARGIN
$margin-centered: 0 auto !default;
$margin-zero: 0          !default;
$margin-base: 10px       !default;

/// PADDING
$padding-zero: 0     !default;
$padding-base: 10px  !default;


/// TYPOGRAPHY
$font-xxl: 3.375rem  !default; /* 54px */
$font-xl: 2.25rem    !default; /* 36px */
$font-lg: 1.5rem     !default; /* 24px */
$font-md: 1rem       !default; /* 16px */
$font-sm: 0.667rem   !default; /* 9.3px ~10px */
$font-xs: 0.444rem   !default; /* 7.1px ~8px */