#about {
  p, li {
    @include font-face(400, 16px, normal, $primary-grey);
    line-height: 27px;
  }

  .flags img {
    @include border-radius(3px);
    width: 51px;
  }

  .flags-group {
    padding: 50px 0;
  }

  .about-top {
    background: linear-gradient(to top, rgba(30, 144, 255, .5) 0%, rgba(30, 144, 255, .5) 0%, rgba(30, 144, 255, .5) 0%, rgba(30, 144, 255, .55) 18%, rgba(30, 144, 255, .64) 46%, rgba(3, 87, 232, .8) 100%), url(/images/language-logos.svg) center repeat;
    padding: 100px 0;
    h2 { @include font-face(700, 32px, bold, $bg-white); }
  }

  .about-middle {
    background: $bg-white;
    padding: 50px 0px;
    h2 { @include font-face(700, 32px, bold, $primary-grey); }
    .flags { margin: 20px 0;}
    img { margin: 10px;}
  }

  .about-bottom {
    background: $bg-lightgrey;
    padding: 100px 0px;

    .contributors {
      margin: 40px 0px;

      img {
        margin: 0 0 40px 40px;
        width: 100px;
      }
    }
  }

  [data-toggle="popover"] {
    display: inline-block;
  }

  a.user-popover {
    padding-top: 10px;
    .img-circle {
        margin-top: 10px;
    }
    .popover {
        margin-top: 10px;
    }
    .popover:hover {
      cursor: default;
    }

    .fa, .fas, .fab, .far {
      padding: 0px 5px;
    }
  }

  h2 {margin: 50px 0px 40px; }

  h3.popover-title { margin-top: 0px;}
  h3 { font-weight: 200;}

}
