<template name="sysHeader">
  {{> connectionBanner}}
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#cb2-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}"><img src="/images/logo.svg"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="cb2-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if isInRole 'admin, moderator' 'CB'}}
            <li id="user-drop-down" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fas fa-cogs" aria-hidden="true"></i>
              </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="{{pathFor 'stats'}}">Statistics</a></li>
                  <li><a href="{{pathFor 'manage user'}}">Manage Users</a></li>
                  <li><a href="{{pathFor 'notifications'}}">Notifications {{#if notificationCount}}<small><span class="badge">{{notificationCount}}</span></small>{{/if}}</a></li>
                </ul>
            </li>
          {{/if}}

          {{#unless currentUser}}
            {{> loginButtons align="right"}}
          {{else}}
            {{#if isInRole 'moderator' 'CB'}}
              <li id="user-drop-down" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <img src="{{user.profile.avatar.default}}" class="img-circle"> {{user.username}} <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="{{pathFor 'my study groups'}}"><i class="fas fa-users fa-fw"></i> {{_ "my_study_groups"}}</a></li>
                    <li><a href="/profile/{{user.username}}/{{user._id}}"><i class="fas fa-user fa-fw"></i> {{_ "profile"}}</a></li>
                    <li><a href="{{pathFor 'account' name=user.username userId=user._id}}"><i class="fas fa-cog fa-fw"></i> {{_ "settings"}}</a></li>
                    <li><a href="#" id="signOut"><i class="fas fa-sign-out-alt fa-fw"></i> {{_ "sign_out"}}</a></li>
                  </ul>
              </li>
            {{/if}}
            {{#if isInRole 'admin' 'CB'}}
              {{> loginButtons align="right"}}
            {{/if}}
          {{/unless}}
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

</template>
