<template name="commentItem">
  <div class="row">
    <div class="col-md-2">
      <a href="{{pathFor 'profile' name=authorName userId=authorId}}"><img src="{{#if authorAvatar}}{{authorAvatar}}{{else}}/default-avatar.png{{/if}}"  class="img-circle"/></a>
    </div>
    <div class="col-md-10">
      <h4>{{authorName}} <small>{{cleanDateFormatCalendar posted}}</small> <span class="pull-right cb-delete">{{#if isUserCommentAuthor authorId}}<i class="fas fa-times delete" aria-hidden="true"></i>{{/if}}</span></h4>
      <p>
        {{{text}}}
      </p>
      <p>
        {{#if totalVotes upvotes.length downvotes.length}}
          {{totalVotes upvotes.length downvotes.length}} &nbsp;&nbsp;
        {{/if}}
        {{#unless isUserCommentAuthor authorId}}

            <i class="fas fa-angle-up {{#if currentUser}} upVote {{else}} continue-popup {{/if}}" aria-hidden="true"></i>
            <small>&nbsp; | &nbsp;</small>
            <i class="fas fa-angle-down {{#if currentUser}} downVote {{else}} continue-popup {{/if}}" aria-hidden="true"></i>
            &nbsp;&nbsp;
            <span class="{{#if currentUser}} replyToComment {{else}} continue-popup {{/if}}"> Reply</span>
        {{/unless}}

        <div id="{{_id}}replyToCommentSection"></div>
      </p>
    </div>
    </div>
    <div class="panel panel-default">
      {{#if child}}
        <div class="panel-body">
          {{#each child}}
            {{> commentItem}}
          {{/each}}
        </div>
      {{/if}}
    </div>


</template>
