<template name="about">
<div id="about">
    <div class="section about-top">
		  <div class="container">
		    <div class="row">
		        <div class="col-md-12 align-center">
		          <h2>About CodeBuddies</h2>
		      </div>
		    </div>
		</div>
  </div>
  <div class="section about-middle">
		  <div class="container">
		    <div class="row">
		        <div class="col-md-6">
		          <h2>Who are we?</h2>
		          <p>CodeBuddies is a community of independent code learners who enjoy sharing knowledge and helping each other learn faster. We come from all over the world! Everyone is welcome, independent of previous knowledge.</p>
		      </div>
		      <div class="col-md-6">
		      	<div class="flags">
		          <img src='images/u-s-a.png'/>
		          <img src='images/canada.png'/>
		          <img src='images/france.png'/>
		          <img src='images/australia.png'/>
		          <img src='images/germany.png'/>
		          <img src='images/romania.png'/>
		          <img src='images/argentina.png'/>
		          <img src='images/italy.png'/>
		          <img src='images/britain.png'/>
		          <img src='images/spain.png'/>
		          <img src='images/switzerland.png'/>
		          <img src='images/ukraine.png'/>
		          <img src='images/japan.png'/>
		          <img src='images/jamaica.png'/>
		          <img src='images/greece.png'/>
		          <img src='images/czech-republic.png'/>
		          <img src='images/ireland.png'/>
		          <img src='images/china.png'/>
		        </div>
		      </div>
		    </div>
		     <div class="row">
		        <div class="col-md-6">
		        	<h2>Why we built this</h2>
		        	<p>Our community spends a lot of time helping each other on Slack, but it's hard to schedule study times in advance in a chatroom, and it's also hard to know who else is online possibly working on the same thing at the same time. This website solves those issues.</p>
		        </div>
		        <div class="col-md-6">

		        </div>
		     </div>
		</div>
  </div>

    <div class="section about-bottom align-center">
		  <div class="container">
		    <div class="row">
		        <div class="col-md-12">
		        	<h2>We are open-sourced</h2>
		        	<p>This platform itself was community-built and is open-sourced on Github. Come say hi and <a href="https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/contributing.md" target="_blank">contribute to this project</a> if you want to help!</p>

		        	<h3>Meet our contributors.</h3>
		        	<div id="contributors">

		        	</div>
		        </div>
		    </div>
		  </div>
	</div>
</div>
</template>
