<template name="about">
  <div id="about" class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="heading">
              <div class="title">{{_ "about"}}</div>
            </div>
            <div class="panel-body">
              <p>CodeBuddies is a helpful lot of people who enjoy coding, web development in particular. We come in all flavours and everyone is welcome, independent of previous knowledge.</p>
              <p>CodeBuddies was founded by Linda, who is one of our most active users, with the goal of making web development approachable for everyone.</p>
              <p>The primary communication channels are this site and our <a href="https://slack.com">Slack</a> channel. The Slack channel is where most of the chat-like communication is done, whereas the web site offers more functionality. To interact with this web site you use the same Slack login that you use to chat with us, so to join the fun, sign up in the top right corner!</p>
              <p>On this site you can show others what you are currently working with by writing a short message and accompanying it with a status. You can also share accomplishments and vouch for others accomplishments in similar fashion.</p>
              <p>Perhaps the most important functionality of this web page is that you can create and/or join a <a id="hangout-faq-popup">Hangout</a>. A hangout can be anything you would like. Click the link the learn more about hangouts, or head back to the home page to explore by yourself!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
