<template name="about">
<div id="about">

    <div class="section about-top">
		  <div class="container">
		    <div class="row">
		        <div class="col-md-12 align-center">
		          <h2>About CodeBuddies</h2>
		        </div>
		    </div>
		  </div>
    </div>

  <div class="section about-middle">
		  <div class="container">
		    <div class="row align-center">
		        <div class="col-md-8 col-md-offset-2">
		          <h2>Who are we?</h2>
                <br>
		          <p>CodeBuddies is a community of independent code learners who enjoy sharing knowledge and helping each other learn faster. Our community members come from all over the world! Everyone is welcome, independent of previous knowledge.</p>
		        </div>
              <br>
  		      <div class="col-md-offset-3 col-md-6 col-md-offset-3 flags-group">
  		      	<div class="flags">
  		          <img src='images/usa.svg'/>
  		          <img src='images/canada.svg'/>
  		          <img src='images/france.svg'/>
  		          <img src='images/australia.svg'/>
  		          <img src='images/germany.svg'/>
  		          <img src='images/romania.svg'/>
  		          <img src='images/argentina.svg'/>
  		          <img src='images/italy.svg'/>
  		          <img src='images/britain.svg'/>
  		          <img src='images/spain.svg'/>
  		          <img src='images/pakistan.svg'/>
  		          <img src='images/switzerland.svg'/>
  		          <img src='images/ukraine.svg'/>
  		          <img src='images/japan.svg'/>
  		          <img src='images/jamaica.svg'/>
  		          <img src='images/greece.svg'/>
  		          <img src='images/czech-republic.svg'/>
  		          <img src='images/ireland.svg'/>
  		          <img src='images/china.svg'/>
  		          <img src='images/india.svg'/>
  		          <img src='images/lithuania.svg'/>
  		        </div>
  		      </div>
		      </div>
		     <div class="row">
  	        <div class="col-md-6">
  	        	<h3>Why we built this</h3>
                <br>
  	        	<p>Oftentimes, <em>people</em> - mentors, coworkers, hackathon buddies and study partners - are key to accelerating one’s learning. But not everyone can commute to a tech meetup, or has access to study partners or mentors/coworkers who can help them.</p>
  	        	<p>Our community spends a lot of time helping each other on <a href="http://codebuddiesmeet.slack.com">Slack</a>, and uses this website to schedule Google Hangouts to co-work silently on personal projects, pair program, or help each other master tutorials.</p>
  	        </div>
  	        <div class="col-md-6">
		        	<h3>How we built this</h3>
                <br>
		        	<p> This project is 100% built by volunteers in the community. We created a google doc with specs, volunteers stepped up to talk design and create mockups, more volunteers built the foundations of the codebase, and more continually step up to help with our <a href="https://github.com/codebuddiesdotorg/cb-v2-scratch/" target="_blank">Github issues</a>. In addition, volunteers keep our <a href="http://codebuddiesmeet.slack.com" target="_blank">Slack chatroom</a> alive, moderating the chat, sharing useful links and discounts, and answering each other's coding-related questions.</p>
		        </div>
		     </div>
				 <div class="row">
						 <div class="col-md-6">
		           <h3>Our Pledge</h3>
                <br>
		           <p>In the interest of fostering an open and welcoming environment, we as community members, contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation. <a href="https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/CODE_OF_CONDUCT.md" target="_blank">Read our code of conduct.</a></p>
	           </div>
				<div class="col-md-6">
		            <h3>We are open-sourced</h3>
					<br>
               		<p>This website is <strong>100%</strong> community-built and open-sourced on Github. Come say hi and <a href="https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/contributing.md" target="_blank">contribute to this project</a> if you want to help!</p>
					<h3>We are fully transparent</h3>
					<br>
					<p>This project operates in full transparency as a member of the Open Collective. Please help support our monthly server costsby becoming a <a href="http://opencollective.com/codebuddies" target="_blank">sponsor or backer </a>. You can keep this project alive</p>
             </div>
         </div>
		</div>
  </div>

    <div class="section about-bottom align-center">
		  <div class="container">
		    <div class="row">
		        <div class="col-md-12">
		        	<h2>Meet our contributors</h2>
                <br>
		        	<div class="contributors">
		        		<a rel="popover" class="user-popover" title="@abdulhannanali <a href='https://twitter.com/computistic'><i class='fa fa-twitter'></i></a><a href='https://github.com/abdulhannanali'><i class='fa fa-github'></i></a><a href='http://hannanali.tech/'><i class='fa fa-link'></i></a>"  data-content="Hannan Ali is based in Pakistan and is passionate about open-source and coding. He's contributed to #100daysofcode, started working on a Slackbot app for the CB Slack, written for Codebuddies' Medium publication." data-placement="top" data-toggle="popover">
		        			<img src="/images/abdulhannanali.jpeg" class="img-circle" alt="abdulhannanali"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@adachiu <a href='https://twitter.com/adachiu_'><i class='fa fa-twitter'></i></a><a href='https://github.com/adachiu' target='_blank'><i class='fa fa-github'></i></a><a href='http://www.adachiu.me'><i class='fa fa-link'></i></a>"  data-content="Ada is a UX designer based in Canada, and is the UX lead for CodeBuddies! She created many high-fidelity mockups for the website, created the logo, wrote HTML/CSS for the site, and offered lots of design advice." data-placement="top" data-toggle="popover">
		        			<img src="/images/adachiu.jpeg" class="img-circle" alt="adachiu"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@alex <a href='https://twitter.com/Miami_Product'><i class='fa fa-twitter'></i></a><a href='https://github.com/nestevez7'><i class='fa fa-github'></i></a>"  data-content="Alex is a web developer based in Miami. She offered useful feedback for CodeBuddies 2.0 and helped with CSS issues." data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/13541047?v=3&s=460" class="img-circle" alt="alex"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@anbuselvan <a href='https://twitter.com/anbuselvanp'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='http://anbuselvan.net'><i class='fa fa-link'></i></a>"  data-content="Anbuselvan is a senior software engineer based in California interested making the world a better place for everyone and free preliminary education for underprivileged children. He contributed significantly in kickstarting CodeBuddies v2.0's codebase, turning the mockups into MeteorJS reality. " data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/167158?v=3&s=460" class="img-circle" alt="anbuselvan"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@bethanyg <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a>"  data-content="Bethany is a software developer based in Oakland. She contributed javascript advice and offered useful suggestions for CodeBuddies v2.0." data-placement="top" data-toggle="popover">
		        			<img src="https://avatars2.githubusercontent.com/u/5923094?v=3&s=460" class="img-circle" alt="bethanyg"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@distalx <a href='http://twitter.com/distalx'><i class='fa fa-twitter'></i></a><a href='http://github.com/distalx'><i class='fa fa-github'></i></a>"  data-content="Distalx is a software engineer based in India, and is a lead developer for CodeBuddies. He built the search tool and the permissions feature, implemented Mailchimp and Kadira integration, set up the staging and deployment processes for the app, and fixed countless other bugs. " data-placement="top" data-toggle="popover">
		        			<img src="https://avatars1.githubusercontent.com/u/11193792?v=3&s=460" class="img-circle" alt="distalx"/>
		   				</a>

		  				<a rel="popover" class="user-popover" title="@ISPOL <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a>"  data-content="Alan Peng is a senior majoring in Computer Science at the University of Connecticut. He enjoys chess and creating games. He helped submit various patches to the CodeBuddies repo in the last two years." data-placement="top" data-toggle="popover">
		  					<img src="https://avatars2.githubusercontent.com/u/4441258?v=3&s=460" class="img-circle" alt="ISPOL"/>
		  				</a>
		  				<a rel="popover" class="user-popover" title="Prince (@raresight) <a href='https://twitter.com/Prince_SaaS'><i class='fa fa-twitter'></i></a><a href='https://github.com/leewaygroups'><i class='fa fa-github'></i></a><a href='https://medium.com/@codeyans'><i class='fa fa-link'></i></a>"  data-content="Prince is is a software developer based in Thailand. He's offered great suggestions to the CodeBuddies repo and contributed a bunch of small code fixes, and is published on the CodeBuddies Medium publication." data-placement="top" data-toggle="popover">
		  					<img src="https://avatars3.githubusercontent.com/u/7301892?v=3&s=460" class="img-circle" alt="leewaygroups"/>
		  				</a>
		  				<a rel="popover" class="user-popover" title="@linda <a href='http://twitter.com/lpnotes'><i class='fa fa-twitter'></i></a><a href='http://github.com/lpatmo'><i class='fa fa-github'></i></a>"  data-content="Linda is the creator of CodeBuddies. She feels like the luckiest person being able to learn with and from the awesome people in this community." data-placement="top" data-toggle="popover">
		  					<img src="https://pbs.twimg.com/profile_images/600507695372701696/uQBnQi-v_400x400.png" class="img-circle" alt="lpatmo"/>
		  				</a>
		  				<a rel="popover" class="user-popover" title="@luxis <a href='https://twitter.com/jgarplind'><i class='fa fa-twitter'></i></a><a href='https://github.com/Luxisapex'><i class='fa fa-github'></i></a>"  data-content="Joel is a graduate student based in Sweden. He added a kudos/upvoting system to the learnings and accomplishments tracker on CodeBuddies and committed fixes for a few other bugs as well." data-placement="top" data-toggle="popover">
		  					<img src="https://avatars1.githubusercontent.com/u/10069144?v=3&s=460" class="img-circle" alt="luxis"/>
		  				</a>
		  				<a rel="popover" class="user-popover" title="@mattierae <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a>"  data-content="Mattie is an artist and designer based in Portland. She contributed mockups to CodeBuddies v2.0 in its early stage of development, helping it become the site it is today." data-placement="top" data-toggle="popover">
		  					<img src="/images/mattierae.jpg" class="img-circle" alt="mattierae"/>
		  				</a>
						<a rel="popover" class="user-popover" title="@mduca <a href='https://twitter.com/mduca'><i class='fa fa-twitter'></i></a><a href='https://github.com/mduca'><i class='fa fa-github'></i></a>"  data-content="Michael is a software developer based in the Bay Area. He contributed to several CodeBuddies' weekly hangouts and helped turn the profile page into a reality." data-placement="top" data-toggle="popover">
		  					<img src="https://avatars2.githubusercontent.com/u/581692?v=3&s=460" class="img-circle" alt="mduca"/>
		  				</a>
		        		<a rel="popover" class="user-popover" title="@olivia <a href='https://twitter.com/dothecodeolivia'><i class='fa fa-twitter'></i></a><a href='https://github.com/foxiae'><i class='fa fa-github'></i></a><a href='http://codemethisolivia.com/'><i class='fa fa-link'></i></a>"  data-content="Olivia is a software developer based in Maryland. She helps moderate the community, contributed to a number of feature discussions, and worked on an auto-generating styleguide for CodeBuddies 2.0." data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/15113564?v=3&s=460" class="img-circle" alt="foxiae"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@pandawhisperer <a href='https://twitter.com/panda_whisperer'><i class='fa fa-twitter'></i></a><a href='https://github.com/pandawhisperer'><i class='fa fa-github'></i></a><a href='http://www.pandawhisperer.net//'><i class='fa fa-link'></i></a>"  data-content="Christoph is a senior software engineer based in L.A. He took on the invaluable task of figuring out how to connect CodeBuddies with the Google Hangouts API, a feature without which the website could not have been launched." data-placement="top" data-toggle="popover">
		        			<img src="https://pbs.twimg.com/profile_images/707973124873003008/eVxjoVL6.jpg" class="img-circle" alt="pandawhisperer">
		        		</a>
		        		<a rel="popover" class="user-popover" title="@pdotsani <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a>"  data-content="Patrick is a web developer based in the San Francisco Bay Area. He created CodeBuddies' initial sponsor page and offered useful suggestions on other issues." data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/5272252?v=3&s=460" class="img-circle" alt="pdotsani"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@sergeant-q <a href='https://twitter.com/_SergeantQ'><i class='fa fa-twitter'></i></a><a href='https://github.com/sergeant-q'><i class='fa fa-github'></i></a><a href='http://robertoquezada.com/' target='blank'><i class='fa fa-link'></i></a>"  data-content="Roberto Quezada is a full-stack developer based in Las Vegas. He contributed significantly to the CodeBuddies' codebase, developing the hangout alert notification on Slack and an email reminder for upcoming hangouts." data-placement="top" data-toggle="popover">
		        			<img src="https://avatars2.githubusercontent.com/u/1451729?v=3&s=460" class="img-circle" alt="sergeant-q"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@sheldonbarnes <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a>"  data-content="Sheldon is a systems consultant based in Indiana. He offered useful feedback to CodeBuddies v2.0 and and contributed to a couple of issues, including a character count limit for the status update and the visibility of the hangout status buttons on the learnings tab." data-placement="top" data-toggle="popover">
		        			<img src="https://avatars1.githubusercontent.com/u/10457072?v=3&s=460" class="img-circle" alt="sheldonbarnes"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@sujilnt <a href='https://twitter.com/sujilanto'><i class='fa fa-twitter'></i></a><a href='https://github.com/sujilnt'><i class='fa fa-github'></i></a>"  data-content="Sujil is a UI developer based in Bangalore. He fulfilled pull requests for a number of UI issues in CodeBuddies v2.0." data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/9514199?v=3&s=460" class="img-circle" alt="sujilnt"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@techgeek503 <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='https://github.com/techgeek503'><i class='fa fa-github'></i></a>"  data-content="@techgeek503 is a web developer based in [ ]. He added the hangout hover descriptions to the Hangout Creation popup!" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/13875481?v=3&s=460" class="img-circle" alt="techgeek503"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@will <a href='https://twitter.com/williamrwilson'><i class='fa fa-twitter'></i></a><a href='https://github.com/William-R-Wilson'><i class='fa fa-github'></i></a><a href='http://semanticerror.net' target='blank'><i class='fa fa-link'></i></a>"  data-content="Will is a web developer based in Tennessee. He helps moderate the community, contributed to a number of feature discussions for the app, and wrote code that allows a user to edit and delete a learning from the learnings/accomplishments tracker!" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/7865866?v=3&s=460" class="img-circle" alt="william-r-wilson"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@wuworkshop <a href='http://twitter.com/wuworkshop'><i class='fa fa-twitter'></i></a><a href='http://github.com/wuworkshop'><i class='fa fa-github'></i></a>"  data-content="Alice is a freelance web developer based in New York City. She has been with CodeBuddies almost since the beginning, and is known for being a prolific sharer of useful links. She helps moderate the community and has contributed invaluable feedback to countless issues on the CodeBuddies repo." data-placement="top" data-toggle="popover">
		   					<img src="https://avatars0.githubusercontent.com/u/605787?v=3&s=460" class="img-circle" alt="wuworkshop"/>
		   				</a>

		        	</div>
		        <h3>And all those who've made a positive impact <br /> on the project and the community</h3>
              <br>
		        	<div class="contributors">
		        		<a rel="popover" class="user-popover" title="@sgtphips <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/6901575?v=3&s=460" class="img-circle" alt="sgtphips"/>
		        		</a>

		        		<a rel="popover" class="user-popover" title="@anonRegions <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars1.githubusercontent.com/u/8366322?v=3&s=460" class="img-circle" alt="anonRegions"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/1028666?v=3&s=460" class="img-circle" alt="daisukeoka"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/8884298?v=3&s=460" class="img-circle" alt="colbycheeze"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/13990019?v=3&s=460" class="img-circle" alt="imdaveho"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars1.githubusercontent.com/u/8206741?v=3&s=460" class="img-circle" alt="judahmeek"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/847179?v=3&s=460" class="img-circle" alt="pirosb3"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars2.githubusercontent.com/u/16929450?v=3&s=460" class="img-circle" alt="sbe"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars1.githubusercontent.com/u/7963776?v=3&s=460" class="img-circle" alt="kevinmulhern"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/8755434?v=3&s=460" class="img-circle" alt="charlie"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/3340414?v=3&s=460" class="img-circle" alt="cbelsole"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://pbs.twimg.com/profile_images/762475443320520704/vm6_z5x1_400x400.jpg" class="img-circle" alt="shethrives"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://pbs.twimg.com/profile_images/378800000322065366/f1aebfa323850ee684f3dcb471483144_400x400.jpeg" class="img-circle" alt="russeby"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://pbs.twimg.com/profile_images/545058640575483904/EZRQyNiW_400x400.jpeg" class="img-circle" alt="iancmason"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAV3AAAAJGI2ZjQyNjUxLTBjYjAtNGJlNS1iOWYyLWYyYjQ4NDM0MzBmNQ.jpg" class="img-circle" alt="jackyin"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars2.githubusercontent.com/u/8673832?v=3&s=460" class="img-circle" alt="clabruno"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/5085707?v=3&s=460" class="img-circle" alt="muhammedz"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/9161892?v=3&s=460" class="img-circle" alt="bryantt"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/358832?v=3&s=460" class="img-circle" alt="Sacha Greif"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars2.githubusercontent.com/u/2608446?v=3&s=460" class="img-circle" alt="Slava Kim"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars3.githubusercontent.com/u/611787?v=3&s=460" class="img-circle" alt="Gary Chou"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://pbs.twimg.com/profile_images/650460405660147712/iKndCbUs.jpg" class="img-circle" alt="Eva Gantz"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://pbs.twimg.com/profile_images/534874364676562944/tsSdCgqR_400x400.jpeg" class="img-circle" alt="Taurus Omejia"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars1.githubusercontent.com/u/3957744?v=3&s=460" class="img-circle" alt="choonggg"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars2.githubusercontent.com/u/7064600?v=3&s=460" class="img-circle" alt="curioussavage"/>
		        		</a>
		        		<a rel="popover" class="user-popover" title="@username <a href='http://twitter.com/username'><i class='fa fa-twitter'></i></a><a href='http://github.com/'><i class='fa fa-github'></i></a><a href='' target='blank'><i class='fa fa-link'></i></a>"  data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi" data-placement="top" data-toggle="popover">
		        			<img src="https://avatars0.githubusercontent.com/u/7821954?v=3&s=460" class="img-circle" alt="Paulie-P"/>
		        		</a>



		        	</div>


		        </div>
		    </div>
		  </div>
	</div>
</div>
</template>
