<template name="connect">
  <div id="connect">
  
      <div class="wrapper">
          <div class="connect-top">
              <h2>CodeBuddies Connect <i class="fa fa-magic"></i></h2>
              
              <form id="connect">
                  <section id="week">
                      <p>(1/3) What are you looking for this week?</p>
                      <input type="radio" name="stageOne" value="A coding or accountability partner" id="partner">
                      <label for="partner">
                           A coding or accountability partner
                      </label>
                      <input type="radio" name="stageOne" value="Collaboration on an open-sourced project" id="project">
                      <label for="project">
                           Collaboration on an open-sourced project
                      </label>
                      <input type="radio" name="stageOne" value="Feedback, mentorship or advice" id="feedback"> 
                      <label for="feedback">
                          Feedback, mentorship or advice
                      </label>
                      <input type="radio" name="stageOne" value="I want to mentor or teach" id="mentor">
                      <label for="mentor">
                           I want to mentor or teach
                      </label>
                  </section>
                  <section id="partner">
                      <p>(2/3) Can you elaborate?</p>
                      <input type="radio" name="partner" value="Algorithms coding practice (pair programming)" id="pairing"> 
                      <label for="pairing">
                          Algorithms coding practice (pair programming)
                      </label>
                      <input type="radio" name="partner" value="Interview practice" id="interview"> 
                      <label for="interview">
                          Interview practice
                      </label>
                      <input type="radio" name="partner" value="Motivation to finish (or continue working on) a tutorial or a MOOC" id="mooc"> 
                      <label for="mooc">
                          Motivation to finish/continue a tutorial or MOOC
                      </label>
                      <input type="radio" name="partner" value="An accountability partner I can check in with" id="accountability">
                      <label for="accountability">
                           An accountability partner I can check in with

                      </label>
                  </section>
                  <section id="project">
                      <label>
                          <input type="radio" name="project" value="I'd like to work on an open-sourced project with some collaborators"> I'd like to work on an open-sourced project with some collaborators

                      </label>
                      <label>
                          <input type="radio" name="project" value="I'm looking for contributors to my open-sourced project"> I'm looking for contributors to my open-sourced project
                      </label>
                  </section>
                  <section id="feedback">
                      <label>
                          <input type="radio" name="feedback" value="I'd like some feedback on a code project or blog post"> I'd like some feedback on a code project or blog post

                      </label>
                      <label>
                          <input type="radio" name="feedback" value="I am looking for career advice"> I am looking for career advice

                      </label>
                      <label>
                          <input type="radio" name="feedback" value="I am looking for a mentor who can meet with me in a 1-hour hangout"> I am looking for a mentor who can meet with me in a 1-hour hangout

                      </label>
                      <label>
                          <input type="radio" name="feedback" value="I am looking for a mentor who can give me feedback on Slack"> I am looking for a mentor who can give me feedback on Slack

                      </label>
                  </section>
                  <section id="mentor">
                      <label>
                          <input type="radio" name="mentor" value="I want to practice teaching something, or practice giving a talk"> I want to practice teaching something, or practice giving a talk


                      </label>
                      <label>
                          <input type="radio" name="mentor" value="I want to mentor someone on Slack"> I want to mentor someone on Slack

                      </label>
                      <label>
                          <input type="radio" name="mentor" value="I can spare one hour this week to mentor someone in a hangout"> I can spare one hour this week to mentor someone in a hangout
                      </label>
                    </section>

              </form>
          </div>

      </div>
      
  

      <div class="container container-large">
        <div class="row">
            <div class="col-md-12">
                <div id="description">

                  
           </div>
          </div>
        </div>
    </div>

   

  </div><!--coworking-->


</template>
