<template name="coworking">
  <div id="coworking">
      


  <div class="section coworking-top">
      <div class="container">
        <div class="row">
            <div class="col-md-4 align-center">
                <div id="hangout-button-wrapper">
                  <p class="warning chrome-firefox-warning">Warning: Please load this page using Chrome <img src="/images/chrome.ico" width="25"/> or Firefox <img src="/images/firefox.ico" width="25"/> to avoid technical issues</p>
                  <div class="silentHangoutDescription">
                      <h2>Global Silent Hangout</h2>
                      <div class="silentHangoutExplanation">
                          <p>This is a space for silent productivity. <strong>Rules:</strong></p>
                          <ol id="rules">
                              <li>Share what you are working on! <i class="fa fa-arrow-down"></i></li>
                              <li>Make sure your your mic <i class="fa fa-microphone-slash text-danger-color"></i> and video <i class="fa fa-video-camera text-danger-color"></i> are <strong>muted</strong> after you join.</li>
                              <li>If you meet a potential study partner here or want to use the mic to talk about a specific topic, <a class="create-hangout-popup">click here</a> to start a spontaneous hangout.</li>
                              <li>Recommended but optional: screenshare for maximum productivity.</li>
                          </ol>
                      </div>
                   </div>
                
                  <button class="btn btn-cb2 btn-schedule-hangout load-hangout">{{_ "continue"}}</button>
                </div>
            </div>
            <div class="col-md-8 align-center">
              


                <div id="hangout-container"></div>
        
                <span id="post_id" class="hide">{{_id}}</span>
              
          </div>
        </div>
    </div>
  </div>

  <div class="section faq-middle">
      <div class="container container-large">
        <div class="row">
            <div class="col-md-4">
                {{> updateStatus type="working"}}
                {{> statusList type="working"}}
            </div>
            <div class="col-md-8">
                {{> hangoutLearned}}
                {{> statusList type="learnings"}}
           </div>
          </div>
        </div>
    </div>

   

  </div><!--coworking-->


</template>
