<template name="hangoutFAQModal">
  <div id="hangout-faq-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="btn btn-circle btn-outline btn-info pull-right" data-dismiss="modal"><i class="fas fa-times"></i></button>
            <h3 class="modal-title text-center">What is a Hangout?</h3>

        </div>
        <div class="modal-body">
          <div class="row">

            <div id="hangout-options" class="col-md-12 text-left">
             <p>You can start three types of Hangouts: </p>
             <ul>
             <li><i class="fas fa-microphone-slash text-danger-color type"></i> <strong>Silent</strong> Hangout</li>
             <li><i class="fas fa-user text-warning-color type"></i> <strong>Teaching</strong> Hangout</li>
             <li><i class="fas fa-users text-success-color type"></i> <strong>Collaboration</strong> Hangout
             </li>
             </ul>

             <p>
             	You can you start a Hangout on any topic you want, and you do not need to be an expert on it in order to start one. Unlike most Hangout experiences you may be used to, we typically <strong>turn off the video</strong> in all of our Hangouts. </p>
             <p class="align-center">
             	<img src="/images/codebuddies_jitsi_diagram.jpg" width="100%">
             </p>
             <p>
             	A <i class="fas fa-microphone-slash text-danger-color type"></i> <strong>Silent</strong> Hangout
                is like a virtual coffeeshop for people who want to be productive. You can make the Hangout topic general enough so that people can work on different things, or the topic could be about working through the same tutorial or coding exercises. As a Silent Hangout host, you can decide to do a quick microphone-on check-in near the end of the session, but in general participants will expect the majority of the Hangout to be microphone-off.
             </p>
             <p>
             	A <i class="fas fa-user text-warning-color type"></i> <strong>Teaching</strong> Hangout functions as a space where you can teach a concept or walk participants through a codebase. This is your way of sharing your knowledge and your skills!
             </p>

             <p>
             	If you create a <i class="fas fa-users text-success-color type"></i> <strong>Collaboration</strong> Hangout, you can use the Hangout as a space to "pair program" on a coding exercise, talk through a chapter of a coding tutorial together, or work on an open-sourced project with anyone who might be interested.
             </p>
             <!-- <p class="align-center">
               <img src="/images/jitsi-screenshot.jpg" width="65%">
             </p> -->
             <h4>How do I get my Hangout noticed?</h4>
             <p>When you schedule a Hangout, it will automatically get posted to CodeBuddies' twitter feed at <a href="http://twitter.com/codebuddiesmeet" target="_blank">@codebuddiesmeet</a>, to the #announcements channel on Slack, and to any Slack channels linked with the group your hangout is scheduled under. (Only group owners can link Slack channels under the "Settings" tab in their group.) </p>
             <p>Our community is most active on Slack; we recommend that you figure out a time that works for at least one other study partner, and then schedule the Hangout for that time. When you've created the Hangout, feel free to share a link to it in any relevant Slack channel so that others who didn't see it can join.</p>
             <h4>When a Hangout is in progress, what are some general tips?</h4>
             <ul>
             	<li>Hangouts are a safe space for learning with participants of all levels. Please follow our community's <a href="https://github.com/codebuddies/codebuddies/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>.</li>
                <li><strong>It's all right to join a Hangout late, or to be a silent observer.</strong> You're not interrupting! If you'd rather not speak, please remember to type "hello" in the chatbox so that the other participants in the Hangout knows you're there and observing.</li>
             	<li>You can use <a href="http://codebuddies.slack.com" target="_blank">Slack</a> OR the Hangout chat box to chat and type questions.</li>
             	<li>Screensharing is always optional, but it's a useful tool for preventing ourselves from getting distracted by Facebook or YouTube during a <i class="fas fa-microphone-slash text-danger-color type"></i> <strong>Silent</strong> Hangout, or for tracking where everyone is at in a tutorial, or for debugging someone's issue more easily during a <i class="fas fa-user text-warning-color type"></i> <strong>Teaching</strong> or <i class="fas fa-users text-success-color type"></i> <strong>Collaboration</strong> Hangout.</li>
             	<li>Hangouts lets multiple people screenshare with each other at the same time. You can click on a person's individual icon to see their screen.
             	</li>
                <li>Note: We now allow you to use an external third-party URL that replaces the default Jitsi room when you schedule a hangout, like Zoom or Twitch.</li>
             </ul>

              </div>
            </div>

          <br>


        </div>
      </div>
    </div>
  </div>
</template>
