 <template name="hangoutsJoined">
    <ul id="hangouts">
      <div class="row hangout-item">
        <div id="hangout-joined-pagination">

          {{#each hangouts}}
              {{> hangoutItem}}
          {{/each}}

          {{#unless hasMoreHangouts}}
            <button class="btn btn-default btn-block" disabled="disabled">Loading</button>
          {{else}}
            <button id="go-to-top" class="btn btn-default btn-block">Back to the top</button>
          {{/unless}}

        </div>
      </div>
    </ul>
</template>
