 <template name="hangoutsCreated">
  <ul id="hangouts">
    <div class="row hangout-item">
      <div id="hangout-created-pagination">

        {{#each hangouts}}
          {{> hangoutItem}}
        {{/each}}

        {{#unless hasMoreHangouts}}
          <button class="btn btn-default btn-block" disabled="disabled">Loading</button>
        {{else}}
          <button id="go-to-top" class="btn btn-default btn-block">Top</button>
        {{/unless}}
        
      </div>
    </div>
  </ul>
</template>
