<template name="slack">
  <div id="slack">

    <div class="section slack-top">
        <div class="container">
          <div class="row">
              <div class="col-md-12 align-center">
                <h2>Slack</h2>
            </div>
          </div>
      </div>
    </div>
    <div class="section slack-middle">
      <div class="container container-large">
        <div class="row align-center">
            <div class="col-md-8 col-md-offset-2">
              <h2>Our community spends a lot of time helping each other on Slack.</h2>
              <div class="slack-window">
                <img src="/images/slack-window.png" class="img-responsive" id="slack-screenshot">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3>Quick Links</h3>
            <br>
              <ul>
                <li><a href="http://codebuddies.slack.com" target="_blank">Slack</a> (<a href="http://codebuddiesmeet.herokuapp.com" target="_blank" >Get your invite</a>)</li>
                <li><a href="https://www.facebook.com/groups/TOPSTUDYGROUP/" target="_blank">Facebook Group</a></li>
                <li><a href="https://github.com/codebuddies/codebuddies">Github</a> - <a href="http://docs.codebuddies.org" target="_blank">Documentation</a> | <a href="https://github.com/codebuddies/codebuddies/pulls" target="_blank">Pull Requests</a>
                </li>
                <li><a href="http://twitter.com/codebuddiesmeet" target="_blank">Twitter</a></li>
                <li><a href="http://opencollective.com/codebuddies">Open Collective</a></li>
              </ul>
            </div>
            <div class="col-md-8">
              <h3>How do I join the CodeBuddies Slack?</h3>
                <p>Our community spends a lot of time helping each other on our <a href="https://codebuddies.slack.com">Slack chatroom</a>. To join, enter your email <a href="http://codebuddiesmeet.herokuapp.com/" target="_blank">here</a>.</p>
              <h3>What is the Slack Etiquette in this community?</h3>
              <h4>General Rules to Follow</h4>
              <ul>
                <li>Introduce yourself in the #introduce-yourself channel and please help welcome others there too! The more we know about each other, the better we can connect and collaborate. </li>
                <li>Check the #announcements channel for notifications about new hangouts that your peers in the community have started or scheduled on the website!</li>
                <li>If you have a specific learning goal (e.g. complete a book or tutorial, master a specific topic like functional or a specific ruby book or design patterns or blockchain), start a study group on codebuddies.org/study-groups. Invite folks on Slack to join your study group so that you can motivate each other to master that learning goal.</li>
                <li>We are a pay-it-forward community. If someone here has helped you, please give back by helping someone else!</li>
              </ul>
              <h4>Etiquette for Posting Questions</h4>
              <ul>
                <li>This is a safe space. No question is too "stupid." But please be specific with your questions so all of us can help you even when you aren't online. Share a code snippet, a link to where you're seeing the issue, a description of what is confusing you, or specifics on what you've tried so far. More often than not, it also helps to paste your error logs into a snippet or text file (<a href="https://get.slack.help/hc/en-us/articles/204145658-Create-a-snippet" target="_blank">instructions here on how to do that in Slack</a>) to accompany your question/issue.</li>
                <li>Ask questions in a public channel; you are more likely to receive an answer than if you DM people. Other people in the channel may have had the same issue before and can point you in the right direction - and if not, they will benefit from the answer you receive or work out.</li>
                <li>When asking for help, please don't ask if anybody is available to help - just ask the question!</li>
                <li>Please don't cross post the same question in multiple channels. Folks in this community may not be super-chatty at any given moment, but we are reading posts across all chanels. Someone will eventually see (and help) you.</li>
              </ul>
              <h3>How do you show your appreciation to someone on Slack?</h3>
                <p>We use a bot called plusplus to applaud or encourage each other. For example, if @hermionegranger gives me a helpful answer to a question I asked in a channel, I might type @hermionegranger++.
                  Think of these points as virtual cookies. :)</p>
              <h3>Who can create new channels on Slack?</h3>
                <p>Everyone can create private channels, but to minimize the number of inactive public channels (at one point we had over 100!), only admins can
                  create new public channels. If you'd like a new public channel to be created -- say, for a study group around a certain topic -- please request it
                  in the #codebuddies-meta channel.</p>
            </div>
          </div>
        </div>
    </div>

    <div class="section slack-bottom">
      <div class="container">
        <div class="row">

        </div>
      </div>
    </div>

  </div>

</template>
