<template name="termsOfService">

  <div id="about">
    <div class="section about-top">
      <div class="container">
        <div class="row">
            <div class="col-md-12 align-center">
              <h2>CodeBuddies Terms of Service</h2>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section about-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <h2>General notice</h2>
          <p>If you're under 13, it is illegal for you to have an account on Slack because of the <a href="https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act">Children's Online Privacy Protection Act</a>. Instead, please check out <a href="https://code.org/learn">https://code.org/learn</a>, or <a href="https://www.commonsensemedia.org/lists/coding-apps-and-websites">https://www.commonsensemedia.org/lists/coding-apps-and-websites</a>.</p>
          <p>Alternatively, you can ask a parent to create an account and post on your behalf. But without express parental permission, we're not allowed to collect information from you — i.e. you can't have an account here, or we'll be in legal trouble. Sorry!</p>
          </div>
        </div>
      </div>
    </div>  
  </div>
  
</template>
