<template name="termsOfService">

  <div id="about">
    <div class="section about-top">
      <div class="container">
        <div class="row">
            <div class="col-md-12 align-center">
              <h2>CodeBuddies Terms of Service</h2>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section about-middle">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
          <p>Please read these Terms of Service ("Terms", "Terms of Service") carefully before using the http;//codebuddies.org website (the "Service") operated by CodeBuddies ("us", "we", or "our").</p>

          <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

          <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service. This Terms of Service was created with the Terms and Conditions Generator from TermsFeed.</p>

          <h3>Links To Other Web Sites</h3>

          <p>Users may post links to third-party web sites or services that are not owned or controlled by CodeBuddies.</p>

          <p>CodeBuddies has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that CodeBuddies shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.</p>

          <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

          <h3>Adherence to our Code of Conduct</h3>
          <p>As a member of the CodeBuddies community, you agree to adhere to our community <a href="https://github.com/codebuddies/codebuddies/blob/master/CODE_OF_CONDUCT.md" target="_blank">Code of Conduct</a>.</p>


          <h3>Termination</h3>

          <p>We may terminate or suspend access to our site if you breach the Terms.</p>

          <p>Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.</p>

          <h3>Users Under 16</h3>

          <p>CodeBuddies is not designed for or directed to children under the age of 16. We do not collect personal information from any person we know is under the age of 16.</p>

          <h3>Governing Law</h3>

          <p>These Terms shall be governed and construed in accordance with the laws of California, United States, without regard to its conflict of law provisions.</p>

          <p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.</p>


          </div>
        </div>
      </div>
    </div>  
  </div>
  
</template>
