<template name="allDiscussions">
  <div id="study-groups">
    <div class="section study-groups-top">
        <div class="container">
          <div class="row">
              <div class="col-md-12 align-center">
                <h2>Discussions</h2>
                <div class="btn btn-cb2 {{#unless currentUser}} continue-popup btn-createGroup-notLoggedIn {{/unless}}" id="{{#if currentUser}}createGroupButton{{/if}}"> {{_ "start_new_discussion"}} </div>
            </div>
          </div>
      </div>
    </div>
  </div>


</template>
