<template name="discussionSidebarNotification">
  <div class="discussion-sidebar">
    <h5>NOTIFICATION</h5>
    <hr>
    {{#if isInCollection subscribers}}
      <div class="btn btn-sm btn-block btn-default" id="unsubscribe">
        unsubscribe
      </div>
      You’re receiving notifications because you’re subscribed to this thread.
    {{else}}
      <div class="btn btn-sm btn-block btn-default" id="subscribe">
        subscribe
      </div>
      You’re ignoring this thread.
    {{/if}}
  </div>
</template>
