<template name="discussionItem">
  <div class="row">
    <div class="col-md-10">
      <h4><a href="{{pathFor 'discussion' discussionId=_id}}">{{topic}}</a> {{#if modified_at}}<small>(Edited)</small>{{/if}}</h4>
      <h5><small>Started by <a href="{{pathFor 'profile' name=author.username userId=author.id}}">{{author.username}}</a></small></h5>
      <h5>{{#each tag in tags}} <span class="label label-default select-tag pointer" data-tag="{{tag}}">{{tag}}</span> {{/each}}</h5>
      <h4><small>{{truncateIt description '90'}}</small></h4>
    </div>
    <div class="col-md-2">
      {{! available actions as a button grouping }}
      {{#if isAuthor author.id}}
        <div class="btn-group pull-right" role="group" aria-label="...">
          <button type="button" class="btn btn-sm btn-default edit-discussion">Edit</button>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-left">
              <li class="delete-discussion"><a href="#">Remove</a></li>
            </ul>
          </div>
        </div>
      {{else}}
        <div class="btn-group pull-right" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-left">
              <li class="{{#unless currentUser}} continue-popup {{else}} report-discussion {{/unless}}"><a href="#">Report</a></li>
              {{#if isInRole 'admin,moderator,volunteer' 'CB'}}
                <li role="separator" class="divider"></li>
                <li class="edit-discussion"><a href="#">Edit <span class="label label-info">M</span> </a></li>
              {{/if}}
              {{#if isInRole 'admin,moderator' 'CB'}}
                <li role="separator" class="divider"></li>
                <li class="delete-discussion"><a href="#">Remove <span class="label label-info">M</span> </a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      {{/if}}
    </div>
    <div class="col-md-12">
      <h4>
        <i class="fas fa-thumbs-up  {{#unless currentUser}} continue-popup {{else}} {{#if isInCollection up_votes}} voted {{else}} upvote {{/if}} {{/unless}}" aria-hidden="true"></i> <small>{{up_votes.length}}</small> &nbsp; &nbsp;
        <i class="fas fa-thumbs-down {{#unless currentUser}} continue-popup {{else}} {{#if isInCollection down_votes}} voted {{else}} downvote {{/if}} {{/unless}}" aria-hidden="true"></i> <small>{{down_votes.length}}</small> &nbsp; &nbsp;
        <small><i class="fas fa-clock" aria-hidden="true"></i> Posted on {{dispDate created_at}} </small> &nbsp; &nbsp;
        <small><i class="fas fa-comments" aria-hidden="true"></i> {{response_count}} </small> &nbsp; &nbsp;
        <small><i class="fas fa-eye" aria-hidden="true"></i> {{views}} </small> &nbsp; &nbsp;
      </h4>
    </div>
  </div>
  <hr>

</template>
