<template name="discussion">
  <div class="container">
    {{#if Template.subscriptionsReady}}
      {{#with discussion}}
        <h3>{{topic}}</h3>
        <h4>
          <i class="fa fa-thumbs-o-up {{#if isInCollection up_votes}} voted {{else}} upvote {{/if}}" aria-hidden="true"></i> <small>{{up_votes.length}}</small> &nbsp; &nbsp;
          <i class="fa fa-thumbs-o-down {{#if isInCollection down_votes}} voted {{else}} downvote {{/if}}" aria-hidden="true"></i> <small>{{down_votes.length}}</small> &nbsp; &nbsp;
          <small><i class="fa fa-clock-o" aria-hidden="true"></i> Posted on : {{dispDate created_at}} </small> &nbsp; &nbsp;
          <small><i class="fa fa-comments-o" aria-hidden="true"></i> {{response_count}} </small> &nbsp; &nbsp;
          <small><i class="fa fa-eye" aria-hidden="true"></i> {{views}} </small> &nbsp; &nbsp;
        </h4>
        <hr>
        <div class="row">
          <!-- left -->
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="description" style="font-size:17px; text-align:justify; font-weight:400;">
                  {{#markdown}}{{description}}{{/markdown}}
                </div>
              </div>

            </div>
            <div class="row">

            </div>
          </div>
          <!-- left ends -->

          <!-- right -->
          <div class="col-md-3 col-md-offset-1">
            <h5>Participant</h5>
            {{#each participants}}
              {{username}}
            {{/each}}
            <hr>
            <h5>Notification</h5>
            {{#if isInCollection subscribers}}
              <div class="btn btn-sm btn-block btn-default">
                unsubscribe
              </div>
              You’re receiving notifications because you’re subscribed to this thread.
            {{else}}
              <div class="btn btn-sm btn-block btn-default">
                subscribe
              </div>
              You’re ignoring this thread.
            {{/if}}
            <hr>
          </div>
          <!-- right ends -->

        </div>

      {{/with}}
    {{else}}
      {{> loading}}
    {{/if}}
  </div>
</template>
