<template name="hangout">
  <div id="post" class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{#if Template.subscriptionsReady}}
          {{#with hangout}}
            <div class="panel panel-default">
              <div class="panel-heading">
              <div class="row">
               <div class="col-md-2">

          {{# unless completed this }}
          {{# unless url }}
                {{#if hangoutOwner host.id}}
                  <div class="google-hangout">
                      <div class="g-hangout" data-render="createhangout"
                      data-initial_apps="[{ app_id : '999356798349', start_data: {{_id}}, 'app_type' : 'LOCAL_APP' }]" data-widget_size="72"></div>
                  </div>
                {{/if}}
          {{/unless}}
         {{/unless}}

        {{#if equals visibility false}}
          <span class="label label-pill label-danger">DELETED</span>
        {{else}}

          {{# unless completed this }}

            {{#if isInProgress this}}

              {{#if isJoined}}
                {{#if url}}
                  <a class="btn btn-cb2 btn-grey btn-success" href="{{url}}" target="_blank">{{_ "join"}}</a>
                {{else}}
                  {{#unless hangoutOwner host.id}}
                        <p class="status">Please wait for the host to start the hangout.</p>
                      {{/unless}}
                {{/if}}



              {{else}}
                {{# unless getIsDone this}}
                  <button id="join-hangout" class="btn btn-cb2">{{_ "join_in_session"}}</button>
                {{/unless}}
              {{/if}}

            {{else}}

              {{#if isJoined}}
                <p class="upcoming">{{upcomingTime this}}</p>
                <a id="leave-hangout" class="align-center">{{_ "leave"}}</a>
              {{else}}

                {{# unless getIsDone this}}
                  <button id="join-hangout" class="btn btn-cb2">{{_ "rsvp"}}</button>
                {{/unless}}

              {{/if}}

            {{/if}}
          {{else}}
            <p class="completed">{{getIsDone this}}</p>
          {{/unless}}

        {{/if}} <!-- if equals visibility false -->
              </div>

              <div class="col-md-10">
                <h2 class="{{# if completed this }}completed{{/if}}">
                    {{#if equals visibility false}}
                      <span class="label label-pill label-danger">DELETED</span>
                    {{else}}

                      {{#if isInProgress this}}
                        <div id="placeholder-div-{{_id}}"></div> &nbsp;
                        <i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp;
                      {{/if}}

                    {{/if}}
                    {{topic}}

                    {{> hangoutActionBar}}

                </h2>

                <p class="status">
                  <label><i class="fa {{getType type}}"></i>

                  host <a href="{{pathFor 'profile' name=host.name userId=host.id}}">{{host.name}}</a>

                    <br /><i class="fa fa-calendar fa-lg"></i> {{getDate this}}
                        | <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Views"> {{views}} </i>
                   </label>
                 </p>
              </div> <!--col-md-12-->
            </div><!--row-->
            </div><!--panel-heading-->

            <div class="panel-body">

              <div class="col-md-12">
                  {{{description}}}
              </div>

            </div>

            <div class="panel-footer">

              <a href="{{pathFor 'profile' name=host.name userId=host.id}}"><img class="img-circle" src="{{host.avatar}}"></a>
              {{#each attendees}}
                <a href="{{pathFor 'profile' name=name userId=id}}"><img class="img-circle" src="{{avatar}}"></a>
              {{/each}}
            </div>
          </div> <!--panel panel-default-->
            {{else}}

                {{> hangoutNotFound}}

          {{/with}}
        {{else}}
          {{> loading}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
