<template name="hangoutCards">
  {{#if Template.subscriptionsReady}}
    <div class="row margin-none" id="hangouts">

      {{#if liveHangoutsCount }}
      <h3 class="col-lg-12 hangouts-title">{{_ "upcoming_events"}}</h3>
      {{/if}}
      {{#each hangouts}}
        {{#unless isHangoutCompleted end}}
        <div class="col-lg-4">
          {{> hangoutCard}}
        </div>
        {{/unless}}
      {{/each}}

    </div>

    <div class="row margin-none" id="past_hangouts">
      {{#if pastHangoutsCount }}
      <h3 class="col-lg-12 hangouts-title">{{_ "past_events"}}</h3>
      {{/if}}
      {{#each hangouts}}
        {{#if isHangoutCompleted end}}
         <div class="col-lg-4">
           {{> hangoutCard}}
        </div>
        {{/if}}
      {{/each}}

    </div>

    {{#unless status}}

      <div>
        <button id="loadMore" class="btn btn-default btn-block">Load More</button>
      </div>

    {{else}}
        <h5 class="align-center color-white">There are no more hangouts.</h5>
    {{/unless}}

  {{else}}

    {{> loading}}

  {{/if}}
</template>
