<template name="hangoutItem">
  <div class="col-md-4">

      <div class="hangout-item {{# if completed this }}completed{{/if}}">
          <div class="hangout-front">
              <p class="hangout-date">
                
                {{#if isInProgress this}}
                  &nbsp;<i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp; <span class="live">LIVE</span>
                {{else}}
                    {{# if completed this }}
                      {{getHangoutEndDateTime end}}
                    {{else}}
                      {{getHangoutStartDateTime start}}
                   {{/if}}
                 {{/if}}

              </p>
              <h4 class="hangout-topic {{# if completed this }}completed{{/if}}">{{truncate topic}}</h4>


              <p class="status">

                <small class="hangout-details">
                  <i class="fa {{getHangoutTypeSign type}}"></i> Host <a href="{{pathFor 'profile' name=host.name userId=host.id}}">{{host.name}}</a>
                </small>
                <small class="hangout-details details-extra">
                      {{users.length}} Joined
                      {{#if views}}| <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Views" > {{views}} </i> {{/if}}
                </small>
              </p>
            </div>
        <div class="hangout-back">
            <p class="pull-right">
              <a href="{{pathFor 'hangout' hangoutId=_id }}" class="hangout-expand"> <i class="fa fa-expand" aria-hidden="true"></i> </a>
            </p>
            <p class="hangout-date">
            {{#if isInProgress this}}
                  &nbsp;<i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp; 
                  <span>
                    LIVE until 
                     {{#if isHangoutEndTimeTBA start end}}
                          TBA
                        {{else}}
                          {{getHangoutEndDateTimeHour end}}
                      {{/if}}
                  </span>
                {{else}}

                  {{# if completed this }}
                      {{getHangoutEndDateTime end}}
                    {{else}}
                      {{getHangoutStartDateTime start}} - 
                        {{#if isHangoutEndTimeTBA start end}}
                          TBA
                        {{else}}
                          {{getHangoutEndDateTimeHour end}}
                        {{/if}}
                   {{/if}}
            {{/if}}
                
            </p>
            <p class="overflowtext">
              {{ getDescriptionTruncated description }}
            </p>


        <div class="hangout-details">
          {{# unless isHangoutCompleted end }}

          {{# unless url }}
                {{#if hangoutOwner host.id}}
                  <div class="google-hangout">
                      <div class="g-hangout" data-render="createhangout"
                      data-initial_apps="[{ app_id : '999356798349', start_data: {{_id}}, 'app_type' : 'LOCAL_APP' }]" data-widget_size="72"></div>
                  </div>
                {{/if}}
          {{/unless}}
         {{/unless}}

        {{#if equals visibility false}}
          <span class="label label-pill label-danger">DELETED</span>
        {{else}}

          {{# unless isHangoutCompleted end }}

            {{#if isHangoutInProgress start end}}

              {{#if isAttending users}}
                {{#if url}}
                  <a class="btn btn-cb2 btn-grey btn-success" href="{{url}}" target="_blank">{{_ "launch"}}</a>
                  {{#if hangoutOwner host.id}}
                        <div id="end-hangout" class="btn btn-danger">{{_ "end_hangout_short"}}</div>
                    {{else}}
                        {{#if isInRole 'admin,moderator,volunteer'}}
                            <div id="end-hangout" class="btn btn-danger">{{_ 'end_hangout_short'}}</div>
                        {{/if}}
                    {{/if}}
                {{else}}
                  {{#unless hangoutOwner host.id}}
                        <span class="ask">Please ask <a href="https://codebuddiesmeet.slack.com/messages/{{host.name}}">@{{host.name}}</a> to click to start the hangout.</span>
                  {{/unless}}
                {{/if}}



              {{else}}
                {{# unless isHangoutCompleted end}}
                  <button id="join-hangout" class="btn btn-cb2">{{_ "join_in_session"}}</button>
                {{/unless}}
              {{/if}}

            {{else}}

              {{#if isAttending users}}
                {{#unless hangoutOwner host.id}}
                  <button id="leave-hangout" class="btn btn-cb2">{{_ "leave"}}</button>
                {{else}}
                  <span class="status-text">{{upcomingTime start}}</span>
                {{/unless}}
              {{else}}

                {{# unless isHangoutCompleted end}}
                  <button id="join-hangout" class="btn btn-cb2">{{_ "rsvp"}}</button>
                {{/unless}}

              {{/if}}

            {{/if}}
          {{else}}
            <span class="status-text">completed</span>
          {{/unless}}

        {{/if}} <!-- if equals visibility false -->
      </div>
      <div class="hangout-details details-extra">
        {{#unless hangoutOwner host.id}}
       
        <div class="report-hangout"><a href="#"><i class="fa fa-flag" aria-hidden="true"></i></a></div>
      {{/unless}}
        <div class="clone-hangout"><a href="#"><i class="fa fa-files-o" aria-hidden="true"></i> </a></div>
        {{#if hangoutOwner host.id}}
          <div class="edit-hangout"><a href="#"><i class="fa fa-pencil fa-fw"></i></a></div>
          <div class="delete-hangout"><a href="#"><i class="fa fa-trash-o fa-fw"></i></a></div>
          {{else}}

          {{#if isInRole 'admin,moderator,volunteer'}}
            <div class="edit-hangout"><a href="#">Edit <span class="label label-info">M</span> </a></div>
          {{/if}}
          {{#if isInRole 'admin,moderator'}}
            <div class="delete-hangout"><a href="#">Delete <span class="label label-info">M</span> </a></div>
          {{/if}}

        {{/if}}
      </div>
        </div><!--hangout-back-->
    </div>
      
  </div><!--hangout-item-->
</template>
