<template name="hangoutBoard">
<div id="hangout-board">
  <div class="section board-top">
      <div class="container">
        <div class="row">
            <div class="col-md-12 align-center">
              <h2>Live and Upcoming Hangouts</h2>
          </div>
        </div>
    </div>
  </div>

    <div class="section board-middle">
      <div class="container hangout-board">
        <div class="row hangout-filter-block">
            <div class="col-md-3">
              <!-- {{hangoutFilter}} -->
              <select class="form-control" id="hangoutFilter">
                <option value="live">Live</option>
                <option value="upcoming">Upcoming</option>
              </select>
            </div>
            <div class="col-md-9">

            </div>
        </div><!--row-->
        <div class="row">


  {{#if Template.subscriptionsReady}}

          {{#each hangouts}}
           <div class="col-md-3">
              {{> hangoutCard}}
           </div>
          {{else}}

            <div class="col-md-12">
              <h4 class="text-center well">No hangouts displayed.</h4>
            </div>


          {{/each}}


      {{#if status}}
            <div class="col-md-12">
              <h5 class="text-center well">You've reached the end of the page.</h5>
            </div>
      {{/if}}


  {{else}}
        <div class="col-md-12">
          {{> loading}}
        </div>
  {{/if}}
        </div>
  </div>
  </div> <!-- ./container hangout-board -->



</div><!--hangout-board-->
</template>
