<template name="hangout">
  <div id="post" class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{#if Template.subscriptionsReady}}
          {{#with hangout}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                <div class="col-md-12">
                <!-- hangout topic and action bar -->
                <h2 class="{{# if isHangoutCompleted end }}completed{{/if}}" id="hangout-topic">
                    {{#if equals visibility false}}
                      <span class="label label-pill label-danger">DELETED</span>
                    {{else}}

                      {{#if isHangoutInProgress start end}}
                        <div id="placeholder-div-{{_id}}"></div> &nbsp;
                        <i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp;
                      {{/if}}

                    {{/if}} <!-- ./if equals visibility false -->

                      {{topic}}

                      {{> hangoutActionBar}}

                </h2>
               
                <!-- ./hangout topic and action bar -->

                <!-- hangout type host  and date time -->
                <p class="status">
                  <label><i class="fa {{getHangoutTypeSign type}}"></i>

                  {{type}} hangout hosted by

                    <a href="{{#if currentUser}} {{pathFor 'profile' name=host.name userId=host.id}} {{/if}}" class="{{#unless currentUser}} continue-popup {{/unless}}">{{host.name}}</a>


                    <br />
                      {{getHangoutStartDateTime start}} -

                      {{#if isHangoutEndTimeTBA start end}}
                        To Be Announced
                      {{else}}
                        {{getHangoutEndDateTime end}}
                      {{/if}}
                         |
                      {{users.length}} Joined
                      {{#if views}}| <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Views" > </i> {{views}} {{/if}}
                   </label>
                 </p>
                 <!-- ./hangout type host  and date time -->

                </div> <!--./col-md-12-->
                </div> <!--./row-->
              </div><!--panel-heading-->
              
              <div class="panel-body">
                     {{#if isHangoutInProgress start end}}
                        {{#if isAttending users}}
                          {{> hangoutFrame }}
                        {{/if}}
                      {{/if}}
                <div id="hangout-description" class="margin-1">
                    {{{formatDescription this}}}
                    
                </div>
              </div><!-- ./panel-body-->

              <div class="panel-footer">

                <div class="row">
                {{# unless isHangoutCompleted end }}
                  <div class="col-md-3 col-sm-3">
                      <img src="/images/jitsi_screenshot.jpg" width="100%" class="jitsi-screenshot"/>
                      {{#if isHangoutInProgress start end}}
                        {{#if isAttending users}}
                          <small class="load-hangout reminder">We're in session! Please click to load the hangout.</small>
                        {{/if}}
                      {{/if}}
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <img src="/images/jitsi_guide.jpg" width="100%">
                  </div>
                  <div class="col-md-3 col-sm-3">
                   <h4>Hangout Reminders</h4>
                   <ol>
                        <li class="load-hangout">When the hangout starts, click the green button to load the hangout. </li>
                        <li>By default, video for everyone should be off.</li>
                        <li>Multiple people can screenshare at the same time, which can make it easier for everyone to follow along the coding exercise or material.</li>
                    </ol>
                    
                  </div>
               {{/unless}} <!-- ./isHangoutCompleted -->

                  <div class="col-md-3 col-sm-3 {{#unless isHangoutCompleted end}} pull-right {{/unless}}">

                     

              <a href="{{#if currentUser}} {{pathFor 'profile' name=host.name userId=host.id}} {{/if}}" class="{{#unless currentUser}} continue-popup {{/unless}}"><img class="img-circle" src="{{host.avatar}}"></a>
                {{#each attendees}}
                <a href="{{#if currentUser}} {{pathFor 'profile' name=name userId=id}} {{/if}}" class="{{#unless currentUser}} continue-popup {{/unless}}" ><img class="img-circle" src="{{avatar}}"></a>
                {{/each}}

                  </div>
                </div> <!-- ./row -->

              </div><!-- ./panel-footer-->
            </div> <!--panel panel-default-->


            <div class="row">
             <div class="hangout-status">

        {{#if equals visibility false}}
          <span class="label label-pill label-danger">DELETED</span>
        {{else}}

          {{# unless isHangoutCompleted end }}

            {{#if isHangoutInProgress start end}}

              {{#if isAttending users}}

                    {{#if hangoutOwner host.id}}
                        <div id="end-hangout" class="btn btn-cb2 btn-danger">{{_ "end_hangout"}}</div>
                    {{else}}
                        {{#if isInRole 'admin,moderator,volunteer'}}
                            <div id="end-hangout" class="btn btn-cb2 btn-danger">{{_ 'end_hangout'}}</div>
                        {{/if}}
                    {{/if}}

              {{else}}
                {{# unless isHangoutCompleted end}}
                   <button class="btn btn-cb2 {{#if currentUser}} join-hangout {{else}} continue-popup {{/if}}">{{_ "join_in_session"}}</button>
                {{/unless}}
              {{/if}}

            {{else}}

              {{#if isAttending users}}
                <p class="upcoming"><i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i>&nbsp;{{upcomingTime start}}</p>
                <a id="leave-hangout" class="btn btn-cb2 btn-danger">{{_ "leave"}}</a>
              {{else}}

                {{# unless isHangoutCompleted end}}
                  <button class="btn btn-cb2 {{#if currentUser}} join-hangout {{else}} continue-popup {{/if}}">{{_ "rsvp_long"}}</button>
                {{/unless}}

              {{/if}}

            {{/if}}
          {{else}}
            <p class="completed"> 
              {{#if isAttending users}}
                  <p>Thanks for joining! This hangout has ended. Would you like to start another one?</p> <div class="btn btn-cb2 margin-top-1" id="create-hangout-popup"> Create a Hangout </div>
              {{else}}
                  Sorry, this hangout has ended. Why not start your own? <div class="btn btn-cb2 margin-top-1" id="create-hangout-popup"> Create a Hangout </div>
              {{/if}}
            </p>
          {{/unless}}

        {{/if}} <!-- if equals visibility false -->
              </div>
          </div>

          <!--comment section-->
          <div class="panel panel-default">
            <div class="panel-body">
              {{> commentBox}}
            </div>
          </div>



            {{else}}

                {{> hangoutNotFound}}

          {{/with}}
        {{else}}
          {{> loading}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
