<template name="hangoutList">
  {{#if isReady}}
    <ul id="hangouts">
      {{#each hangouts}}
        {{> hangoutItem}}
      {{/each}}
      {{#if showLoadMore}}
      <div>
        <button id="btn-load-more" class="btn btn-default btn-block">{{loadMoreText}}</button>
      </div>
      {{/if}}
    </ul>
  {{else}}
    <div class="row" style="margin: 50px;">
      <div class="col-sm-12 text-center">
        <i class="fa fa-spinner fa-pulse"></i>&nbsp;{{_ "loading_hangouts"}}
      </div>
    </div>
  {{/if}}
</template>
