<template name="hangoutCard">
    <a href="{{pathFor 'hangout' hangoutId=_id }}" class="hangout-card">
    <div class="card-header-wrapper">
      <div class="pull-left calendar">
        <h4 class="hangout-date"><i class="fa fa-calendar"></i>  {{getHangoutStartDateTime start}}</h4>
        {{#if isHangoutInProgress start end}} 
          <h5 class="in-progress"><span class="oval"></span> LIVE</h5>
        {{/if}}
        {{# unless isHangoutCompleted end}}
          {{#unless isHangoutInProgress start end}} 
            - <h5 class="upcoming">{{upcomingTime start}}</h5>
          {{/unless}}
        {{ else }}
            <h5 class="hangout-date completed show-on-hover">{{_ "completed"}}</h5>
        {{/unless}}
      </div>
      <div class="pull-right more-options">
         {{> hangoutActionBar}}
      </div>
    </div>

        <h4 class="hangout-topic {{#if isHangoutCompleted end }}completed{{/if}}">{{truncate topic}}</h4>

        <h4 class="hangout-meta">
          <small class="hangout-details">
              <i class="fa {{getHangoutTypeSign type}}"></i> Started by
                {{#unless currentUser}}
                  <a href="#" class="{{#unless currentUser}} continue-popup {{/unless}}">{{host.name}}</a>
                {{else}}
                  <a href="{{pathFor 'profile' name=host.name userId=host.id}}">{{host.name}}</a>
                {{/unless}}
           </small>
            <small class="hangout-details details-extra">
                {{users.length}} Joined
                {{#if views}}| <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Views" > {{views}} </i> {{/if}}
            </small>

        </h4>
        <div class="hangout-description">
          <p class="overflowtext">{{ getDescriptionTruncated description }}</p>
        </div>
        <div class="rsvp-buttons show-on-hover align-center">
        {{# unless isHangoutCompleted end}}
            {{#if isHangoutInProgress start end}}

              {{#if isAttending users}}
                  <a class="btn btn-cb2 btn-grey btn-success join-now" href="{{pathFor 'hangout' hangoutId=_id }}">{{_ "launch"}}</a>
              {{else}}
                {{# unless isHangoutCompleted end}}
                  <button class="btn btn-cb2 join-hangout {{#unless currentUser}} continue-popup {{/unless}}">{{_ "join_in_session"}}</button>
                {{/unless}}
              {{/if}}

            {{else}}

              {{#if isAttending users}}
                <button class="btn btn-cb2 align-center btn-grey" disabled>{{_ "joined"}}</button>
                <button id="leave-hangout" class="btn btn-cb2 align-center">{{_ "leave"}}</button>
              {{else}}

                {{# unless isHangoutCompleted end}}
                  <!-- <button id="join-hangout" class="btn btn-cb2">{{_ "rsvp"}}</button> -->
                  <button class="btn btn-cb2 {{#if currentUser}} join-hangout {{else}} continue-popup {{/if}}">{{_ "rsvp"}}</button>
                {{/unless}}

              {{/if}}

            {{/if}}
          {{ else }}
          <i class="fa fa-check" aria-hidden="true"></i>
          {{/unless}}
        </div>

  </a>

</template>

