<template name="hangoutByGroup">

  <div class="section board-middle margin-top-1">
    <div class="container hangout-board">
      <div class="row hangout-filter-block margin-bottom-1">
          <div class="col-md-3">
            <!-- {{hangoutFilter}} -->
            <select class="form-control" id="hangoutFilter">
              <option value="live">Live</option>
              <option value="upcoming">Upcoming</option>
            </select>
          </div>
          <div class="col-md-9">

          </div>
      </div><!--row-->
      <div class="row">


  {{#if Template.subscriptionsReady}}

        {{#each hangouts}}
         <div class="col-md-3">
            {{> hangoutCard}}
         </div>
        {{else}}
            <p>No hangouts displayed.</p>
        {{/each}}


    {{#if status}}
          <h5 class="text-center well">You've reached the end of the page.</h5>
    {{/if}}


  {{else}}
        {{> loading}}
  {{/if}}
      </div>
  </div>
  </div> <!-- ./container hangout-board -->

</template>
