<template name="hangoutBoard">
  <div class="jumbotron hangout-header-block">
      <h3 class="text-center">What's Happening ?!!</h3>
  </div>

  <div class="container hangout-board">
    <div class="row hangout-filter-block">
        <div class="col-md-3">
          <!-- {{hangoutFilter}} -->
          <select class="form-control" id="hangoutFilter">
            <option value="live">Live</option>
            <option value="upcoming">Upcoming</option>
          </select>
        </div>
    </div>
  </div> <!-- ./container hangout-board -->

  {{#if Template.subscriptionsReady}}
    <div class="container hangout-board">

      <div class="row">
          {{#each hangouts}}

            {{> hangoutCard}}

          {{else}}

            <div class="col-md-12">
              <div class="jumbotron align-center">
                <div class="container">
                  <div class="row">
                      <i class="fa fa-circle-o fa-5x"></i>
                      <h5>There are no Hangouts here !</h5>
                  </div>
                 </div>
              </div>
            </div>

          {{/each}}
      </div> <!-- ./row -->

      {{#if status}}

        <div class="row">
          <div class="col-md-12">
              <h5 class="text-center well">EOP</h5>
          </div>
        </div>

      {{/if}}

    </div> <!-- ./container hangout-board -->

  {{else}}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {{> loading}}
        </div>
      </div>
    </div>
  {{/if}}

</template>
