<template name="hangoutFrame">

<div id="hangout-button-wrapper">
  <p class="warning chrome-firefox-warning">Warning: Please load this page using Chrome <img src="/images/chrome.ico" width="25"/> or Firefox <img src="/images/firefox.ico" width="25"/> to avoid technical issues</p>
  <img src="/images/logo-circle-cropped.png" width="65%" class="load-hangout load-hangout-screenshot"/>
  <button class="margin-top-1 margin-bottom-1 click-text btn btn-primary load-hangout">{{_ "click_to_load_hangout"}}</button>

</div>

<div class="alert alert-info">
  <p class="align-center">If you're seeing a blank screen, <a href="https://meet.jit.si/cb{{_id}}" target="_blank">join here.</a> (New to Jitsi? Check out <a href="/images/codebuddies_jitsi_diagram.jpg" target="_blank">this diagram</a>.)</p>
</div>
  <div id="hangout-container"></div>
  <span id="post_id" class="hide">{{_id}}</span>

</template>
