<template name="hangoutCards">
  {{#if Template.subscriptionsReady}}
    <div class="row margin-none" id="hangouts">
      
      {{#each hangouts}}
        <div class="col-lg-4">
          {{> hangoutCard}}
        </div>
      {{/each}}
      
     
      {{#each completedHangouts}}
         <div class="col-lg-4">
           {{> hangoutCard}}
        </div>
      {{/each}}
      

    </div>

    {{#unless status}}

      <div>
        <button id="loadMore" class="btn btn-default btn-block">Load More</button>
      </div>

    {{else}}
        <div class="alert-warning">There are no more hangouts.</div>
    {{/unless}}

  {{else}}

    {{> loading}}

  {{/if}}
</template>
