<template name="hangoutItem">
  <div class="col-md-4">

      <div class="hangout-item">


       <p class="status"><label><i class="fa {{getHangoutTypeSign type}}"></i> Host <a href="{{pathFor 'profile' name=host.name userId=host.id}}">{{host.name}}</a></label></p>
      <p class="status"><label><i class="fa fa-calendar fa-lg"></i> {{getHangoutStartDateTime start}} -

        {{#if isHangoutEndTimeTBA start end}}
          To Be Announced
        {{else}}
          {{getHangoutEndDateTime end}}
        {{/if}}

           </label> </p>
           {{#if isInProgress this}}
          &nbsp; &nbsp;<i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp;
        {{/if}}
           <a href="{{pathFor 'hangout' hangoutId=_id }}" class="hangout-topic {{# if completed this }}completed{{/if}}"> {{truncate topic}} </a>
         <small class="hangout-details details-extra">
                {{users.length}} Joined
                {{#if views}}| <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Views" > {{views}} </i> {{/if}}

          </small>
      <p class="overflowtext">{{ getDescriptionTruncated description }}</p>


       <!--  <h4 class="hangout-date"><small><i class="fa fa-calendar"></i>  {{getHangoutStartDateTime start}}</small></h4>
        {{#if isInProgress this}}
          &nbsp; &nbsp;<i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp;
        {{/if}}
        <a href="{{pathFor 'hangout' hangoutId=_id }}" class="hangout-topic {{# if completed this }}completed{{/if}}"> {{truncate topic}} </a>
        <h4>
          <small class="hangout-details">
              <i class="fa {{getHangoutTypeSign type}}"></i> Host
                {{#unless currentUser}}
                  <a href="#" id='visitor'>{{host.name}}</a>
                {{else}}
                  <a href="{{pathFor 'profile' name=host.name userId=host.id}}">{{host.name}}</a>
                {{/unless}}
           </small>
            <small class="hangout-details details-extra">
                {{users.length}} Joined
                {{#if views}}| <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Views" > {{views}} </i> {{/if}}
            </small>
         
        </h4>
        {{> hangoutActionBar}} -->
     
     


       {{# unless isHangoutCompleted end }}

          {{# unless url }}
                {{#if hangoutOwner host.id}}
                  <div class="google-hangout">
                      <div class="g-hangout" data-render="createhangout"
                      data-initial_apps="[{ app_id : '999356798349', start_data: {{_id}}, 'app_type' : 'LOCAL_APP' }]" data-widget_size="72"></div>
                  </div>
                {{/if}}
          {{/unless}}
         {{/unless}}

        {{#if equals visibility false}}
          <span class="label label-pill label-danger">DELETED</span>
        {{else}}

          {{# unless isHangoutCompleted end }}

            {{#if isHangoutInProgress start end}}

              {{#if isAttending users}}
                {{#if url}}
                  <a class="btn btn-cb2 btn-grey btn-success" href="{{url}}" target="_blank">{{_ "launch"}}</a>
                {{else}}
                  {{#unless hangoutOwner host.id}}
                        <p class="status">Please wait for <a href="https://codebuddiesmeet.slack.com/messages/{{host.name}}">@{{host.name}}</a> to start the hangout.</p>
                      {{/unless}}
                {{/if}}



              {{else}}
                {{# unless isHangoutCompleted end}}
                  <button id="join-hangout" class="btn btn-cb2">{{_ "join_in_session"}}</button>
                {{/unless}}
              {{/if}}

            {{else}}

              {{#if isAttending users}}
                <p class="upcoming">{{upcomingTime start}}</p>
                <a id="leave-hangout" class="align-center">{{_ "leave"}}</a>
              {{else}}

                {{# unless isHangoutCompleted end}}
                  <button id="join-hangout" class="btn btn-cb2">{{_ "rsvp"}}</button>
                {{/unless}}

              {{/if}}

            {{/if}}
          {{else}}
            <p class="completed">completed</p>
          {{/unless}}

        {{/if}} <!-- if equals visibility false -->

    </div>




      
  </div><!--hangout-item-->
</template>
