<template name="hangout">
  <div id="post" class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{#if Template.subscriptionsReady}}
          {{#with hangout}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                <div class="col-md-12">
                <h2 class="{{# if completed this }}completed{{/if}}">
                    {{#if equals visibility false}}
                      <span class="label label-pill label-danger">DELETED</span>
                    {{else}}

                      {{#if isInProgress this}}
                        <div id="placeholder-div-{{_id}}"></div> &nbsp;
                        <i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp;
                      {{/if}}

                    {{/if}}
                    {{topic}}

                    {{> hangoutActionBar}}

                </h2>

                <p class="status">
                  <label><i class="fa {{getHangoutTypeSign type}}"></i>

                  {{type}} hangout hosted by

                      {{#unless currentUser}}
                        <a href="#" id='visitor'>{{host.name}}</a>
                      {{else}}
                        <a href="{{pathFor 'profile' name=host.name userId=host.id}}">{{host.name}}</a>
                      {{/unless}}

                    <br />
                      {{getHangoutStartDateTime start}} - {{getHangoutEndDateTime end}} |
                      {{users.length}} Joined
                      {{#if views}}| <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" title="Views" > {{views}} </i> {{/if}}
                   </label>
                 </p>
                  </div> <!--col-md-12-->
              </div>


            </div><!--panel-heading-->
            <div class="panel-body">

              <div>
                  {{{description}}}
              </div>
            </div>

            <div class="panel-footer">

                <div class="row">
                {{# unless completed this }}
               <div class="col-md-9 col-sm-9">
                   <h4>Hangout Reminders</h4>
                   <ol>
                      {{#if hangoutOwner host.id}}
                          {{#unless url}}
                            <li>
                              <strong>You are the host of this hangout! Click the green "Start" button below to initiate and enter the hangout.</strong>
                            </li>
                            <li>Other participants will only be able to join you after you've initiated and entered the google hangout.</li>
                            <li>You can initate the hangout early so that participants don't have to wait for you in order to join.</li>
                          {{/unless}}
                      {{else}}
                            <li>
                              {{#unless url}}
                                After <a href="https://codebuddiesmeet.slack.com/messages/{{host.name}}">@{{host.name}}</a> has initiated the hangout, you will be able to click on a button below to launch the Google Hangout.
                              {{ else }}
                                At the time of the event, click the button below to launch the Google Hangout.
                              {{/unless}}
                            </li>
                             <li>In the Google Hangout, click to mute your video camera. <img src="/images/icon-video-off.png" width="20" height="20"></li>
                             <li>Feel free to mute the microphone too if this is a silent hangout. <img src="/images/icon-mute.png" width="20" height="20"> </li>
                      {{/if}}
                    </ol>
               </div>
               {{/unless}}
              <div class="col-md-3 col-sm-3 {{#unless completed this}} pull-right {{/unless}}">

              <a href="{{pathFor 'profile' name=host.name userId=host.id}}"><img class="img-circle" src="{{host.avatar}}"></a>
                {{#each attendees}}
                <a href="{{pathFor 'profile' name=name userId=id}}"><img class="img-circle" src="{{avatar}}"></a>
                {{/each}}

              </div>
                </div>
                  </div>
          </div> <!--panel panel-default-->


          <div class="row">
             <div class="hangout-status">

          {{# unless completed this }}
          {{# unless url }}
                {{#if hangoutOwner host.id}}
                  <i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i>&nbsp; <div class="google-hangout">
                      <div class="g-hangout" data-render="createhangout"
                      data-initial_apps="[{ app_id : '999356798349', start_data: {{_id}}, 'app_type' : 'LOCAL_APP' }]" data-widget_size="72"></div>
                  </div>
                {{/if}}
          {{/unless}}
         {{/unless}}

        {{#if equals visibility false}}
          <span class="label label-pill label-danger">DELETED</span>
        {{else}}

          {{# unless completed this }}

            {{#if isInProgress this}}

              {{#if isJoined}}
                {{#if url}}
                    <a class="btn btn-cb2 btn-grey btn-success" href="{{url}}" target="_blank">{{_ "join_long"}}</a>
                {{else}}
                  {{#unless hangoutOwner host.id}}
                         <p class="status"><i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp; Please wait for <a href="https://codebuddiesmeet.slack.com/messages/{{getHostId this}}">@{{getHostName this}}</a> to initiate the hangout.</p>
                      {{/unless}}
                {{/if}}



              {{else}}
                {{# unless getIsDone this}}
                   <button id="join-hangout" class="btn btn-cb2 btn-success">{{_ "join_in_session"}}</button>
                {{/unless}}
              {{/if}}

            {{else}}

              {{#if isJoined}}
                <p class="upcoming"><i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i>&nbsp;{{upcomingTime this}}</p>
                <a id="leave-hangout" class="btn btn-cb2 btn-danger">{{_ "leave"}}</a>
              {{else}}

                {{# unless getIsDone this}}
                  <button id="join-hangout" class="btn btn-cb2 btn-success">{{_ "rsvp_long"}}</button>
                {{/unless}}

              {{/if}}

            {{/if}}
          {{else}}
            <p class="completed">{{getIsDone this}}</p>
          {{/unless}}

        {{/if}} <!-- if equals visibility false -->
              </div>
          </div>

          <!--comment section-->
          <div class="panel panel-default">
            <div class="panel-body">
              {{> commentBox}}
            </div>
          </div>



            {{else}}

                {{> hangoutNotFound}}

          {{/with}}
        {{else}}
          {{> loading}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
