<template name="hangoutItem">
  <div class="hangout-item">
    <div class="col-md-12">
      <div class="col-md-3">

      {{# unless completed this }}
        
              {{#if isInProgress this}}
                {{#if isJoined}}
                  <button class="btn btn-cb2 btn-success">Launch</button>
                {{else}}
                  {{# unless getIsDone this}}
                    <button id="join-hangout" class="btn btn-cb2">{{_ "join_in_session"}}</button>
                  {{/unless}}
                {{/if}}
              {{else}}
                {{#if isJoined}}
                  <p class="upcoming">{{upcomingTime this}}</p>
                  <a id="leave-hangout" class="align-center">{{_ "leave"}}</a>
                {{else}}
                  {{# unless getIsDone this}}
                    <button id="join-hangout" class="btn btn-cb2">{{_ "join"}}</button>
                  {{/unless}}
                {{/if}}
              {{/if}}
      {{else}}
          <p class="completed">{{getIsDone this}}</p>
      {{/unless}}

      </div>
      <div class="col-md-9">
        <label class="name">
        {{#if isInProgress this}}
          <i class="fa fa-dot-circle-o fa text-danger faa-burst animated"></i> &nbsp;
        {{/if}}
          <a href="/hangout/{{_id}}" class="hangout-topic">
          

          {{topic}}</a>
        
      </label>
      <ul class="status">
        <li><i class="fa {{getType type}}"></i></li>
        <li>
          <label>host <a href="/profile/{{host this}}">{{host this}}</a> {{getDate this}}
            {{#if currentUser}}|
              <a class="clone-hangout">Duplicate</a> |
              {{#if isHost}}
                 <a class="edit-hangout">
                  Edit
                </a> |
                <a class="delete-hangout">
                  <i class="fa fa-times"></i>
                 </a> 
              {{/if}}
              
            {{/if}}
          </label></li>
      </ul>
    </div>

  </div>
  </div>
</template>
