<template name="hangoutList">
  {{#if Template.subscriptionsReady}}
    <ul id="hangouts">

      {{#each hangouts}}
        {{> hangoutItem}}
      {{/each}}

      {{#each completedHangouts}}
        {{> hangoutItem}}
      {{/each}}


    </ul>

    {{#unless status}}

      <div>
        <button id="loadMore" class="btn btn-default btn-block">Load More</button>
      </div>

    {{else}}

      <div>
        <button id="#" class="btn btn-default btn-block">There are no more hangouts</button>
      </div>

    {{/unless}}

  {{else}}

    {{> loading}}

  {{/if}}
</template>
