<template name="hangoutLearned">
	<div class="margin-bottom-1">
		<input type="checkbox" id="chkOptOutTweet" checked>
		<label>When checked, message will <strong>NOT</strong> tweet out.</label>
	<textarea id="learned-text" rows="3" maxlength="280" class="form-control {{#unless currentUser}} continue-popup {{/unless}}" placeholder="What did you learn or accomplish?"></textarea>
	<p>Your learnings will be auto-tweeted to @codebuddiesmeet.</p>
	<span class="learnedCharactersLeft">{{learnedCharacterCount}}</span>
	</div>
</template>
