<template name="hangoutList">
  {{#if Template.subscriptionsReady}}
    <div id="hangouts">

      {{#each hangouts}}
        {{> hangoutItem}}
      {{/each}}


    </div>

    {{#unless status}}

      <div class="col-md-12">
        <button id="loadMore" class="btn btn-default btn-block">Load More</button>
      </div>

    {{else}}

      <div class="col-md-12">
        <button id="#" class="btn btn-default btn-block">There are no more hangouts</button>
      </div>

    {{/unless}}

  {{else}}

    {{> loading}}

  {{/if}}
</template>
