<template name="footer">
  <section class="footer">

            <p class="logo"><a href="{{pathFor 'home'}}"><img src="/images/logo.png"/></a></p>
            <div class="footer-details">

              <em>Built by Cool People Around the World</em>

               <a href="https://github.com/codebuddiesdotorg/cb-v2-scratch" target="_blank"><i class="fa fa-github"></i></a>
               <a href="https://codebuddiesmeet.slack.com" target="_blank"><i class="fa fa-slack"></i></a>
               <a href="https://twitter.com/codebuddiesmeet" target="_blank"><i class="fa fa-twitter"></i></a>
               <a href="https://www.facebook.com/groups/TOPSTUDYGROUP/" target="_blank"><i class="fa fa-facebook"></i></a>
               <span class="note">Our project is free and open-sourced. <a href="#">Help us keep this project alive!</a></span>
            </div>

  </section>
</template>
