<template name="footer">

  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a class="logo" href="{{pathFor 'home'}}"><img src="/images/logo.svg"></a>
          <div class="footer-details">
            <em>Built by Cool People Around the World</em>
            <span class="footer-icons">
              <a href="https://github.com/codebuddiesdotorg/cb-v2-scratch" target="_blank"><i class="fa fa-github"></i></a>
              <a href="https://codebuddiesmeet.slack.com" target="_blank"><i class="fa fa-slack"></i></a>
              <a href="https://twitter.com/codebuddiesmeet" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/groups/TOPSTUDYGROUP/" target="_blank"><i class="fa fa-facebook"></i></a>
            </span>
            <span class="note">Our project is free and open-sourced. <span class="help"><a href="/sponsor">Help us keep this project alive!</a></span></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
