<template name="hangoutFAQModal">
  <div id="hangout-faq-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-center">What is a hangout?</h3>
          <button type="button" class="btn btn-circle btn-outline btn-info pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>
        <div class="modal-body">
          <div class="row">
            
            <div id="hangout-options" class="col-md-10 text-left">
             <p>You can create three types of hangouts: </p>
             <ul>
             <li><i class="fa fa-microphone-slash text-danger-color type"></i><strong>silent</strong> hangout</li>
             <li><i class="fa fa-user text-warning-color type"></i><strong>teaching</strong> hangout</li>
             <li><i class="fa fa-users text-success-color type"></i><strong>collaboration</strong> hangout
             </li>
             </ul>
             
                  
             <p>In a <i class="fa fa-microphone-slash text-danger-color type"></i><strong>silent</strong> hangout, everyone turns off both the video camera and the mic when they join. You can think of it as a virtual coffeeshop for study partners who're trying to be productive together. You can make the topic generic, so that people are working on different things, or you can have the hangout be all about on working on the same thing (like working through the same javascript coding exercises from Free Code Camp)! Silent hangouts make studying a lot more fun.

             </p>
             <p>If you decide to create a <i class="fa fa-user text-warning-color type"></i><strong>teaching</strong> hangout, you can use the hangout as a space to practice teaching a concept or walk through a codebase. This is your chance to share what you know or to practice your presentation skills! 
             </p>

             <p>If you create a <i class="fa fa-users text-success-color type"></i><strong>collaboration</strong> hangout, you can use the google hangout as a space to pair program on a coding exercise, or work on an open-sourced project. We usually turn on mics during these hangouts because being able to speak makes things easier, and turn off video cameras.

             </p>
             <h4>General tips</h4>
             <ul>
             	<li>Google Hangouts lets multiple people screenshare at the same time, so you can ask your participants to screenshare as they learn from you so that you can help each other more easily debug any issues you run into.
             	</li>
             	<li>You can use the CodeBuddies slack OR the google hangout chat box to chat and type questions, or optionally screenshare in the hangout as you work to keep yourself on track (and not getting distracted by Facebook or YouTube).</li>
             </ul>

              </div>
            </div>
     
          <br>
         
          
        </div>
      </div>
    </div>
  </div>
</template>
