<template name="hangoutFAQModal">
  <div id="hangout-faq-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="btn btn-circle btn-outline btn-info pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <h3 class="modal-title text-center">What is a hangout?</h3>
          
        </div>
        <div class="modal-body">
          <div class="row">
            
            <div id="hangout-options" class="col-md-12 text-left">
             <p>You can create three types of hangouts: </p>
             <ul>
             <li><i class="fa fa-microphone-slash text-danger-color type"></i><strong>silent</strong> hangout</li>
             <li><i class="fa fa-user text-warning-color type"></i><strong>teaching</strong> hangout</li>
             <li><i class="fa fa-users text-success-color type"></i><strong>collaboration</strong> hangout
             </li>
             </ul>
             
             <p>
             	FIRST THING to do when you join a hangout is to turn off the video camera and the microphone by clicking on the <img src="http://codebuddies.org/images/icon-video-off.png" width="25" height="25"> <img src="http://codebuddies.org/images/icon-mute.png" width="25" height="25"> icons! </p>
             <p class="align-center">
             	<img src="/images/screenshot-muted.jpg" width="65%">
             </p>
             <p>
             	You can think of a <i class="fa fa-microphone-slash text-danger-color type"></i><strong>silent</strong> hangout as a virtual coffeeshop for people who want to be productive. You can make the hangout topic generic enough that people are working on different things, or you can have the hangout be about working through the same tutorial or coding exercises at the same time. As a silent hangout host, you can decide to do a quick microphone-on check-in near the end of the session, but in general participants will expect the majority of the hangout to be silent. 
             </p>
             <p>
             	If you decide to create a <i class="fa fa-user text-warning-color type"></i><strong>teaching</strong> hangout, you'll have your microphone turned on, and you can use the hangout as a space to practice teaching a concept or to walk participants through a codebase. This is your chance to share what you know! 
             </p>

             <p>
             	If you create a <i class="fa fa-users text-success-color type"></i><strong>collaboration</strong> hangout, you can use the hangout as a space to pair program on a coding exercise, talk through a chapter of a coding tutorial together, or work on an open-sourced project with anyone who might be interested.
             </p>
             <p class="align-center">
               <img src="http://codebuddies.org/images/screenshot-hangout-python.png" width="65%">
             </p>
             <h4>General tips</h4>
             <ul>
             	
             	<li>You can use the <a href="http://codebuddiesmeet.slack.com" target="_blank">CodeBuddies Slack</a> OR the Google Hangout chat box to chat and type questions.</li>
             	<li>Screensharing is always optional, but some of us like to do it so that we don't get distracted by Facebook or YouTube during a <i class="fa fa-microphone-slash text-danger-color type"></i><strong>silent</strong> hangout, or so that we can more easily track where everyone is at and debug issues more easily during a <i class="fa fa-user text-warning-color type"></i><strong>teaching</strong> or <i class="fa fa-users text-success-color type"></i><strong>collaboration</strong> hangout.</li>
             	<li>Google Hangouts lets multiple people screenshare with each other at the same time. You can click on a person's individual icon to see their screen.
             	</li>
             </ul>

              </div>
            </div>
     
          <br>
         
          
        </div>
      </div>
    </div>
  </div>
</template>
