<template name="hangoutTips">
  <div id="hangout-faq-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn btn-circle btn-outline btn-info pull-right" data-dismiss="modal"><i
              class="fas fa-times"></i></button>
          <h3 class="modal-title text-center">Hangout Tips</h3>

        </div>
        <div class="modal-body">
          <div class="row">

            <ul>
              <li>Unlike "regular" hangouts, we usually turn off the video camera and the microphone by clicking on the
                <img src="/images/icon-video-off.png" width="25" height="25"> <img src="/images/icon-mute.png"
                  width="25" height="25"> icons.
                <p class="align-center">
                  <img src="/images/screenshot-muted.jpg" width="65%">
                </p>
              </li>
              <li>You agree not to stream copyrighted or otherwise objectionable content in the hangout.</li>
              <li>You can use the <a href="http://codebuddies.slack.com" target="_blank">CodeBuddies Slack</a> OR the
                hangout chat box to chat and type questions.</li>
              <li>Screensharing is always optional, but some of us like to do it so that we don't get distracted by
                Facebook or YouTube during a <i
                  class="fas fa-microphone-slash text-danger-color type"></i><strong>silent</strong> hangout.</li>
              <li>Screensharing is also helpful for tracking everyone's progress and for debugging issues during a <i
                  class="fas fa-user text-warning-color type"></i><strong>teaching</strong> or a <i
                  class="fas fa-users text-success-color type"></i><strong>collaboration</strong> hangout.</li>
              <li>The hangout platform we use (Jitsi) lets multiple people screenshare with each other at the same time.
              </li>
              <li>You can click on a person's individual icon to see their screen.
              </li>
            </ul>
          </div>
          <!--row-->
        </div>
      </div>
    </div>
  </div>
</template>
