<template name="homeLoggedIn">
<div id="home">
	<div class="container padding-none width-100">
    <div class="row margin-none">
      <div class="col-md-8 padding-none">
        <div class="bg-blue">
            <div class="heading">
              <div class="title">{{_ "join_hangouts"}} </div>
              <p>Hangouts is where you can learn or work together in real time. By joining a hangout, you can ask questions, share ideas or code-pair on something you're currently working on. <span class="question"><a id="hangout-faq-popup">Learn more</a></span></p>
              
              <div class="search-area">
  							{{#unless hangoutSearchMode }}
  	                <div class="btn btn-cb2 {{#unless currentUser}} continue-popup {{/unless}}" id="create-hangout-popup"> {{_ "create_a_hangout"}} </div>
  	        
  							{{else}}

  									<div class="btn btn-default btn-clear" id="clearSearch"> Clear </div>
  							
  							{{/unless}}
                      <p>or</p>
                      <input type="text" class="form-control searchTerm" name="searchTerm" placeholder="&#128269; Search by topic" id="searchBox" value="{{hangoutSearchTerm}}">
                 
              </div><!-- inner row-->
              
              
             </div><!--heading-->

            

          	{{#if hangoutSearchMode}}

							<div class="col-md-12">
								<div class="panel panel-default">
									<div class="panel-body">
									<h4 class="search-message">Showing results for <strong>'{{hangoutSearchTerm}}'</strong></h4>
									</div>
								</div>
							</div>

                {{#if searchResults.count}}

                  <div class="row margin-none">
                      {{#each searchResults}}
                      	<div class="col-lg-4">
                        	{{> hangoutCard }}
                      	</div>
                    	{{/each}}
                  </div>

                {{else}}

								<div class="col-md-12">
									<div class="panel panel-default">
										<div class="panel-body">
											<h4>Sorry, no results were found.</h4>
											<p>Please check your spelling, or try another search.</p>
										</div>
									</div>
								</div>

                {{/if}}<!--searchResults.count-->

            {{else}}

              <div class="row">

                <div class="col-md-12">
                  {{> hangoutCards}}
                </div>
              </div>

            {{/if}}<!--searchMode-->

          </div>
      </div><!--col-md-6 col-md-offset-1-->

      <div class="col-md-4 padding-none">
        <div class="full-width-tabs">
          <ul id="statusTabs" class="nav nav-tabs" role="tablist">
            <li class="active full-width-tab"><a data-id="A" href="#A"><span class="tab-title">{{_ "i_am_working_on"}}</span></a></li>
            <li class="full-width-tab"><a data-id="B" href="#B"><span class="tab-title">{{_ "today_i_learned"}}</span></a></li>
          </ul>
        </div>
        <div class="tab-content status-fields">
          <div role="tabpanel" class="tab-pane active" id="A">
            {{> updateStatus type="working"}}
          </div>
          <div role="tabpanel" class="tab-pane" id="B">
            {{> updateStatus type="learned"}}
          </div>
        </div>
        <ul id="statusListTabs" style="display: none;" class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#AA"></a></li>
          <li><a href="#BB"></a></li>
        </ul>
        <div class="tab-content status-data">
          <div role="tabpanel" class="tab-pane active" id="AA">
            {{> statusList type="working"}}
          </div>
          <div role="tabpanel" class="tab-pane" id="BB">
            {{> statusList type="learned"}}
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

</template>
