<template name="homeLoggedOut">
<div class="section home-top">
	<div class="container">
	  <div class="row">
        <div class="col-md-5">
        	<h2>Need help or want to chat about code?</h2>
        	<p class="intro">Our community spends a lot of time helping each other 
        	on our <strong>Slack chatroom</strong>!</p>

        	<a href="http://codebuddiesmeet.slack.com" target="_blank"><button class="btn btn-slack">Join us on <img src="/images/slack-icon.png"><b>Slack</b></button></a>
        	<p class="footnote">If you don't have a CodeBuddies Slack account, <a href="http://codebuddiesmeet.herokuapp.com" target="_blank">sign up here.</a></p>

        	<div class="slack-note">
        		<p>Don't know what Slack is? You're missing out, buddy!
        		Don't worry, we've got you covered. <a href="https://get.slack.help/hc/en-us/articles/218080037-Getting-started-for-new-users" target="_blank">Learn more here.</a></p>
        	</div>
       </div>
       <div class="col-md-7">
       		<img src="http://codebuddies.org/images/slack-window.png" id="slack-screenshot">
       </div>
      </div>
    </div>
</div>


<div class="section home-middle">
	<div class="container">
	  <div class="row">
        <div class="col-md-6 col-centered">
        	<h2>We also have study hangouts</h2>
				<p class="align-center">We've discovered that joining a pre-scheduled (or spontaneously scheduled) screen-sharing Google Hangout is a fun way to learn a programming or web development skill quicker.</p>
        </div>
      </div>
     <div class="row" style="margin: 40px 0;">
       <div class="col-md-4 align-center">
       		<h3><i class="fa fa-microphone-slash text-danger-color type"></i> Silent Hangout</h3>
       		<p>Create a silent hangout to motivate yourself to get through a tutorial with others who are learning from the same tutorial, or create one for a fun silent coworking experience.
       		<br />
       		<em>Video off, microphone off, screensharing is optional.</em></p>
       </div>
       <div class="col-md-4 align-center">
       		<h3><i class="fa fa-user text-warning-color type"></i> Teaching Hangout</h3>
       		<p>Create a teaching hangout to practice teaching a concept or to walk participants through a codebase. This is your chance to share what you know!
       		<br /><em>Video off, microphone on, screensharing is helpful.</em></p>
       </div>
       <div class="col-md-4 align-center">
       		<h3><i class="fa fa-users text-success-color type"></i> Collaboration Hangout</h3>
       		<p>Create a collaboration hangout to pair program on a coding exercise, talk through a chapter of a coding tutorial together, or work on an open-sourced project with anyone who might be interested.
       		<br /><em>Video off, microphone on, screensharing is helpful.</em></p>

       </div>
      </div>
           <div class="row">
       <div class="col-md-6">
       		<h2>Don't miss out on <br />amazing hangouts!</h2>
       		<a class="btn btn-primary btn-outline">Yes, I want to join CodeBuddies!</a>
       </div>
       <div class="col-md-6 align-center">
       		<img src="http://codebuddies.org/images/hangout-screenshot.png"/>

       </div>
      </div>
    </div>
</div>


<div class="section home-psst align-center">
	<div class="container">
	  <div class="row">
	  		<p>psst... Check out some hangout tips <a href="#" id="hangout-tips">here!</a></p>
	  </div>
	 </div>
</div>
</template>