<template name="homeLoggedIn">
<div id="home">
	<div class="container padding-none width-100">
    <div class="row margin-none">
      <div class="col-md-8 padding-none">
        <div class="bg-blue">
            <div class="heading">
              <div class="title">Learn together in real time</div>
              <p>By joining or scheduling a hangout, you can ask questions, work through a tutorial, share ideas or pair program on an open-sourced project. <span class="question"><a id="hangout-faq-popup">Learn more</a></span></p>

              <div class="search-area">
  							{{#unless hangoutSearchMode }}
  	                <div class="btn btn-cb2  btn-schedule-hangout {{#unless currentUser}} continue-popup {{else}} create-hangout-popup {{/unless}}"> {{_ "create_a_hangout"}} </div>

  							{{else}}

  									<div class="btn btn-default btn-clear" id="clearSearch"> Clear </div>

  							{{/unless}}
                      <p>or</p>
                      <input type="text" class="form-control searchTerm" name="searchTerm" placeholder="&#128269; Search by topic" id="searchBox" value="{{hangoutSearchTerm}}">

              </div><!-- inner row-->
              <p class="key">
                      <span><i class="fas fa-microphone-slash text-danger-color"></i> Silent Hangout <i class="fas fa-question-circle" data-toggle="popover" data-placement="top" data-content="Studying with others is always more fun, even if no one's talking out loud. Screenshare to keep yourself on task/away from Facebook and YouTube, and also because it's fun to glance at what other people are working on. You can still check in about struggles and successes by typing in the hangout chatbox. <br /> <br /> Turn video and microphone off."></i></span>
                      <span><i class="fas fa-user text-warning-color"></i> Teaching Hangout <i class="fas fa-question-circle" data-toggle="popover" data-placement="top" data-content="Start a teaching hangout to get practice explaining something you want to master. <br /> <br /> Screenshare for best results."></i></span>
                      <span><i class="fas fa-users text-success-color"></i> Collaboration Hangout <i class="fas fa-question-circle" data-toggle="popover" data-placement="top" data-content="Start a collaboration hangout to invite others of all levels to learn something with you. Pick a tutorial or a project and jump right in; no one needs to be an expert to join, but code pairing or discussing a topic out loud accelerates learning. <br /> <br /> Mute yourself when you're not talking and turn video off."></i></span>
              </p>
             </div><!--heading-->

            <div class="hangouts-area">
          	{{#if hangoutSearchMode}}

                    <div class="search-message">
					    <h4>Showing results for <strong>'{{hangoutSearchTerm}}'</strong></h4>
                    </div>

                {{#if searchResults.count}}

                  <div class="row margin-none">
                      {{#each searchResults}}
                      	<div class="col-lg-4">
                        	{{> hangoutCard }}
                      	</div>
                    	{{/each}}
                  </div>

                {{else}}

                        <div class="search-message">
							<h4>Sorry, no results were found.</h4>
							<p>Please check your spelling, or try another search.</p>
                        </div>


                {{/if}}<!--searchResults.count-->

            {{else}}


        {{> hangoutCards}}

            {{/if}}<!--searchMode-->
        </div>

          </div>
      </div><!--col-md-6 col-md-offset-1-->

      <div class="col-md-4 padding-none">
        <div class="full-width-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="full-width-tab active">
              <a href="#onlineUserList" aria-controls="onlineUserList" role="tab" data-toggle="tab">{{_ "i_am_working_on"}}</a>
            </li>
            <li role="presentation" class="full-width-tab">
              <a href="#userLearningList" aria-controls="userLearningList" role="tab" data-toggle="tab">{{_ "today_i_learned"}}</a>
            </li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="onlineUserList">
              {{> updateStatus type="working"}}
              {{> statusList type="working"}}
            </div>
            <div role="tabpanel" class="tab-pane" id="userLearningList">
              {{> updateStatus type="learned"}}
              {{> statusList type="learned"}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

</template>
