<template name="home">
<div id="home" class="{{#if currentUser}}logged-in{{/if}}">
  {{#unless currentUser}}
      {{> homeLoggedOut}}
  {{else}}
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="heading">
              <div class="title">{{_ "join_hangouts"}} <span class="question"><a id="hangout-faq-popup"><i class="fa fa-question-circle fa-2x"></i></a></span> </div>
            </div><!--heading-->

            <div class="row search-area">
              <div class="col-md-7">
                  <input type="text" class="form-control searchTerm" name="searchTerm" placeholder="&#128269; Search" id="searchBox">
              </div>
              <div class="col-md-4">
                  <div class="btn btn-cb2" id="create-hangout-popup"> {{_ "create_a_hangout"}} </div>
                  <!-- <button id="create-hangout-popup" class="btn btn-cb2">{{_ "create_a_hangout"}}</button> -->
              </div>
            </div><!-- inner row-->


            <div class="heading">

            </div>
            {{#if searchMode}}
              <div class="page-header align-center"><h5>Showing results for '{{hangoutSearchQuery}}'</h5></div>
                {{#if searchResults.count}}

                  <ul id="hangouts">
                    {{#each searchResults}}
                      {{> hangoutItem}}
                    {{/each}}
                  </ul>

                {{else}}

                  <h4>Sorry, no results were found.</h4>
                  <p>Please check your spelling, or try another search.</p>

                {{/if}}<!--searchResults.count-->

            {{else}}

                {{> hangoutList}}

            {{/if}}<!--searchMode-->

          </div>
        </div><!-- panel-->
      </div><!--col-md-6 col-md-offset-1-->
      <div class="col-md-5">
        <div class="full-width-tabs">
          <ul id="statusTabs" class="nav nav-tabs" role="tablist">
            <li class="active full-width-tab"><a data-id="A" href="#A"><span class="tab-title">{{_ "i_am_working_on"}}</span></a></li>
            <li class="full-width-tab"><a data-id="B" href="#B"><span class="tab-title">{{_ "today_i_learned"}}</span></a></li>
          </ul>
        </div>
        <div class="tab-content status-fields">
          <div role="tabpanel" class="tab-pane active" id="A">
            {{> updateStatus type="working"}}
          </div>
          <div role="tabpanel" class="tab-pane" id="B">
            {{> updateStatus type="learned"}}
          </div>
        </div>
        <ul id="statusListTabs" style="display: none;" class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#AA"></a></li>
          <li><a href="#BB"></a></li>
        </ul>
        <div class="tab-content status-data">
          <div role="tabpanel" class="tab-pane active" id="AA">
            {{> statusList type="working"}}
          </div>
          <div role="tabpanel" class="tab-pane" id="BB">
            {{> statusList type="learned"}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/unless}}



</div>
</template>

