<template name="joinInfo">
  <div id="hangout-faq-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        	<button type="button" class="btn btn-circle btn-outline btn-info pull-right" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <h3 class="modal-title text-center">Join CodeBuddies</h3>
          
        </div>
        <div class="modal-body">
          <div class="row">
     
			     <ol>
            <li> If you don't have a CodeBuddies Slack account, get your invite:     <script async defer src="https://codebuddiesmeet.herokuapp.com/slackin.js"></script></li>
            <li>Join our <strong><a href="http://codebuddiesmeet.slack.com" target="_blank">Slack Chatroom</a></strong>.</li>

            <li>Log into this website by clicking on the <a href="#" class="signIn"><button class="btn btn-slack"><img src="/images/slack-icon.png">&nbsp;&nbsp;{{_ "sign_in_with"}} <b>Slack</b></button></a> button.</li>

           </ol>
         </div><!--row-->
      </div>
    </div>
  </div>
  </div>
</template>
