<template name="editStudyGroupResourcesModal">
  <div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form  class="updateStudyGroupResources">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h2>Links</h2>
            </div>
            <div class="modal-body">


              <div class="form-group {{#if isError 'sgResourceTitle'}}has-error{{/if}}">
                <label  class="control-label">Title</label>
                <input type="text" class="form-control" id="sgResourceTitle" placeholder="Title">
                {{#if isError 'sgResourceTitle'}}
                  <span class="help-block">{{alert.message}}</span>
                {{/if}}
              </div>

              <div class="form-group {{#if isError 'sgResourceURL'}}has-error{{/if}}">
                <label  class="control-label">URL</label>
                <input type="text" class="form-control" id="sgResourceURL" placeholder="https://example.com/">
                {{#if isError 'sgResourceURL'}}
                  <span class="help-block">{{alert.message}}</span>
                {{/if}}
              </div>

            </div><!--modal body-->

            <div class="modal-footer">
              {{#unless processing}}
                <button id="submit" class="btn btn-default btn-block">Save</button>
              {{else}}
                <button type="button" class="btn btn-default btn-block disabled"><i class="fas fa-sync fa-spin"></i> {{_ "state_processing"}}</button>
              {{/unless}}

              {{#if alert}}
              {{#unless alert.elementId}}
                <div class="margin-top-1 align-center alert {{alert.type}}">
                  <span>{{alert.message}}</span>
                </div>
              {{/unless}}
              {{/if}}
            </div>

          </form>

      </div><!--modal content-->
    </div><!--modal dialog-->
  </div>

</template>
