<template name="singleStudyGroup">
  {{#if Template.subscriptionsReady}}
    <div class="container" id="study-groups">
      {{#with studyGroup}}

        <br>
        <div class="row">
          <ol class="breadcrumb">
            {{#unless isInRole 'owner, moderator, member' _id}}
              <li><a href="{{pathFor 'all study groups'}}">Study Groups</a></li>
            {{else}}
              <li><a href="{{pathFor 'my study groups'}}">My Study Groups</a></li>
            {{/unless}}
            <li class="active">{{title}}</li>

          </ol>
        </div>

        {{#unless visibility}}
          <div class="text-center">
            <h4>This study group has been archived.</h4>
            <p>
              <a href="{{pathFor 'all study groups'}}"> Browse more</a> |
              <a href="{{pathFor 'home'}}"> Home</a>
            </p>
          </div>

        {{else}}
        <div id="show-sidebar">
          <a href="#">Show details</a>
        </div>
        <div class="row">

          <div class="col-md-3 well study-group-sidebar">
            {{#if equals visibility false}}
              <small class="label label-danger">Archived</small>
            {{/if}}
            <div id="hide-sidebar">
              <a href="#" class="pull-right"><i class="fas fa-times-circle" aria-hidden="true"></i></a>
            </div>

            <h2>{{title}}
                {{#if isInRole 'owner, admin' _id}}
                  <div class="btn btn-default pull-right" id="editTitle"><i class="fas fa-edit" aria-hidden="true"></i></div>
                {{/if}}

              <h5><i class="fas fa-map-pin" aria-hidden="true"></i> {{tagline}}</h5>

              <div class="margin-top-1">
                {{#unless isInRole 'owner, admin, moderator, member' _id}}
                  <div class="btn btn-cb2 {{#if currentUser}} joinStudyGroup {{else}} continue-popup {{/if}}">{{_ "join_study_group"}}</div>
                {{else}}
                  {{#if isInRole 'admin, moderator, member' _id}}
                    <div class="btn btn-cb2 leaveStudyGroup btn-leave">{{_ "leave_study_group"}}</div>
                  {{/if}}
                {{/unless}}

                {{#if isInRole 'owner, admin, moderator' _id}}
                  <div class="btn btn-cb2 btn-schedule-hangout {{#unless currentUser}} continue-popup {{/unless}}" id="{{#if currentUser}}newHangout{{/if}}">{{_ "create_a_hangout"}}</div>
                {{else}}
                    {{#if isInRole 'owner, admin, moderator, member' _id}}
                        {{#if equals exempt_from_default_permission true}}
                            <div class="btn btn-cb2 btn-schedule-hangout {{#unless currentUser}} continue-popup {{/unless}}" id="{{#if currentUser}}newHangout{{/if}}"  >{{_ "create_a_hangout"}}</div>
                            {{/if}}
                    {{/if}}
                {{/if}}

              </div>
            </h2>

            {{> studyGroupInfo}}

            {{> studyGroupOnlineMembers}}

          </div>
          <div class="col-md-9 study-group-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{_ 'description'}}</a></li>
            <li role="presentation"><a href="#247hangout" aria-controls="247hangout" role="tab" data-toggle="tab">{{_ 'twentyforseven'}}  {{#if numParticipants}}<span class="badge">{{numParticipants}}</span>{{/if}}</a></li>
            <li role="presentation"><a href="#hangouts" aria-controls="hangouts" role="tab" data-toggle="tab">{{_ 'hangouts'}}</a></li>
            <li role="presentation"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">{{_ 'members'}} ({{ members.length }})</a></li>
            <li role="presentation"><a href="#learnings" aria-controls="learnings" role="tab" data-toggle="tab">{{_ 'learnings'}} ({{ learningsCount }})</a></li>
            <li role="presentation"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab">{{_ 'links'}} ({{ resourcesCount }})</a></li>
            {{#if currentUser}}
              <li role="presentation"><a href="#activities" aria-controls="activity" role="tab" data-toggle="tab">{{_ 'activity'}}</a></li>
              <li role="presentation"><a href="#availability" aria-controls="availability" role="tab" data-toggle="tab">{{_ 'availability'}}</a></li>
              <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">{{_ 'discussion'}}</a></li>
            {{/if}}
            {{#if isInRole 'owner, moderator ' _id}}
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">{{_ 'settings'}}</a></li>
            {{/if}}
          </ul>



        <br>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="description">
             {{> studyGroupDescription}}
          </div>
          <div role="tabpanel" class="tab-pane" id="247hangout">
            <div class="text-center">
              {{#unless isInRole 'owner, admin, moderator, member' _id}}
                <p>Please join the study group to access the 24/7 hangout.</p>
                <img src="/images/click_to_load_hangout2.jpg" width="90%" class="load-hangout load-hangout-screenshot">
              {{else}}
                {{> hangoutFrame }}
                <p class="well">Chat or study with whomever is around! This room will always be open for this study group.</p>
              {{/unless}}

            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="hangouts">
            {{> studyGroupHangouts}}
          </div>

          <div role="tabpanel" class="tab-pane" id="members">
            {{> studyGroupMembers}}
          </div>

          <div role="tabpanel" class="tab-pane" id="resources">
            {{> studyGroupResources}}
          </div>

          <div role="tabpanel" class="tab-pane" id="learnings">
            {{> studyGroupLearnings}}
          </div>
          {{#if currentUser}}
            <div role="tabpanel" class="tab-pane" id="activities">
              {{> studyGroupActivities}}
            </div><!-- #/Activities -->

            <div role="tabpanel" class="tab-pane" id="availability">
               {{> studyGroupAvailability}}
            </div><!-- #/availability -->

            <div role="tabpanel" class="tab-pane" id="discussion">
               {{> studyGroupDiscussion}}
            </div><!-- #/discussion -->
          {{/if}}

          {{#if isInRole 'owner, admin' _id}}
            <div role="tabpanel" class="tab-pane" id="settings">
              {{> studyGroupSettings}}
            </div>
          {{/if}}

          <br>

        </div>
        </div>
        </div>



        {{/unless}}




      {{else}}
        Not found.
      {{/with}}

    </div><!-- ./container -->
  {{else}}
    {{> loading}}
  {{/if}}<!-- ./Template.subscriptionsReady -->
</template>
