<template name="studyGroupOwnersGuide">
  <div>
    <section class="conatainer-fluid section-header">
      <h1>Study Group Owners' Guide</h1>
      <a href="{{pathFor 'all study groups'}}"
         class="btn btn-link">
        <i class="fas fa-arrow-left"></i> Back to Study Groups
      </a>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2 section-body">
            <p>
              Hello there! Congratulations on creating a study group on CodeBuddies.org!
            </p>
            <p>
              <strong>
                As the study group owner, please make sure you tick off the following:
              </strong>
            </p>
            <ul class="tips-lists has-no-bullet-points">
              <li class="tips-lists-list">
                <label>
                  <input type="checkbox"> Have a short but attractive description for people to read on your group homepage. Clearly define what you want the goal of the study group to be. (Master X? Finish reading Y?).  Having good explanations will help potential members decide if your group fits their goal.
                </label>
				        <img src="/images/study_group_screenshot1.jpg">
              </li>

              <li class="tips-lists-list">
                <label>
                  <input type="checkbox"> Please note that the goal doesn’t have to be grandiose; the best goals are achievable because they’re small and specific!
                </label>
              </li>

              <li class="tips-lists-list">
                <label>
                  <input type="checkbox"> Make sure to add some topic-relevant links in the <strong>Links</strong> tab on your StudyGroup details page.  Label each clearly! Encourage your group members to pin links here, too.  Sharing diverse content helps start discussions and accelerates everyone’s learning.
                </label>
                <img src="/images/study_group_links.jpg">
              </li>

              <li class="tips-lists-list">
                <label>
                  <input type="checkbox"> Create a private channel on the CodeBuddies Slack (or request that a public one be created in #codebuddies-meta), and set a good purpose for it. If you’re short on ideas, feel free to set the purpose to be the URL of your study group.
                </label>
                <img src="/images/slack_study_group_example.jpg">
              </li>

              <li class="tips-lists-list">
                <label>
                  <input type="checkbox"> Invite and welcome new members when they join the study group and your Slack channel.  Get them as excited as you are about the topic!
                </label>
              </li>

              <li class="tips-lists-list">
                <label>
                  <input type="checkbox"> Decide whether you want to allow all study group members to schedule hangouts - or only the moderators and admins to schedule hangouts.  This is completely up to you.  Do this by selecting <strong>Settings</strong> tab on your StudyGroup details page.
                </label>
                <img src="/images/study_group_settings.jpg">
              </li>

              <li class="tips-lists-list">
                <label>
                  <input type="checkbox"> Remind / poke group members to set their current status in the [Members] tab on the StudyGroup details page.  Having even a small note about what they’re studying or what they’re working on keeps everyone accountable to their goals.
				        </label>
                <img src="/images/study_group_statuses.jpg">
              </li>
            </ul>

            <p><strong>Tips for making your study group succeed:</strong></p>
            <ol class="tips-lists">
              <li class="tips-lists-list">
                A study group is a study group as long as there is at least one other member interested in joining. Don’t worry about trying to get a lot of members; the important thing is that you accomplish the goal you set out to do by creating the study group. It’d be ideal if lots of other people who were interested in the same goal as you could connect with you.  But the point here is to mutually motivate one another - no matter how many people there are.
              </li>

              <li class="tips-lists-list">
                Sometimes you’ll have to DM to encourage your study partners, or post in the Slack channel to keep the study subject or scheduled hangouts fresh in their minds.  Remember:  you are not ‘bothering’ people.  Everyone gets busy and distracted!  Participants often need (and welcome) reminders that they’ve agreed to take part in your group.
              </li>

              <li class="tips-lists-list">
                If you’re feeling discouraged about the traction your study group is getting, reach out to the community.  Post in the #general channel about your group, have an Admin make a post in #announcements, or start up a discussion in relevant channel(s).
              </li>

              <li class="tips-lists-list">
                Writing down group accomplishments / learnings will help solidify them in memory and create a great record of what the group has achieved together.  It’ll also keep members accountable to their personal goals.  Be proud of coming together to collaborate!
              </li>
            </ol>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
