<template name="manageUser">
  <div class="page-header">
    <h3>Manage Users</h3>
  </div>

  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="{{pathFor 'user by role'}}/moderator">Moderators</a></li>
      <li role="presentation"><a href="{{pathFor 'user by role'}}/volunteer">Volunteers</a></li>
      <li role="presentation"><a href="{{pathFor 'user by role'}}/inactive">Inactive</a></li>
      <form class="navbar-form navbar-right" role="search">
         <div class="form-group">
           <input type="text" class="form-control searchTerm" name="searchTerm" placeholder="&#128269; Search" id="searchBox">
         </div>
       </form>
    </ul>
  </div>
  <div class="col-md-12">
    {{#if searchMode}}
      <div class="page-header">
        <h4 class="search-message">Showing results for <strong>'{{userSearchQuery}}'</strong></h4>
      </div>
      {{#if searchResults.count}}
        {{#each searchResults}}

          <a href="{{pathFor 'user by id'}}/{{_id}}">
            <div class="panel panel-default">
              <div class="panel-body">

                <div class="col-md-2">
                  <img src="{{profile.avatar.default}}" alt="avatar" />
                </div>
                <div class="col-md-10">
                  Name : {{#if profile.firstname}} {{profile.firstname}} {{profile.lastname}} {{else}} <i>Not-specified</i>{{/if}}<br>
                  Username : {{username}} <br>
                  Email : {{email}} <br>
                </div>

              </div><!-- panel-body -->
            </div><!-- panel panel-default -->
          </a>

        {{/each}}
      {{else}}
        <h4>Sorry, no results were found.</h4>
        <p>Please check your spelling, or try another search.</p>
      {{/if}}<!--searchResults.count-->
    {{/if}}<!--searchMode-->
  </div>

</template>
