<template name="inbox">
  <div class="container">
    <div class="page-header">
      <h4>
        Conversations
        <!-- <div class="pull-right">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div> -->
      </h4>
    </div>

    <div class="row">
      <div class="col-md-3">
        {{> conversations_list}}
      </div>
    </div><!-- ./row -->

  </div>

</template>
