<template name="unsubscribeFromMailingList">
  <div class="jumbotron align-center">
    <div class="container">
      <div class="row">
        {{#if Template.subscriptionsReady}}
        {{#with unsubscribeLink}}
        {{#if valid}}

        <div class="page-header">
          <h2 class="panel-title">Email Notifications</h2>
          <p>Control when and how often CodeBuddies sends emails to you.</p>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Hangouts</h3>
          </div>
          <div class="panel-body">

            <label class="control-label">Do not email me when:</label>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="join_hangout" checked="{{#if inList emails_preference 'join_hangout'}}checked{{/if}}">
                I join a hangout
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="rsvp_to_hangout" checked="{{#if inList emails_preference 'rsvp_to_hangout'}}checked{{/if}}">
                Someone joins my hangout
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="delete_hangout" checked="{{#if inList emails_preference 'delete_hangout'}}checked{{/if}}">
                A hangout I've RSVPEd to gets deleted
              </label>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Inbox</h3>
          </div>
          <div class="panel-body">
            <label class="control-label">Email me when:</label>
            <div class="checkbox">
              <label>
              <input type="checkbox" name="email_preference" value="new_direct_message" checked="{{#if inList emails_preference 'new_direct_message'}}checked{{/if}}">
                Someone message me
              </label>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Study Groups</h3>
          </div>
          <div class="panel-body">

            <label class="control-label">Do not email me when:</label>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="new_member" checked="{{#if inList emails_preference 'new_member'}}checked{{/if}}">
                Someone joins my study group
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="new_hangout" checked="{{#if inList emails_preference 'new_hangout'}}checked{{/if}}">
                Someone creates a new hangout in my study group
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="new_discussion" checked="{{#if inList emails_preference 'new_discussion'}}checked{{/if}}">
                Someone creates a new discussion in my study group
              </label>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Newsletter & Updates</h3>
          </div>
          <div class="panel-body">

            <label class="control-label">Do not email me with:</label>


            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="bi_weekly_newsletter" checked="{{#if inList emails_preference 'bi_weekly_newsletter'}}checked{{/if}}">
                A bi-weekly newsletter
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="email_preference" value="monthly_update" checked="{{#if inList emails_preference 'monthly_update'}}checked{{/if}}">
                Monthly updates regarding my study groups
              </label>
            </div>

          </div>
        </div>

        {{#unless instance.processing.get}}
        <div class="btn btn-primary" id="updateEmailPreferences">Confirm</div>
        <div class="btn btn-default" id="cancel">Cancel</div>
        {{else}}
        <button type="
            button" class="btn btn-primary btn-block disabled"><i class="fas fa-sync fa-spin"></i>
          Processing
        </button>
        {{/unless}}

        {{else}}
        <i class="fas fa-exclamation-triangle fa-4x" aria-hidden="true"></i>
        <h5>This link has expired.</h5>
        {{/if}}
        {{/with}}
        {{else}}
        {{> loading}}
        {{/if}}

      </div>
    </div>
  </div>
</template>
