<template name="userAccountSettings">
  <div class="container">
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>
          <li role="presentation"><a href="#notification" aria-controls="notification" role="tab" data-toggle="tab">Email Notifications</a></li>
        </ul>
        <br>
        <br>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="account">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Delete account</h3>
              </div>
              <div class="panel-body">
                <h5>Permanently delete your account and all of your content.</h5>
                <div class="btn btn-danger" id="deleteMyAccount">Delete My Account</div>
              </div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="notification">

            <div class="page-header">
              <h2 class="panel-title">Email Notifications</h2>
              <p>Control when and how often CodeBuddies sends emails to you.</p>
            </div>


            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Hangouts</h3>
              </div>
              <div class="panel-body">

                <label class="control-label">Email me when:</label>


                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="join_hangout" checked="{{#if inList emails_preference 'join_hangout'}}checked{{/if}}">

                    I join a hangout

                  </label>
                </div>

                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="rsvp_to_hangout" checked="{{#if inList emails_preference 'rsvp_to_hangout'}}checked{{/if}}">
                    Someone joins my hangout
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="delete_hangout" checked="{{#if inList emails_preference 'delete_hangout'}}checked{{/if}}">
                    A hangout I've RSVPEd to gets deleted
                  </label>
                </div>

              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Inbox</h3>
              </div>
              <div class="panel-body">
                <label class="control-label">Email me when:</label>
                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="new_direct_message" checked="{{#if inList emails_preference 'new_direct_message'}}checked{{/if}}">
                    Someone message me
                  </label>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Study Groups</h3>
              </div>
              <div class="panel-body">

                <label class="control-label">Email me when:</label>

                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="new_member" checked="{{#if inList emails_preference 'new_member'}}checked{{/if}}">
                    Someone joins my study group
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="new_hangout" checked="{{#if inList emails_preference 'new_hangout'}}checked{{/if}}">
                    Someone creates a new hangout in my study group
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="new_discussion" checked="{{#if inList emails_preference 'new_discussion'}}checked{{/if}}">
                    Someone creates a new discussion in my study group
                  </label>
                </div>

              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Newsletter & Updates</h3>
              </div>
              <div class="panel-body">

                <label class="control-label">Email me with:</label>


                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="bi_weekly_newsletter" checked="{{#if inList emails_preference 'bi_weekly_newsletter'}}checked{{/if}}">
                    A bi-weekly newsletter
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                  <input type="checkbox" name="email_preference" value="monthly_update" checked="{{#if inList emails_preference 'monthly_update'}}checked{{/if}}">
                    Monthly updates regarding my study groups
                  </label>
                </div>

              </div>
            </div>


            <div class="btn btn-default pull-right" id="{{#unless preferences_modified}}updateEmailsPreference{{/unless}}" disabled="{{#if preferences_modified}}disabled{{/if}}">Save</div> &nbsp; &nbsp; &nbsp;


          </div>

        </div>
        <!-- ./Tab panes -->


      </div><!-- ./panel-body-->
    </div><!-- ./panel-->

  </div>

</template>
