<template name="userAccountSettings">
  <div class="container">
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="account">
            <br>
            <br>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Delete account</h3>
              </div>
              <div class="panel-body">
                <h5>Your will lost all your hangouts, learnings and achievements.</h5>
                <div class="btn btn-danger" id="deleteMyAccount">Delete My Account</div>
              </div>
            </div>
          </div>

        </div><!-- ./Tab panes -->

      </div><!-- ./panel-body-->
    </div><!-- ./panel-->

  </div>

</template>
