<template name="privacyPolicy">
  <div id="about">

      <div class="section about-top">
        <div class="container">
          <div class="row">
              <div class="col-md-12 align-center">
                <h2>CodeBuddies Privacy Policy</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="section about-middle">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h3>Privacy Policy</h3>
                <p>
                  This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
                </p>
              <h3>What personal information do we collect from the people that visit our blog, website or app?</h3>
                <p>
                  When you register on our site using Github or Slack, we may collect your name, email address, avatar profile image, and timezone (if registering using Slack). On your profile page, you have the option to enter your Twitter handle, Github handle, Facebook URL, Linkedin URL, personal website URL, and short bio.  
                </p>
              <h3>When do we collect information?</h3>
                <p>
                  We collect information from you when you register on our site or enter information on our site.
                </p>
              <h3>How do we use your information?</h3>
                <p>
                  We may use the information we collect from you when you register, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
                  <ul>
                    <br>
                      <li>
                          To personalize your experience and to allow us to deliver the type of content in which you are most interested.
                      </li>
                      <li>
                          To send periodic emails regarding site announcements or new hangouts or study groups, as long as you've opted into email notifications in your Settings.
                      </li>
                  </ul>
                </p>
              <h3>Do we use 'cookies'?</h3>
                <p>
                  We do not use cookies for tracking purposes.
                </p>
              <h3>Third-party disclosure</h3>
                <p>
                  We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety.
                </p>
              <h3>Third-party links</h3>
                <p>
                  We do not include or offer third-party products or services on our website.
                </p>
              <h3>Google</h3>
                <p>
                  Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users.
                    <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">Info</a>
                </p>
              <h3>California Online Privacy Protection Act</h3>
                <p>
                    CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more  <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">here</a>
                </p>
                  <br>
                <p>
                  According to CalOPPA, we agree to the following:
                  <ul>
                    <br>
                    <li>
                        Users can visit our site anonymously.
                    </li>
                    <li>
                        Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
                    </li>
                    <li>
                        Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.
                    </li>
                  </ul>
                </p>
                  <br>
                <p>
                  You will be notified of any Privacy Policy changes:
                  <ul>
                    <br>
                      <li>
                      On our Privacy Policy Page
                      </li>
                  </ul>
                </p>
                  <br>
                <p>
                 Can change your personal information:
                  <ul>
                    <br>
                      <li>
                      By logging in to your account
                      </li>
                  </ul>
                </p>
              <h3>How does our site handle Do Not Track signals?</h3>
                <p>
                  We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.
                </p>
              <h3>Does our site allow third-party behavioral tracking?</h3>
                <p>
                    We do not allow third-party behavioral tracking
                </p>
              <h3>COPPA (Children Online Privacy Protection Act)</h3>
                <p>
                  When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.

                  We do not specifically market to children under the age of 16 years old.
                </p>
              <h3>Fair Information Practices</h3>
                <p>
                  The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
                <p>
                  <br>
                    <h4>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</h4>
                    <ul><li>Within 7 business days</li></ul>
                </p>
                  <br>
                <p>
                    <h4>We will notify the users via in-site notification</h4>
                    <ul><li>Within 7 business days</li></ul>
                </p>
                  <br>
                <p>
                  We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
                </p>
              <h3>CAN SPAM Act</h3>
                <p>
                    The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.

                    <h4>
                      <br>
                      We collect your email address in order to:
                    </h4>
                    <ul>
                        <li>
                            Send information, respond to inquiries, and/or other requests or questions
                        </li>
                        <li>
                            Market to our mailing list or continue to send emails to our clients after the original transaction has occurred.
                        </li>
                    </ul>
                      <br>
                    <h4>To be in accordance with CANSPAM, we agree to the following:</h4>
                    <ul>
                        <li>
                            Not use false or misleading subjects or email addresses.
                        </li>
                        <li>
                            Identify the message as an advertisement in some reasonable way.
                        </li>
                        <li>
                            Include the physical address of our business or site headquarters.
                        </li>
                        <li>
                            Monitor third-party email marketing services for compliance, if one is used.
                        </li>
                        <li>
                            Honor opt-out/unsubscribe requests quickly.
                        </li>
                        <li>
                            Allow users to unsubscribe by using the link at the bottom of each email.
                        </li>
                    </ul>
                </p>
            </div>
          </div>
        </div>
      </div>
      </div>
</template>
