<template name="allNotification">

  <div class="page-header">
    <h3>Notifications</h3>
  </div>

  {{#if Template.subscriptionsReady}}

    {{#if notifications.count}}
      {{#each notifications}}
        <p><i class="fa {{icon}}" aria-hidden="true"></i> {{#unless isActorAdmin 'actorId'}} {{actorUsername}} {{else}} <a href="{{pathFor 'user by id'}}/{{actorId}}"> {{actorUsername}}  </a>  {{/unless}} {{action}} <a href="{{pathFor 'user by id'}}/{{subjectId}}"> {{subjectUsername}} </a> <i>{{matter}}</i> {{dispDate createdAt}} </p>
      {{/each}}
      <!-- {{>Template.dynamic template=content}} -->
    {{else}}
      <h4>There is no notification</h4>
    {{/if}}

  {{else}}
    {{> loading}}
  {{/if}}



</template>
