<template name="allNotification">
  <div id="notification">



  <div class="page-header">
    <h3>Notifications</h3>
  </div>

  {{#if Template.subscriptionsReady}}
    <div id="flux">


    {{#if notifications.count}}
      {{#each notifications}}
        {{#if equals type 'reported hangout'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actorId}} {{actorUsername}} {{else}} <a href="{{pathFor 'user by id'}}/{{actorId}}"> {{actorUsername}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subjectId}}"> {{subjectUsername}}'s </a> <a href="{{pathFor 'hangout'}}/{{hangoutId}}"> hangout </a><i> {{matter}}</i> {{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'reported discussion'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actor.id}} {{actor.username}} {{else}} <a href="{{pathFor 'user by id'}}/{{actor.id}}"> {{actor.username}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subject.id}}"> {{subject.username}}'s </a> discussion  <a href="{{pathFor 'discussion' discussionId=discussion.id}}"> <b>{{discussion.topic}}</b> &nbsp;&nbsp; </a><i> {{matter}}</i>{{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'reported message'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actor.id}} {{actor.username}} {{else}} <a href="{{pathFor 'user by id'}}/{{actor.id}}"> {{actor.username}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subject.id}}"> {{subject.username}}'s </a> message  <a href="#"> <b>{{message.body}}</b> &nbsp;&nbsp; </a><i> {{matter}}</i>{{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'hangout edit'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actorId}} {{actorUsername}} {{else}} <a href="{{pathFor 'user by id'}}/{{actorId}}"> {{actorUsername}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subjectId}}"> {{subjectUsername}}'s </a> <a href="{{pathFor 'hangout'}}/{{hangoutId}}"> hangout </a><i>. </i> {{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'discussion edit'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actor.id}} {{actor.username}} {{else}} <a href="{{pathFor 'user by id'}}/{{actor.id}}"> {{actor.username}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subject.id}}"> {{subject.username}}'s </a> discussion <a href="{{pathFor 'discussion' discussionId=discussion.id}}"> <b>{{discussion.topic}}</b></a><i>. </i> {{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'hangout delete'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actorId}} {{actorUsername}} {{else}} <a href="{{pathFor 'user by id'}}/{{actorId}}"> {{actorUsername}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subjectId}}"> {{subjectUsername}}'s </a> <a href="{{pathFor 'hangout'}}/{{hangoutId}}"> hangout </a><i>. </i> {{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'discussion delete'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actor.id}} {{actor.username}} {{else}} <a href="{{pathFor 'user by id'}}/{{actor.id}}"> {{actor.username}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subject.id}}"> {{subject.username}}'s </a> discussion <a href="{{pathFor 'discussion' discussionId=discussion.id}}"> <b>{{discussion.topic}}</b></a><i>. </i> {{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'role update'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actorId}} {{actorUsername}} {{else}} <a href="{{pathFor 'user by id'}}/{{actorId}}"> {{actorUsername}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subjectId}}"> {{subjectUsername}} </a> <i>{{matter}}</i> {{dispDate createdAt}} </p>
        {{/if}}
        {{#if equals type 'hangout end'}}
          <p class="alert {{#if hasBeenSeen}}  {{else}} markAsRead alert-info{{/if}}"><i class="fas {{icon}}" aria-hidden="true"> </i> {{#if isActorAdmin actorId}} {{actorUsername}} {{else}} <a href="{{pathFor 'user by id'}}/{{actorId}}"> {{actorUsername}}  </a>  {{/if}} {{action}} <a href="{{pathFor 'user by id'}}/{{subjectId}}"> {{subjectUsername}}'s </a> <a href="{{pathFor 'hangout'}}/{{hangoutId}}"> hangout </a><i>. </i> {{dispDate createdAt}} </p>
        {{/if}}
      {{/each}}

    {{else}}
      <h4>There are no notifications.</h4>
    {{/if}}<!--notifications.count-->
  </div>
  {{else}}
    {{> loading}}
  {{/if}}<!--Template.subscriptionsReady-->


  </div>
</template>
