<template name="allNotification">

  <ol class="breadcrumb">
    <li><a href="{{pathFor 'dashboard'}}">Dashboard</a></li>
    <li class="active">Notifications</li>
  </ol>

  <div class="page-header">
    <h3>Notifications</h3>
  </div>


  <div class="page-header">
    <h5>Today</h5>
    <a href="#"> <p> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> System Aleart</p> </a>
    <a href="#"> <p> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> When someone edits something</p> </a>
    <a href="#"> <p> <i class="fa fa-ban" aria-hidden="true"></i> When someone reports something</p> </a>
  </div>

  <div class="page-header">
    <h5>14 April</h5>
  </div>

  <div class="page-header">
    <h5>13 April</h5>
  </div>

</template>
