<title>{{data.title}} </title>
<meta name="description" content="{{data.description}}">

<!-- Open Graph Meta Tags -->
<meta property="og:type" content="{{data.type}}"/>
<meta property="og:title" content="{{data.title}}"/>
<meta property="og:description" content="{{data.description}}"/>
<meta property="og:site_name" content="{{data.site_name}}"/>
<meta property="og:url" content="{{data.url}}"/>
<meta property="og:image" content="{{data.image}}"/>

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="{{data.card}}"/>
<meta name="twitter:title" content="{{data.title}}"/>
<meta name="twitter:description" content="{{data.description}}"/>
<meta name="twitter:image" content="{{data.image}}"/>
<meta name="twitter:site" content="{{data.site}}"/>
<meta name="twitter:creator" content="{{data.creator}}"/>
